package pages

import (
	"seek/internal/views/layouts"
	"seek/internal/views/components/badge"
	"seek/internal/domain/models"
	"seek/internal/views/blocks/data_table"
	"seek/internal/features/students/dto"
	"seek/internal/views/components/button"
)

templ Components(user models.User, tableView dto.TableView) {
	@layouts.Base("SEEK: components", user) {
		<main style="display: flex; flex-direction: column; gap: 1rem;">
			<section style="display: grid; gap: var(--size-2);">
				<h3>buttons</h3>
				@button.Button() {
					default
				}
				@button.Button(button.Props{
					Variant: button.VariantOutline,
				}) {
					outline
				}
				@button.Button(button.Props{
					Variant: button.VariantGhost,
				}) {
					ghost
				}
				@button.Button(button.Props{
					Variant: button.VariantLink,
				}) {
					link
				}
			</section>
			<section style="display: grid; gap: var(--size-2);">
				<h3>badges</h3>
				@badge.BadgeStyles()
				@badge.Badge() {
					default
				}
				@badge.Badge(badge.Props{
					Attributes: templ.Attributes{
						"data-theme": "secondary",
					},
				}) {
					secondary
				}
				@badge.Badge(badge.Props{
					Attributes: templ.Attributes{
						"data-theme": "destructive",
					},
				}) {
					destructive
				}
			</section>
			<section style="display: grid; gap: var(--size-2);">
				<h3>table</h3>
				@datatable.DataTable(tableView)
			</section>
		</main>
	}
}