package pages

import (
	"seek/internal/views/layouts"
	"seek/internal/views/components/badge"
	"seek/internal/domain/models"
)

templ Components(user models.User) {
	@layouts.Base("SEEK: components", user) {
		<main>
			<section style="display: grid; gap: var(--size-2);">
				<h3>badges</h3>
				@badge.BadgeStyles()
				@badge.Badge() {
					default
				}
				@badge.Badge(badge.Props{
					Attributes: templ.Attributes{
						"data-theme": "secondary",
					},
				}) {
					secondary
				}
				@badge.Badge(badge.Props{
					Attributes: templ.Attributes{
						"data-theme": "destructive",
					},
				}) {
					destructive
				}
			</section>
		</main>
	}
}