package pages

import (
	"seek/internal/views/components"
	"seek/internal/views/components/popover"
	"seek/internal/views/layouts"
	"seek/internal/views/components/card"
)

templ Index() {
	@layouts.Base("SEEK") {
		<main>
			<section>
				<h1>SEEK</h1>
				<p>aka shared educational environment knowledge</p>
				<p>many features to come</p>
			</section>
			<section style="display: grid; gap: var(--size-2); grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));">
				@card.CardStyles()
				@card.Card() {
					@card.Header() {
						@card.Title() {
							@components.Icon("mdi:calendar-multiselect")
							schedules
						}
						@card.Description() {
							view, create, and manage schedules
						}
					}
					@card.Content() {
							<h4>features (coming soon)</h4>
							<ul style="list-style-type: circle; padding-left: var(--size--1); margin-left: var(--size-0);">
								<li>notifications on change</li>
								<li>plan for actual calendar dates</li>
								<li>printable version for student visual schedule</li>
								<li>collaborative schedule creation</li>
							</ul>
					}
					@card.Footer() {
						<a href="/schedules"><button>list</button></a>	
						<a href="/schedules/create"><button>create</button></a>
					}
				}
				@card.Card() {
					@card.Header() {
						@card.Title() {
							@components.Icon("mdi:clock")
							periods
						}
						@card.Description() {
							periods make up schedules.
						}
					}
					@card.Content() {
							<h4>features (coming soon)</h4>
							<ul style="list-style-type: circle; padding-left: var(--size--1); margin-left: var(--size-0);">
								<li>notifications on change</li>
								<li>assign students with relevant goals</li>
								<li>take attendance</li>
								<li>lesson plans</li>
							</ul>
					}
					@card.Footer() {
						<a href="/periods"><button>list</button></a>	
						<a href="/periods/create"><button>create</button></a>
					}
				}
				@card.Card() {
					@card.Header() {
						@card.Title() {
							@components.Icon("mdi:account-student")
							students
						}
						@card.Description() {
							can't live with them, can't live without their funding.
						}
					}
					@card.Content() {
							<h4>features (coming soon)</h4>
							<ul style="list-style-type: circle; padding-left: var(--size--1); margin-left: var(--size-0);">
								<li>pictures?</li>
								<li>SPED data</li>
								<li>schedule view</li>
							</ul>
					}
					@card.Footer() {
						<a href="/students"><button>list</button></a>	
						<a href="/students/create"><button>create</button></a>
					}
				}
				@card.Card() {
					@card.Header() {
						@card.Title() {
							@components.Icon("mdi:teach")
							teachers
						}
						@card.Description() {
							they do the work of learning the students.
						}
					}
					@card.Content() {
							<h4>features (coming soon)</h4>
							<ul style="list-style-type: circle; padding-left: var(--size--1); margin-left: var(--size-0);">
								<li>profiles?</li>
								<li>view their schedule</li>
								<li>caseloads</li>
								<li>idk</li>
							</ul>
					}
					@card.Footer() {
						<a href="/teachers"><button>list</button></a>	
						<a href="/teachers/create"><button>create</button></a>
					}
				}
			</section>
			@popover.Trigger(popover.TriggerProps{
				ID: "trigger",
				For: "content",
			}) {
				popover
			}
			@popover.Content(popover.ContentProps{
				ID: "content",
				Anchor: "trigger",
			}) {
				this is a thing.
			}
		</main>
	}
}