package pages

import (
	"seek/internal/views/layouts"
)

templ Index() {
	@layouts.Base("SEEK") {
		<main>
			<section>
				<h1>SEEK</h1>
				<p>aka shared educational environment knowledge</p>
				<p>many features to come</p>
			</section>
		</main>
	}
}