package pages

import (
	"seek/internal/domain/models"
	"seek/internal/views"
	"seek/internal/views/layouts"

	"github.com/starfederation/datastar-go/datastar"
)

templ CreatePeriod() {
	@layouts.Base("SEEK: create period") {
		<main data-init={ views.LongRunningGetSSE("/periods/create/stream") }>
			<section>
				<h1>CREATE A PERIOD</h1>
				<p>create a new period</p>
				<form data-on:submit={ datastar.PostSSE("/periods/create") }>
					<label for="title">title</label>
					<input id="title" name="title" data-bind:title />
					<label for="start_time">start time</label>
					<input id="start_time" name="start_time" data-bind:start_time />
					<label for="duration">duration</label>
					<input id="duration" name="duration" data-bind:duration type="number" />
					<label for="days">days</label>
					<input id="days" name="days" data-bind:days type="number" />
					<button type="submit">
						<span>submit</span>
					</button>
				</form>
			</section>
		</main>
	}
}

templ EditPeriod(period models.Period) {
	@layouts.Base("SEEK: create period") {
		<main data-init={ views.LongRunningGetSSE("/periods/create/stream") }>
			<section>
				<h1>EDIT A PERIOD</h1>
				<p>edit a period</p>
				<form data-on:submit={ datastar.PatchSSE("/periods/%s", period.Id)}>
					<label for="title">title</label>
					<input id="title" name="title" data-bind:title value={ period.Title }>
					<label for="start_time">start time</label>
					<input id="start_time" name="start_time" data-bind:start_time  value={ period.StartTime }/>
					<label for="duration">duration</label>
					<input id="duration" name="duration" data-bind:duration type="number" value={ period.Duration }/>
					<label for="days">days</label>
					<input id="days" name="days" data-bind:days type="number"  value={ period.Days }/>
					<button type="submit">
						<span>submit</span>
					</button>
				</form>
			</section>
		</main>
	}
}