package pages

import (
	"seek/internal/domain/models"
	"seek/internal/features/period"
	"seek/internal/views/layouts"
	"seek/internal/views/blocks"
)

templ EditPeriod(period, editedPeriod models.PeriodSignals, validation map[string]period.Validation) {
	@layouts.Base("SEEK: edit period") {
		<main>
			<section>
				@blocks.EditPeriodForm(period, editedPeriod, validation)
			</section>
		</main>
	}
}