package pages

import (
	"fmt"
	"seek/internal/views"
	"seek/internal/views/layouts"
	"seek/internal/views/blocks"
)



templ EditSchedule(vm blocks.EditScheduleViewModel) {
	@layouts.Base("SEEK: edit schedule") {
		<main data-init={ views.LongRunningGetSSE(fmt.Sprintf("/schedules/%s/edit/stream", vm.Schedule.ID)) }>
			<section style="display: flex;">
				@blocks.EditScheduleForm(vm)
				@blocks.ScheduleComponent(blocks.ScheduleComponentViewModel{
					Schedule: vm.Schedule,
					Periods: vm.SchedulePeriods,
				})
			</section>
		</main>
	}
}