package pages

import (
	"seek/internal/views"
	"seek/internal/views/layouts"
	"seek/internal/views/blocks"
)

templ Schedule() {
	@layouts.Base("SEEK: schedule") {
		<main data-init={ views.LongRunningGetSSE("/schedules/stream") }>
			@blocks.ScheduleComponent(60)
		</main>
	}
}