package pages

import (
	"seek/internal/domain/models"
	"seek/internal/features/schedule"
	"seek/internal/views/layouts"
	"seek/internal/views/blocks"
)

templ EditSchedule(schedule models.Schedule, teachers []models.Teacher, periods []models.Period, validation map[string]schedule.Validation, selectedTeacherId string) {
	@layouts.Base("SEEK: edit schedule") {
		<main>
			<section>
				@blocks.EditScheduleForm(schedule, teachers, periods, validation, selectedTeacherId)
			</section>
		</main>
	}
}