package pages

import (
	"fmt"
	"seek/internal/views"
	"seek/internal/views/layouts"
	"seek/internal/views/blocks"
)



templ EditSchedule(esvm blocks.EditScheduleViewModel, scvm blocks.ScheduleComponentViewModel) {
	@layouts.Base("SEEK: edit schedule") {
		<main data-init={ views.LongRunningGetSSE(fmt.Sprintf("/schedules/%s/edit/stream", esvm.Schedule.ID)) }>
			<section style="display: flex;">
				@blocks.EditScheduleForm(esvm)
				@blocks.ScheduleComponent(scvm)
			</section>
		</main>
	}
}