package pages

import (
	"seek/internal/views"
	"seek/internal/views/layouts"
	"seek/internal/views/components"
	"seek/internal/views/blocks"
)

type StudentsSignals struct {
	StudentDataView views.DataView
}

templ Students(students []views.Student) {
	@layouts.Base("SEEK: students") {
		<main data-signals:view="5">
			<section>
				<h1>STUDENTS</h1>
				<p>review and enter student data here</p>
				<p>many features to come</p>
				<div>
					<input type="number" data-bind:view />
					<button data-on:click="$view=0">
						@components.Icon("solar:list-bold-duotone")
						<span>list</span>
					</button>
					<button data-on:click="$view=1">
						@components.Icon("solar:widget-bold-duotone")
						<span>cards</span>
					</button>
				</div>
				@blocks.StudentList(students)
			</section>
		</main>
	}
}