package pages

import (
	"seek/internal/domain/models"
	"seek/internal/features/student"
	"seek/internal/views"
	"seek/internal/views/blocks"
	"seek/internal/views/layouts"
)

templ EditStudent(student models.Student, validation map[string]student.Validation, selectedGrade string) {
	@layouts.Base("SEEK: edit student") {
		<main data-init={ views.LongRunningGetSSE("/students/edit/stream") }>
			<section>
				@blocks.EditStudentForm(student, validation, selectedGrade)
			</section>
		</main>
	}
}