package pages

import (
	"seek/internal/domain/models"
	"seek/internal/features/student"
	"seek/internal/views"
	"seek/internal/views/blocks"
	"seek/internal/views/layouts"
)

templ CreateStudent(student models.Student, validation map[string]student.Validation, selectedGrade string) {
	@layouts.Base("SEEK: create student") {
		<main data-init={ views.LongRunningGetSSE("/students/create/stream") }>
			<section>
				@blocks.CreateStudentForm(student, validation, selectedGrade)
			</section>
		</main>
	}
}