package pages

import (
	"seek/internal/views"
	"seek/internal/views/layouts"
)

templ CreateTeacher() {
	@layouts.Base("SEEK: create teacher") {
		<main data-init={ views.LongRunningGetSSE("/teachers/create/stream") }>
			<section>
				<h1>CREATE A TEACHER</h1>
				<p>create a new teacher</p>
				<form data-on:submit="@post('/teacher')">
					<label for="first_name">first</label>
					<input id="first_name" name="first_name" data-bind:first_name />
					<label for="chosen_name">chosen</label>
					<input id="chosen_name" name="chosen_name" data-bind:chosen_name />
					<label for="last_name">last</label>
					<input id="last_name" name="last_name" data-bind:last_name />
					<button type="submit">
						<span>submit</span>
					</button>
				</form>
			</section>
		</main>
	}
}