package blocks

import (
	"fmt"

	"seek/internal/features/educators/dto"
	"seek/pkg/templui/components/button"
	"seek/pkg/templui/components/card"
	"seek/pkg/templui/components/icon"
)

templ Card(view dto.EducatorView) {
	@card.Card(card.Props{
		ID:    fmt.Sprintf("educator-%s-card", view.Username),
		Class: "educator-card w-128",
	}) {
		@card.Header() {
			@card.Title() {
				{ view.FullName() }
			}
		}
		@card.Content() {
			<p>role: { view.Role }</p>
			<p>email: { view.Email }</p>
		}
		@card.Footer() {
			@button.Button(button.Props{
				Href: fmt.Sprintf("%s/edit", view.URL),
			}) {
				@icon.Pencil(icon.Props{
					Size: "16",
				})
				<span>edit</span>
			}
		}
	}
}
