package blocks

import (
	"seek/internal/features/educators/dto"
	"seek/internal/views/blocks/forms"

	"github.com/starfederation/datastar-go/datastar"
)

templ EducatorCreateForm(url string, view dto.EducatorView) {
	<form
		id="educator-create-form"
		class="seek-form"
		data-on:submit={ datastar.PostSSE(url) }
	>
		<hgroup>
			<h2>create educator</h2>
			<p>create a new educator.</p>
		</hgroup>
		@FormSections(url, view)
		<footer>
			@forms.CancelButton()
			@forms.SaveButton()
		</footer>
	</form>
}
