package blocks

import (
	"fmt"

	"seek/internal/features/_shared/sharedmodels"
	"seek/internal/features/educators/dto"
	"seek/internal/ui/core/coreblocks/forms"

	"github.com/starfederation/datastar-go/datastar"
)

templ EducatorForm(view dto.EducatorFormView) {
	{{ url := sharedmodels.GetURLFromContext(ctx) }}
	<form
		id={ fmt.Sprintf("educator-%s-form", view.FormType) }
		class="w-full max-w-264 gap-10 flex flex-col"
		data-on:submit={ datastar.PostSSE("%s", url) }
	>
		<div class="w-full gap-8 flex flex-wrap">
			@FormSections(view)
		</div>
		<footer class="flex gap-8">
			@forms.CancelButton("/educators")
			@forms.SaveButton()
		</footer>
	</form>
}
