package blocks

import (
	"seek/internal/features/educators/dto"
	"seek/internal/views/blocks/forms"

	"fmt"
	"github.com/starfederation/datastar-go/datastar"
	"seek/pkg/templui/components/selectbox"
)

templ EducatorEditForm(view dto.EducatorView) {
	<form
		id="educator-edit-form"
		class="seek-form"
		data-on:submit={ datastar.PostSSE("/educators/%s/edit", view.ID) }
	>
		<hgroup>
			<h2>edit educator</h2>
			<p>edit the data of an existing educator.</p>
		</hgroup>
		<section>
			@forms.TextInputWithLabel(
				"given-name-label",
				"given name",
				fmt.Sprintf("/educators/%s/edit/validate", view.ID),
				"educator.given_name",
				view.GivenName,
			)
			@forms.TextInputWithLabel(
				"chosen-name-label",
				"chosen name",
				fmt.Sprintf("/educators/%s/edit/validate", view.ID),
				"educator.chosen_name",
				view.ChosenName,
			)
			@forms.TextInputWithLabel(
				"family-name-label",
				"family name",
				fmt.Sprintf("/educators/%s/edit/validate", view.ID),
				"educator.family_name",
				view.FamilyName,
			)
		</section>
		<section>
			@selectbox.SelectBox() {
				@selectbox.Trigger(selectbox.TriggerProps{
					Attributes: templ.Attributes{
						"data-bind:educator.role": "",
					},
				}) {
					@selectbox.Value(selectbox.ValueProps{
						Placeholder: "select a role",
					})
				}
				@selectbox.Content(selectbox.ContentProps{
					NoSearch: true,
				}) {
					@selectbox.Item(selectbox.ItemProps{
						Value:    "coteacher",
						Selected: view.Role == "coteacher",
					}) {
						co-teacher
					}
					@selectbox.Item(selectbox.ItemProps{
						Value:    "ea",
						Selected: view.Role == "ea",
					}) {
						EA
					}
					@selectbox.Item(selectbox.ItemProps{
						Value:    "teacher",
						Selected: view.Role == "teacher",
					}) {
						teacher
					}
					@selectbox.Item(selectbox.ItemProps{
						Value:    "admin",
						Selected: view.Role == "admin",
					}) {
						admin
					}
				}
			}
			@selectbox.Script()
		</section>
		<section>
			@forms.TextInputWithLabel(
				"email-label",
				"email",
				fmt.Sprintf("/educators/%s/edit/validate", view.ID),
				"educator.email",
				view.Email,
			)
		</section>
		<footer>
			@forms.CancelButton()
			@forms.SaveButton()
		</footer>
	</form>
}
