package blocks

import (
	"seek/internal/features/educators/dto"
	"seek/internal/ui/core/coreblocks/forms"

	"github.com/starfederation/datastar-go/datastar"
)

templ EducatorEditForm(view dto.EducatorView) {
	<form
		id="educator-edit-form"
		class="seek-form w-128"
		data-on:submit={ datastar.PostSSE(view.URL) }
	>
		<hgroup>
			<h2>edit educator</h2>
			<p>edit the data of an existing educator.</p>
		</hgroup>
		@FormSections(view)
		<footer>
			@forms.CancelButton()
			@forms.SaveButton()
		</footer>
	</form>
}
