package blocks

import (
	"seek/internal/features/_shared/sharedmodels"
	"seek/internal/features/educators/dto"
	"seek/internal/ui/core/coreblocks/forms"
	"seek/pkg/templui/components/label"
	"seek/pkg/templui/components/selectbox"
)

templ FormSections(view dto.EducatorFormView) {
	{{ url := sharedmodels.GetURLFromContext(ctx) }}
	@selectbox.Script()
	@HiddenInputs(view)
	@forms.Fieldset("name") {
		@forms.TextInputWithLabel(forms.TextInputWithLabelProps{
			ID:        "given-name",
			LabelText: "given name",
			Value:     view.GivenName,
			Bind:      "educator.given_name",
			URL:       url,
		})
		@forms.TextInputWithLabel(forms.TextInputWithLabelProps{
			ID:        "chosen-name",
			LabelText: "chosen name",
			Value:     view.ChosenName,
			Bind:      "educator.chosen_name",
			URL:       url,
		})
		@forms.TextInputWithLabel(forms.TextInputWithLabelProps{
			ID:        "family-name",
			LabelText: "family name",
			Value:     view.FamilyName,
			Bind:      "educator.family_name",
			URL:       url,
		})
	}
	@forms.Fieldset("school") {
		@forms.TextInputWithLabel(forms.TextInputWithLabelProps{
			ID:        "email",
			LabelText: "email",
			Value:     view.Email,
			Bind:      "educator.email",
			URL:       url,
		})
		@selectbox.SelectBox() {
			@label.Label(label.Props{
				Class: "text-neutral-content/70 mb-3",
				For:   "educator-role-select",
			}) {
				role(s)
			}
			@selectbox.Trigger(selectbox.TriggerProps{
				ID:        "educator-role-select",
				ShowPills: true,
				Attributes: templ.Attributes{
					"data-bind:educator.role": "",
				},
			}) {
				@selectbox.Value(selectbox.ValueProps{
					Placeholder: "select at least one role",
				})
			}
			@selectbox.Content(selectbox.ContentProps{
				NoSearch: true,
			}) {
				for _, role := range view.Roles {
					@selectbox.Item(selectbox.ItemProps{
						Value:    role.String,
						Selected: role.IsSelected,
					}) {
						{ role.String }
					}
				}
			}
		}
	}
}

templ HiddenInputs(view dto.EducatorFormView) {
	<input id="educator-id" class="hidden" data-bind:educator.id value={ view.ID }/>
	<input id="educator-username" class="hidden" data-bind:educator.username value={ view.Username }/>
}
