package blocks

import (
	"seek/internal/features/_shared/sharedmodels"
	"seek/internal/features/educators/dto"
	"seek/internal/ui/core/coreblocks/forms"
	"seek/pkg/templui/components/label"
	"seek/pkg/templui/components/selectbox"
)

templ FormSections(view dto.EducatorFormView) {
	{{ url := sharedmodels.GetURLFromContext(ctx) }}
	<fieldset>
		<input class="hidden" data-bind:educator.id value={ view.ID }/>
		<legend>name</legend>
		@forms.TextInputWithLabel(
			"given-name",
			"given name",
			url,
			"educator.given_name",
			view.GivenName,
		)
		@forms.TextInputWithLabel(
			"chosen-name",
			"chosen name",
			url,
			"educator.chosen_name",
			view.ChosenName,
		)
		@forms.TextInputWithLabel(
			"family-name",
			"family name",
			url,
			"educator.family_name",
			view.FamilyName,
		)
	</fieldset>
	<fieldset>
		<legend>email</legend>
		@forms.TextInputWithLabel(
			"email",
			"email",
			url,
			"educator.email",
			view.Email,
		)
	</fieldset>
	<fieldset>
		<legend>role</legend>
		@selectbox.SelectBox() {
			@label.Label(label.Props{
				Class: "text-neutral-content/70 mb-3",
				For:   "educator-role-select",
			}) {
				role(s)
			}
			@selectbox.Trigger(selectbox.TriggerProps{
				ID:        "educator-role-select",
				ShowPills: true,
				Attributes: templ.Attributes{
					"data-bind:educator.role": "",
				},
			}) {
				@selectbox.Value(selectbox.ValueProps{
					Placeholder: "select at least one role",
				})
			}
			@selectbox.Content(selectbox.ContentProps{
				NoSearch: true,
			}) {
				for _, role := range view.Roles {
					@selectbox.Item(selectbox.ItemProps{
						Value:    role.String,
						Selected: role.IsSelected,
					}) {
						{ role.String }
					}
				}
			}
		}
		@selectbox.Script()
	</fieldset>
}
