package blocks

import (
	"seek/internal/features/_shared/sharedmodels"
	"seek/internal/features/educators/dto"
	"seek/internal/ui/core/coreblocks/forms"

	"github.com/starfederation/datastar-go/datastar"
)

templ EducatorCreateForm(view dto.EducatorFormView) {
	{{ url := sharedmodels.GetURLFromContext(ctx) }}
	<form
		id="educator-create-form"
		class="seek-form w-128"
		data-on:submit={ datastar.PostSSE("%s", url) }
	>
		@FormSections(view)
		<footer>
			@forms.CancelButton()
			@forms.SaveButton()
		</footer>
	</form>
}
