package blocks

import (
	"fmt"
	"strings"

	"seek/internal/features/_shared/sharedmodels"
	"seek/internal/features/educators/dto"
	"seek/pkg/templui/components/avatar"
	"seek/pkg/templui/components/button"
	"seek/pkg/templui/components/icon"
	"seek/pkg/templui/components/label"
	"seek/pkg/utils"
)

templ SelectMulti(parent string, view dto.SelectView) {
	@avatar.Script()
	<div class="flex flex-col">
		@label.Label(label.Props{
			For:   "educators-list-search",
			Class: "mb-3 text-neutral-content/90",
		}) {
			select an educator
		}
		<div class="flex gap-3 items-center">
			<neo-popover
				class="w-full"
				placement="bottom"
				match-trigger-width="true"
			>
				@SelectSearchInput()
				@SelectOptions(view.Options)
			</neo-popover>
		</div>
	</div>
}

templ SelectSearchInput() {
	{{ url := sharedmodels.GetURLFromContext(ctx) }}
	<div
		class="flex items-center gap-2 relative input"
		data-neo-popover-trigger
	>
		@icon.Search(icon.Props{
			Class: "size-4 absolute left-3 top-1/2 -translate-y-1/2 stroke-neutral-content/80",
		})
		<input
			type="search"
			id="educators-list-search"
			class="pl-8"
			data-bind:educator_select.filter.search
			data-on:input__debounce.250ms={ utils.QueryValidate(url) }
		/>
	</div>
}

templ SelectOptions(options []dto.SelectOption) {
	{{ url := sharedmodels.GetURLFromContext(ctx) }}
	<ul
		data-neo-popover-content
		class="flex flex-col gap-1 w-full h-64"
	>
		for _, educator := range options {
			<li
				data-on:click={ fmt.Sprintf("@query('%s/educators/%s')", url, educator.ID) }
				class={ utils.TwMerge(
							"text-sm flex items-center justify-between cursor-pointer hover:bg-primary/80 active:bg-primary/90 px-2 py-1 rounded-md",
							utils.If(educator.Selected, "bg-primary"),
				) }
			>
				<div class="flex items-center gap-2">
					@avatar.Avatar() {
						@avatar.Fallback(avatar.FallbackProps{
							Class: "bg-secondary",
						}) {
							{ educator.Initials() }
						}
					}
					<span>{ educator.NameInitial() }</span>
				</div>
				if educator.Selected {
					@icon.Check(icon.Props{Class: "size-4"})
				}
			</li>
		}
	</ul>
}

templ SelectListCards(selected []dto.EducatorView) {
	if len(selected) > 0 {
		{{ url := sharedmodels.GetURLFromContext(ctx) }}
		<ul class="grid grid-cols-[repeat(auto-fill,minmax(128px,1fr))] gap-3">
			for _, educator := range selected {
				<li
					data-on:click={ fmt.Sprintf("@query('%s/educators/%s')", url, educator.ID) }
					class="text-sm flex justify-center gap-2 h-24 items-center hover:bg-primary/80 active:bg-primary/90 border border-muted bg-linear-3-4 rounded-md relative group"
				>
					@avatar.Avatar() {
						@avatar.Image(avatar.ImageProps{
							Src:   fmt.Sprintf("/static/images/people/%s_%s.webp", strings.ToLower(educator.FamilyName), strings.ToLower(educator.GivenName)),
							Class: "object-cover",
						})
						@avatar.Fallback(avatar.FallbackProps{
							Class: "bg-secondary",
						}) {
							{ educator.Initials() }
						}
					}
					<div class="flex flex-col gap-1 items-start">
						<span>{ educator.NameInitial() }</span>
					</div>
					@button.Button(button.Props{
						Variant: button.VariantGhost,
						Class:   "absolute top-1 right-1 opacity-0 group-hover:opacity-100",
						Attributes: templ.Attributes{
							"data-on:click": fmt.Sprintf("@query('%s/educators/%s')", url, educator.ID),
						},
					}) {
						@icon.X()
					}
				</li>
			}
		</ul>
	}
}
