package pages

import (
	"fmt"

	"seek/internal/features/students/blocks"
	"seek/internal/features/students/dto"
	"seek/internal/ui/core/coreblocks"
	"seek/internal/ui/core/corelayouts"
	sse "seek/pkg/sse"
)

templ Create(view dto.StudentFormView) {
	@corelayouts.LayoutBase("SEEK: create student") {
		<main data-init={ sse.LongRunningGetSSE(fmt.Sprintf("%s/stream", view.URL)) }>
			@coreblocks.HeaderMain("create student", view.URL)
			<section>
				@blocks.StudentCreateForm(view)
			</section>
		</main>
	}
}
