package pages

import (
	"seek/internal/features/_shared/shareddto"
	"seek/internal/ui/core/coreblocks/tables"
	"seek/internal/ui/core/corelayouts"
	"seek/pkg/templui/components/button"
)

templ ReadStudentCSV(view shareddto.DiffTableView) {
	@corelayouts.LayoutBase("SEEK: IEP services") {
		<main>
			<section>
				<h2>students from a CSV file</h2>
				@tables.DiffTable(view)
			</section>
			<section>
				@button.Button(button.Props{
					Class: "btn-success",
					Attributes: templ.Attributes{
						"data-on:click": "@post('/students/csv')",
					},
				}) {
					confirm
				}
			</section>
		</main>
	}
}
