package pages

import (
	"fmt"
	"seek/internal/features/students/blocks"
	"seek/internal/features/students/dto"
	"seek/internal/ui/core/coreblocks"
	"seek/internal/ui/core/corelayouts"
	"seek/pkg/sse"
)

templ Edit(view dto.StudentFormView) {
	@corelayouts.LayoutBase("SEEK: edit student") {
		<main data-init={ sse.LongRunningGetSSE(fmt.Sprintf("%s/stream", view.URL)) }>
			@coreblocks.HeaderMain("edit student", view.URL)
			<section>
				@blocks.StudentEditForm(view)
			</section>
		</main>
	}
}
