package pages

import (
	"fmt"

	"seek/internal/features/_shared/sharedmodels"
	"seek/internal/features/students/blocks"
	"seek/internal/features/students/dto"
	"seek/internal/ui/core/coreblocks"
	"seek/internal/ui/core/corelayouts"
	"seek/pkg/sse"
)

templ Edit(view dto.StudentFormView) {
	{{ url := sharedmodels.GetURLFromContext(ctx) }}
	@corelayouts.LayoutBase("SEEK: edit student") {
		<main data-init={ sse.LongRunningGetSSE(fmt.Sprintf("%s/stream", url)) }>
			@coreblocks.HeaderMain("edit student")
			<section class="w-full">
				@blocks.StudentForm(view)
			</section>
		</main>
	}
}
