package pages

import (
	"seek/internal/domain/models"
	"seek/internal/features/students/dto"
	"seek/internal/views"
	"seek/internal/features/students/blocks"
	"seek/internal/views/layouts"
)

templ List(user models.User, students []dto.StudentListView) {
	@layouts.Base("SEEK: students", user) {
		<main data-init={ views.LongRunningGetSSE("/students/stream") }>
			<section>
				<h2>STUDENTS</h2>
				<p>review and enter student data here</p>
				<p>many features to come</p>
				@blocks.StudentList(students)
			</section>
		</main>
	}
}