package pages

import (
	"fmt"

	"seek/internal/features/_shared/shareddto"
	"seek/internal/features/_shared/sharedmodels"
	"seek/internal/features/students/blocks"
	"seek/internal/ui/core/coreblocks"
	"seek/internal/ui/core/coreblocks/tables"
	"seek/internal/ui/core/corelayouts"
	"seek/pkg/sse"
	"seek/pkg/templui/components/button"
	"seek/pkg/templui/components/icon"
)

type ListView struct {
	Table        shareddto.TableView
	FilterGrades []int
}

templ List(view ListView) {
	{{ url := sharedmodels.GetURLFromContext(ctx) }}
	@corelayouts.LayoutBase("SEEK: students") {
		<main data-init={ sse.LongRunningGetSSE(fmt.Sprintf("%s/stream", url)) }>
			@coreblocks.HeaderMain("student list")
			@tables.DataTable(view.Table) {
				<div class="w-full flex gap-3" data-signals:filter.grades={ templ.JSONString(view.FilterGrades) }>
					@button.Button(button.Props{
						Href: "/students/create",
					}) {
						@icon.UserRoundPlus()
						<span>create</span>
					}
					@blocks.StudentFilters()
					<div class="button-group">
						for _, grade := range sharedmodels.GradeList {
							@button.Button(button.Props{
								Variant: button.VariantOutline,
								Attributes: templ.Attributes{
									"data-class:bg-primary": fmt.Sprintf("$filter.grades.includes(%d)", grade),
									"data-on:click":         fmt.Sprintf("$filter.grades = $filter.grades.includes(%[1]d) ? $filter.grades.filter(v=>v!==%[1]d) : [...$filter.grades,%[1]d]; @post('/students')", grade),
								},
							}) {
								{ grade.Ordinal() }
							}
						}
					</div>
				</div>
			}
		</main>
	}
}
