package badge

type Variant string

const (
	VariantDefault     Variant = "default"
	VariantSecondary   Variant = "secondary"
	VariantDestructive Variant = "destructive"
	VariantOutline     Variant = "outline"
)

type Props struct {
	ID         string
	Class      string
	Attributes templ.Attributes
	Variant    Variant
}

templ Badge(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<span
		if p.ID != "" {
			id={ p.ID }
		}
		if p.Class != "" {
			class={ "badge" + p.Class }
		} else {
			class="badge"
		}
		{ p.Attributes... }
	>
		{ children... }
	</span>
}

templ BadgeStyles() {
	<style>
		span.badge {
			display: inline-flex;
			gap: var(--size--2);
			align-items: center;
			justify-content: center;
			border-radius: var(--bd-rd2);
			border-style: solid;
			border-width: var(--border-width-1);
			border-color: transparent;
			color: var(--primary-6-on);
			background-color: var(--primary-6);
			padding: .25rem .5rem;
			font-size: var(--font-size--2);
			font-weight: var(--font-weight-medium);
			width: fit-content;
			white-space: nowrap;
			transition: color;
			overflow: hidden;
			flex-shrink: 0;

			&svg {
				size: var(--size-1);
				pointer-events: none;
			}

			&[data-theme="secondary"] {
				color: var(--secondary-6-on);
				background-color: var(--secondary-6);
			}

			&[data-theme="destructive"] {
				color: var(--color-destructive);
				background-color: var(--bg-destructive);
			}

			&[data-theme="outline"] {
				background-color: transparent;
				border-color: var(--primary-6-dim);
			}
		}
	
	</style>
}