package pages

import (
	"fmt"

	"seek/internal/features/_shared/sharedmodels"
	"seek/internal/features/profiles/blocks"
	"seek/internal/ui/core/corelayouts"
	"seek/pkg/sse"
)

templ EditProfile(view any) {
	{{ url := sharedmodels.GetURLFromContext(ctx) }}
	@corelayouts.LayoutBase("SEEK: edit your profile") {
		<main data-init={ sse.LongRunningGetSSE(fmt.Sprintf("%s/stream", url)) }>
			<section class="w-full h-full flex justify-center items-start">
				@blocks.EditProfileForm()
			</section>
		</main>
	}
}
