package pages

import (
	"seek/internal/domain/models"
	sse "seek/internal/views"
	"seek/internal/views/layouts"
	"seek/internal/features/profiles/blocks"
)

templ EditProfile(user models.User, view any) {
	@layouts.Base("SEEK: edit your profile", user) {
		<main data-init={ sse.LongRunningGetSSE("/profile/edit/stream") }>
			<section style="width: 100%; max-width: 52rem;">
				@blocks.EditProfileForm(user)
			</section>
		</main>
	}
}