package pages

import (
	"seek/internal/domain/models"
	sse "seek/internal/views"
	"seek/internal/views/layouts"
)

templ View(user models.User, view any) {
	@layouts.Base("SEEK: user profile", user) {
		<main data-init={ sse.LongRunningGetSSE("/profiles/{id}/stream") }>
			<section>
			</section>
		</main>
	}
}