package sidebar

import (
	"seek/internal/views/components/icon"
	"seek/internal/views/components/sidebar"
)

type SidebarView struct {
	Open bool `json:"open"`
}

templ SidebarDesktop() {
	@sidebar.Sidebar() {
		<header>
			SEEK
		</header>
		<div>
			<details>
				<summary>
					@icon.CalendarRange(icon.Props{
						Size: "20",
					})
					<span>schedules</span>
				</summary>
				<ul>
					<li><a href="/schedules/list">list</a></li>
					<li><a href="/schedules/create">create</a></li>
				</ul>
			</details>
			<details>
				<summary>
					@icon.Clock(icon.Props{
						Size: "20",
					})
					<span>periods</span>
				</summary>
				<ul>
					<li><a href="/periods/list">list</a></li>
					<li><a href="/periods/create">create</a></li>
				</ul>
			</details>
			<hr style="color: var(--neutral-4-dim);"/>
			<details>
				<summary>
					@icon.GraduationCap(icon.Props{
						Size: "20",
					})
					<span>students</span>
				</summary>
				<ul>
					<li><a href="/students/list">list</a></li>
					<li><a href="/students/create">create</a></li>
				</ul>
			</details>
			<details>
				<summary>
					@icon.BookCopy(icon.Props{
						Size: "20",
					})
					<span>services</span>
				</summary>
				<ul>
					<li><a href="/iepservices/list">list</a></li>
					<li><a href="/iepservices/create">create</a></li>
				</ul>
			</details>
			<hr style="color: var(--neutral-4-dim);"/>
			<details>
				<summary>
					@icon.Apple(icon.Props{
						Size: "20",
					})
					<span>educators</span>
				</summary>
				<ul>
					<li><a href="/educators/list">list</a></li>
					<li><a href="/educators/create">create</a></li>
				</ul>
			</details>
		</div>
		<footer>
			ACCOUNT
		</footer>
	}
}

templ SidebarCollapsed() {
	@sidebar.SidebarCollapsed() {
		<header>
			SEEK
		</header>
		<div>
			<ul>
				<li>
					@icon.CalendarRange(icon.Props{
						Size: "20",
					})
				</li>
				<li>
					@icon.Clock(icon.Props{
						Size: "20",
					})
				</li>
				<li>
					@icon.GraduationCap(icon.Props{
						Size: "20",
					})
				</li>
				<li>
					@icon.BookCopy(icon.Props{
						Size: "20",
					})
				</li>
				<li>
					@icon.Apple(icon.Props{
						Size: "20",
					})
				</li>
			</ul>
			<hr style="color: var(--neutral-4-dim);"/>
		</div>
		<footer>
			ACCOUNT
		</footer>
	}
}
