package coreblocks

import (
	"fmt"
	"strings"

	"seek/internal/features/_shared/sharedmodels"
	"seek/pkg/templui/components/avatar"
	"seek/pkg/templui/components/tooltip"
)

templ PersonAvatar(objectType string, p sharedmodels.Person) {
	@tooltip.Tooltip(tooltip.Props{
		Class: "w-full flex justify-center items-center",
	}) {
		@tooltip.Trigger() {
			@avatar.Avatar(avatar.Props{
				Class: "border-1 border-black hover:z-10 relative",
			}) {
				<a class="w-full h-full" href={ fmt.Sprintf("/%ss/%s/info", objectType, p.Username) }>
					@avatar.Image(avatar.ImageProps{
						Src:   fmt.Sprintf("/static/images/students/%s_%s.webp", strings.ToLower(p.FamilyName), strings.ToLower(p.GivenName)),
						Class: "object-cover",
						Attributes: templ.Attributes{
							"onerror": "this.style.display='none'",
						},
					})
					@avatar.Fallback(avatar.FallbackProps{
						Class: "bg-secondary hover:bg-primary",
					}) {
						{ p.Initials() }
					}
				</a>
			}
		}
		@tooltip.Content(tooltip.ContentProps{
			HoverDelay:    200,
			HoverOutDelay: 50,
			Class:         "border-muted text-sm",
		}) {
			{ p.FullName() }
		}
	}
}

templ PersonAvatars(objectType string, people []sharedmodels.Person) {
	<div class="flex w-full h-full justify-center items-center -space-x-10">
		for _, person := range people {
			@PersonAvatar(objectType, person)
		}
	</div>
}
