package coreblocks

templ FooterBody() {
	<footer class="flex justify-center items-center h-12 w-full row-3">
		<p class="text-xs text-neutral-content/80">&copy; 2026 seek coop, all rights reserved</p>
	</footer>
	@FooterBodyStyle()
}

templ FooterBodyStyle() {
	<style>
		body > footer {
			color: var(--primary-4-on);
			background-color: var(--primary-4);
		}
	</style>
}
