package coreblocks

templ FooterBody() {
	<footer class="row-3">
		<p>probably there should be stuff here.</p>
	</footer>
	@FooterBodyStyle()
}

templ FooterBodyStyle() {
	<style>
		body > footer {
			display: flex;
			justify-content: start;
			align-items: center;
			height: 4rem;
			width: 100%;
			padding-left: var(--size-4);
			color: var(--primary-4-on);
			background-color: var(--primary-4);
		}
	</style>
}
