package coreblocks

import (
	"seek/pkg/templui/components/icon"
	"seek/pkg/templui/components/label"
)

templ ThemeToggle() {
	@label.Label(label.Props{
		Class: "text-neutral-content/90 flex items-center cursor-pointer gap-2 mr-4",
		For:   "theme-toggle",
	}) {
		@icon.Sun(icon.Props{
			Class: "size-4",
		})
		<input
			type="checkbox"
			class="toggle animate-none"
			style="border-color: var(--primary-4-dim);"
			data-signals:dark="localStorage.getItem('theme') == 'dark'"
			data-bind:dark
			data-signals:theme="localStorage.getItem('theme')"
			data-on:click="$theme == 'light' ? $theme = 'dark' : $theme = 'light'; localStorage.setItem('theme', $theme);"
		/>
		@icon.Moon(icon.Props{
			Class: "size-4",
		})
	}
}
