package input

import "github.com/starfederation/datastar-go/datastar"

type Type string

const (
	TypeText     Type = "text"
	TypeEmail    Type = "email"
	TypeNumber   Type = "number"
	TypeTel      Type = "tel"
	TypeURL      Type = "url"
	TypeSearch   Type = "search"
)

type Props struct {
	ID               string
	Class            string
	Attributes       templ.Attributes
	Name             string
	Type             Type
	Form             string
	Placeholder      string
	Value            string
	ValueNumber      int
	Disabled         bool
	Readonly         bool
	HasError         bool
	IsValid          bool
	NoTogglePassword bool
	DataBind         string
	DataOn           string
}

templ Input(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	if p.Type == "" {
		{{ p.Type = TypeText }}
	}
	<input
		id={ p.ID }
		type={ string(p.Type) }
		if p.Name != "" {
			name={ p.Name }
		}
		if p.Placeholder != "" {
			placeholder={ p.Placeholder }
		}
		if p.Value != "" {
			value={ p.Value }
		}
		if p.Type == "number" {
			value={ p.ValueNumber }
		}
		if p.Form != "" {
			form={ p.Form }
		}
		disabled?={ p.Disabled }
		readonly?={ p.Readonly }
		if p.HasError {
			aria-invalid="true"
		} else if p.IsValid {
			aria-invalid="false"
		}
		if p.DataBind != "" {
			data-bind={ p.DataBind }
		}
		if p.DataOn != "" {
			data-on:input__debounce.200ms={ datastar.PostSSE( p.DataOn ) }
		}
		class={	p.Class }
		{ p.Attributes... }
	>
		{ children... }
	</input>
	@InputStyle()
}

templ InputStyle() {
	<style>
		input {
			/* variables */
			--_color-outline: blue;
			/* interaction */
			transition-property: all;
			transition-timing-function: var(--anim-ease-standard);
			transition-duration: var(--anim-duration-base);
			cursor: text;
			display: inline-flex;
			/* size */
			height: var(--size-4);
			width: 100%;
			min-width: 0; /* needed to stop text overflow or something? */
			/* text */
			font-size: var(--font-size--1);
			/* borders */
			border-style: solid;
			border-radius: var(--bd-rd0);
			border-width: var(--border-width-0);
			outline-style: solid;
			outline-width: var(--border-width-1);
			outline-color: transparent;
			outline-offset: var(--border-width-1);
			/* color */
			border-color: var(--neutral-4-dim);
			color: var(--neutral-4-on);
			background-color: var(--neutral-4);
			padding: 0 var(--size--2);

			&:focus, &:active {
				outline-color: var(--primary-12-dim);
			}

			&:disabled {
				pointer-events: none;
				cursor: not-allowed;
				opacity: 0.5;
			}

			&[aria-invalid="false"]:not(:focus), &[aria-invalid="false"]:not(:active) {
				border-color: green;
			}

			&[aria-invalid="false"]:focus, &[aria-invalid="false"]:active {
				outline-color: green;
				border-color: transparent;
			}

			&[aria-invalid="true"]:not(:focus), &[aria-invalid="true"]:not(:active) {
				border-color: var(--error-5);
			}

			&[aria-invalid="true"]:focus, &[aria-invalid="true"]:active {
				outline-color: var(--error-5);
				border-color: transparent;
			}
		}
	</style>
}