package forms

import (
	"seek/internal/views/components/input"
	"seek/internal/views/components/label"
)

templ NumberInputWithLabel(id, labelText, url, bind string, value int) {
	@label.Label(label.Props{
		ID: "label" + id,
		For: "input" + id,
		Label: labelText,
	}) {
		@input.Input(input.Props{
			ID: "input" + id,
			Name: id,
			DataBind: bind,
			DataOn: url,
			Type: "number",
			ValueNumber: value,
		})
	}
}