package blocks

import (
	"fmt"

	"seek/internal/features/ieps/dto"
	"seek/internal/ui/core/coreblocks/cards"
	"seek/pkg/templui/components/card"
)

templ Card(view dto.IEPView) {
	@card.Card(card.Props{
		ID:    fmt.Sprintf("period-%s-card", view.ID),
		Class: "iep-service-card bg-linear-1 w-full",
		Attributes: templ.Attributes{
			"style": "background-color: var(--neutral-4);",
		},
	}) {
		@card.Header() {
			@card.Title(card.TitleProps{
				Class: "text-sm",
			}) {
				so and so's IEP
			}
		}
		@card.Content(card.ContentProps{
			Class: "flex justify-around gap-4 text-sm",
		}) {
			@cards.TextLine(cards.TextLineProps{
				Key:   "start",
				Value: view.StartDate.String(),
			})
		}
	}
}
