package blocks

import (
	"seek/internal/features/ieps/dto"
	"seek/internal/ui/core/coreblocks/forms"
	"seek/pkg/templui/components/datepicker"
	"seek/pkg/templui/components/label"
	"seek/pkg/templui/components/selectbox"
)

templ FormSections(view dto.IEPFormView) {
	@HiddenInputs(view)
	@forms.Fieldset("people") {
		@ServiceStudentSelectBox(view.Students)
	}
	@forms.Fieldset("dates") {
		@ServiceDates(view)
	}
	@selectbox.Script()
	@datepicker.Script()
}

templ HiddenInputs(view dto.IEPFormView) {
	<input id="service-id" class="hidden" data-bind="iep.id" value={ view.IEP.ID }/>
}

templ ServiceDates(view dto.IEPFormView) {
	<div class="flex gap-3">
		<div class="flex-grow">
			@label.Label(label.Props{
				For:   "start-date-input",
				Class: "mb-3 text-neutral-content/90",
			}) {
				start
			}
			@datepicker.DatePicker(datepicker.Props{
				ID:       "start-date-input",
				Class:    "input",
				DataBind: "iep.start_date",
				Value:    view.IEP.StartDate.Time(),
				Attributes: templ.Attributes{
					"data-text": "$iep.start_date",
				},
			})
		</div>
		<div class="flex-grow">
			@label.Label(label.Props{
				For:   "start-date-input",
				Class: "mb-3",
			}) {
				end
			}
			@datepicker.DatePicker(datepicker.Props{
				ID:       "end-date-input",
				Class:    "input",
				DataBind: "iep.end_date",
				Value:    view.IEP.EndDate.Time(),
				Attributes: templ.Attributes{
					"data-text": "$iep.end_date",
				},
			})
		</div>
	</div>
}
