package blocks

import (
	"fmt"

	"seek/internal/features/_shared/sharedmodels"
	"seek/internal/features/ieps/dto"
	"seek/internal/ui/core/coreblocks/forms"

	"github.com/starfederation/datastar-go/datastar"
)

templ ServiceForm(view dto.IEPFormView) {
	{{ url := sharedmodels.GetURLFromContext(ctx) }}
	<form
		id={ fmt.Sprintf("form-iep-service-%s", view.FormType) }
		class="seek-form"
		data-on:submit={ datastar.PostSSE("%s", url) }
	>
		@FormSections(view)
		<footer>
			@forms.CancelButton("/ieps")
			@forms.SaveButton()
		</footer>
	</form>
}
