package blocks

import (
	"fmt"

	"seek/internal/features/_shared/sharedmodels"
	"seek/internal/features/schedules/dto"
)

templ ScheduleComponent(schedules []dto.PersonWithScheduleView) {
	@ScheduleStyle()
	<div id="schedule-component" class="w-full h-full">
		@DayHeaders()
		@TimeColumn()
		@GridContainer() {
			@TimeGrid(30, 480)
			@DayGrid()
			if len(schedules) > 0 {
				for i := len(schedules) - 1; i >= 0; i-- {
					{{ schedule := schedules[i] }}
					if schedule.IsVisible {
						for j := range schedule.Periods {
							@PeriodCard(schedule.Periods[j], schedule.Color)
						}
					}
				}
			}
			{ children... }
		}
	</div>
}

templ DayHeaders() {
	{{ days := sharedmodels.Days }}
	<header id="schedule-day-header">
		for index, day := range days {
			<div
				class="day-header-box @container"
				style={ fmt.Sprintf("grid-column: %d / span 1;", index+2) }
			>
				<span class="hidden @4xs:inline-block">{ day.Name() }</span>
				<span class="hidden @5xs:inline-block @4xs:hidden">{ day.Short() }</span>
				<span class="@5xs:hidden">{ day.Initial() }</span>
			</div>
		}
	</header>
}

templ TimeColumn() {
	{{
		times := []string{
			"8:00",
			"9:00",
			"10:00",
			"11:00",
			"12:00",
			"1:00",
			"2:00",
			"3:00",
		}
	}}
	<div id="schedule-time-column">
		for i, time := range times {
			<div class="flex relative">
				<span class="absolute top-0 translate-y-[-50%]">
					{ time }
				</span>
				if i == len(times)-1 {
					<span class="absolute bottom-0 translate-y-[50%]">
						4:00
					</span>
				}
			</div>
		}
	</div>
}

templ GridContainer() {
	<div id="schedule-grid-container" class="w-full grid">
		{ children... }
	</div>
}

templ TimeGrid(interval int, totalRows int) {
	<div
		id="schedule-time-grid"
		class="grid grid-cols-subgrid grid-rows-subgrid col-span-full row-span-full"
	>
		for index := 1; index < totalRows; index++ {
			if index%interval == 1 {
				<div
					class="time-grid h-[1px] col-span-full row-span-1"
					style={ fmt.Sprintf("grid-row: %d;", index) }
				></div>
			}
		}
		<div
			class="time-grid h-[1px] col-span-full -row-start-1 row-span-1"
		></div>
	</div>
	<style>
		.time-grid {
			background-color: color-mix(in oklch, var(--neutral-3-on), transparent 75%);
		}
	</style>
}

templ DayGrid() {
	<div
		id="schedule-day-grid"
		class="grid grid-cols-subgrid grid-rows-subgrid col-span-full row-span-full"
	>
		<div
			class="day-grid w-[1px] col-start-1 col-span-1 row-span-full"
		></div>
		for index := 1; index < 6; index++ {
			<div
				class="day-grid w-[1px] col-span-1 row-span-full justify-self-end"
				style={ fmt.Sprintf("grid-column: %d;", index) }
			></div>
		}
	</div>
	<style>
		.day-grid {
			background-color: color-mix(in oklch, var(--neutral-3-on), transparent 75%);
		}
	</style>
}

templ ScheduleStyle() {
	<style>
		#schedule-component {
			display: grid;
			grid-template-rows: 4rem 1fr;
			grid-template-columns: 6rem repeat(5, 1fr);
			background-color: var(--neutral-1);
			color: var(--neutral-3-on);
			border-style: solid;
			border-color: var(--neutral-3-dim);
			border-width: var(--border-width-0);
			border-radius: var(--border-radius-0);
			padding-right: var(--size-4);
			padding-bottom: var(--size-4);
			overflow: auto;

			#schedule-day-header {
				display: grid;
				grid-template-columns: subgrid;
				grid-column: 1 / -1;
				grid-row: 1 / span 1;
				position: sticky;
				top: 0;
				background-color: var(--neutral-1);
				z-index: 1;

				.day-header-box {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}

			#schedule-time-column {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				grid-column: 1 / span 1;
				grid-row: 2 / -1;
				font-size: var(--font-size--1);

				div {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-grow: 1;
				}
			}

			#schedule-grid-container {
				grid-template-rows: repeat(480, 1fr);
				grid-template-columns: repeat(5, 1fr);
				grid-column: 2 / -1;
			}
		}
	</style>
}
