package blocks

import (
	"fmt"

	"seek/internal/domain/models"
	"seek/internal/features/schedules/events"
	"seek/internal/views/components/input"
	"seek/internal/views/components/label"
	"seek/internal/views/components/selectbox"

	"github.com/starfederation/datastar-go/datastar"
)

templ CreateForm(
	schedule models.Schedule, 
	teachers []models.Teacher, 
	periods []models.Period, 
	validation map[string]events.Validation, 
	selectedTeacher *models.Teacher,
) {
	<form id="create-schedule-form" data-on:submit={ datastar.PostSSE("/schedules/create") }>
		<hgroup>
			<h2>CREATE A SCHEDULE</h2>
			<p>create a new schedule.</p>
		</hgroup>
		<section>
			@label.Label(label.Props{
				ID: "title--input-label",
				For: "title",
				Label: "title",
				ValidationState: validation["title"].State,
				ValidationMessage: validation["title"].Message,
			}) {
				@input.Input(input.Props{
					ID: "title",
					Name: "title",
					DataBind: "schedule.title",
					DataOn: "/schedules/create/validate",
					HasError: validation["title"].State == "error",
					IsValid: validation["title"].State == "valid",
				})
			}
		</section>
		<section>
		{{
			selectedContent := "select a teacher"
			selectedTeacherID := ""
			if selectedTeacher != nil {
				selectedContent = selectedTeacher.DisplayName()
				selectedTeacherID = selectedTeacher.ID
			}
		}}
			@label.Label(label.Props{
				ID: "teacher-select-label",
				For: "teacher-select",
				Label: "teacher",
				ValidationState: validation["teacher_id"].State,
				ValidationMessage: validation["teacher_id"].Message,
			}) {
				@selectbox.Select(selectbox.Props{
					ID: "teacher-select",
					Placeholder: "select a teacher",
					DataBind: "schedule.teacher_id",
					DataOnChange: fmt.Sprintf("/schedules/create/validate"),
					HasError: validation["teacher_id"].State == "error",
					IsValid: validation["teacher_id"].State == "valid",
					SelectedContent: selectedContent,
				}) {
					for index, teacher := range teachers {
						<option 
						id={ fmt.Sprintf( "option-%d", index ) }
						if teacher.ID == selectedTeacherID {
							selected
						}
						value={ teacher.ID }
						>
							{ teacher.DisplayName() }
						</option>
					}
				}
			}
		</section>
		<section>
			<label for="periods">
				<span>periods</span>
				<select id="periods" multiple name="periods" data-bind:periods>
					for _, period := range periods {
						<option>{ period.Title }</option>
					}
				</select>
			</label>
		</section>
		<footer>
			<button 
				type="button"
			>
				<span>cancel</span>
			</button>
			<button 
				type="submit"
			>
				<span>submit</span>
			</button>
		</footer>
	</form>
}
				