package blocks

import (
	"fmt"

	"seek/internal/features/schedules/models"
	"seek/internal/views/components/icon"
)

templ List(schedules []models.Schedule) {
	<table>
		<thead>
			<th>link</th>
			<th>title</th>
			<th>teacher id</th>
		</thead>
		<tbody>
			for _, schedule := range schedules {
				<tr>
					<td>
						<a href={ fmt.Sprintf("/schedules/%s", schedule.ID) }>
							<button>
								@icon.Link(icon.Props{
									Size: "16",
								})
							</button>
						</a>
					</td>
					<td>{ schedule.Title }</td>
					<td>{ schedule.TeacherId }</td>
				</tr>
			}
		</tbody>
	</table>
}
