package blocks

import (
	"fmt"

	"seek/internal/features/periods/dto"
	"seek/pkg/templui/components/icon"
	"seek/pkg/templui/components/tooltip"
)

templ PeriodCard(view dto.PeriodScheduleView, color string) {
	<div
		class="w-full h-full p-[1px] text-xs"
		style={ fmt.Sprintf("grid-column: %d; grid-row: %d / span %d;", view.Column, view.Row, view.Duration) }
	>
		@tooltip.Tooltip() {
			@tooltip.Trigger() {
				<div
					id={ fmt.Sprintf("period-schedule-%s-card", view.ID) }
					data-color={ color }
					data-service={ view.ServiceType.ShortString() }
					class="@container period-card w-full h-full flex flex-row gap-2 items-center justify-center rounded-md border border-solid border-muted relative"
					style={ fmt.Sprintf("background-color: var(--gruvbox-%s-faded-0); --base-color: var(--gruvbox-%s-bright-0);", color, color) }
				>
					@icon.Icon(view.ServiceType.IconName())(icon.Props{
						Class: "z-10 relative",
						Size:  "14",
					})
					<span class="hidden @5xs:flex relative z-10 text-white [text-shadow:_0_1px_4px_rgba(0,0,0,0.7)]">{ view.ServiceType.ShortString() }</span>
				</div>
			}
			@tooltip.Content(tooltip.ContentProps{
				Class:         "flex flex-col gap-1 rounded-md background-neutral text-xs p-3 border-muted w-48",
				HoverDelay:    400,
				HoverOutDelay: 800,
			}) {
				<p class="flex justify-between">
					<span>provider:</span>
					<span>{ len(view.Educators) }</span>
				</p>
				<p class="flex justify-between">
					<span>start:</span>
					<span>{ view.StartTime.String() }</span>
				</p>
				<p class="flex justify-between">
					<span>end:</span>
					<span>{ view.EndTime.String() }</span>
				</p>
				<p class="flex justify-between">
					<span>students:</span>
					<span>{ len(view.Students) }</span>
				</p>
			}
		}
	</div>
}
