package periods

import (
	"fmt"
	"seek/internal/views"
	"seek/internal/views/layouts"
	"seek/internal/views/blocks"
)

templ Edit(view blocks.PeriodEditFormView) {
	@layouts.Base("SEEK: edit period") {
		<main data-init={ views.LongRunningGetSSE(fmt.Sprintf("/periods/%s/edit/stream", view.Period.ID)) }>
			<section>
				@blocks.EditPeriodForm(view)
			</section>
		</main>
	}
}