package periods

import (
	"seek/internal/views/layouts"
)

templ NotFound() {
	@layouts.Base("SEEK: period not found") {
		<main>
			<section>
				<h3>not found</h3>
				<p>that period doesn't seem to exist. are you sure you're in the right place?</p>
			</section>
		</main>
	}
}