package forms

import (
	"fmt"

	"seek/internal/features/_shared/shareddto"
	"seek/internal/features/_shared/sharedmodels"
	"seek/pkg/templui/components/icon"
	"seek/pkg/templui/components/label"
	"seek/pkg/utils"
)

templ SelectServiceType(objectType string, selected sharedmodels.ServiceType) {
	{{ view := shareddto.NewSelectViewServiceType(selected) }}
	<input
		class="hidden"
		id={ fmt.Sprintf("%s-service-type-input", objectType) }
		type="text"
		{ utils.DataBind(fmt.Sprintf("%s.service_type", objectType)) }
	/>
	<div class="flex flex-col">
		@label.Label(label.Props{
			For:   fmt.Sprintf("%s-service-type-select", objectType),
			Class: "mb-3 text-neutral-content/70",
		}) {
			service type
		}
		<div class="flex gap-3 items-center">
			<neo-popover
				class="w-full"
				placement="bottom"
				match-trigger-width="true"
			>
				<div
					{ fmt.Sprintf("%s-service-type-select", objectType) }
					class="flex items-center gap-2 relative input"
					data-neo-popover-trigger
				>
					for _, option := range view.Options {
						if option.Selected {
							@icon.Icon(option.IconName())(icon.Props{
								Size: "16",
							})
							<span>{ option.LongString() }</span>
						}
					}
				</div>
				@SelectServiceTypeOptions(view.Options)
			</neo-popover>
		</div>
	</div>
}

templ SelectServiceTypeOptions(options []shareddto.SelectOptionServiceType) {
	{{ url := sharedmodels.GetURLFromContext(ctx) }}
	<ul
		data-neo-popover-content
		class="flex flex-col gap-1 w-full h-fit"
	>
		for _, option := range options {
			<li
				data-on:click={ fmt.Sprintf("@query('%s/servicetype/%s')", url, option.ServiceType.String()) }
				class={ utils.TwMerge(
							"text-sm flex items-center justify-between cursor-pointer hover:bg-primary/80 active:bg-primary/90 px-2 py-1 rounded-md",
							utils.If(option.Selected, "bg-primary"),
						) }
			>
				<div class="flex items-center gap-2">
					@icon.Icon(option.IconName())(icon.Props{
						Size: "16",
					})
					<span>{ option.LongString() }</span>
				</div>
				if option.Selected {
					@icon.Check(icon.Props{Class: "size-4"})
				}
			</li>
		}
	</ul>
}
