package forms

import (
	"fmt"

	"seek/internal/features/_shared/sharedmodels"
	"seek/pkg/templui/components/icon"
	"seek/pkg/templui/components/label"
	"seek/pkg/templui/components/selectbox"
	"seek/pkg/utils"
)

templ SelectboxServiceType(url, object string, selected sharedmodels.ServiceType) {
	@selectbox.SelectBox() {
		@label.Label(label.Props{
			Class: "mb-3 text-neutral-content/90",
		}) {
			service type
		}
		@selectbox.Trigger(selectbox.TriggerProps{
			DataBind:     fmt.Sprintf("%s.service_type", object),
			DataOnChange: utils.QueryValidate(url),
		}) {
			@selectbox.Value(selectbox.ValueProps{
				Placeholder: "no service type selected",
			})
		}
		@selectbox.Content() {
			for _, service := range sharedmodels.ServiceTypeList {
				@selectbox.Item(selectbox.ItemProps{
					Selected: service == selected,
				}) {
					@icon.Icon(service.IconName())(icon.Props{
						Class: "inline-block mr-2 align-middle",
						Size:  "16",
					})
					<span class="align-middle">{ service.LongString() }</span>
				}
			}
		}
	}
}
