package forms

import (
	"fmt"

	"seek/pkg/templui/components/input"
	"seek/pkg/templui/components/label"
)

templ TextInputWithLabel(id, labelText, url, bind, value string) {
	<div class="flex flex-col">
		@label.Label(label.Props{
			ID:    fmt.Sprintf("%s-label", id),
			For:   fmt.Sprintf("%s-input", id),
			Class: "mb-3 text-muted-foreground",
		}) {
			{ labelText }
		}
		@input.Input(input.Props{
			ID:    fmt.Sprintf("%s-input", id),
			Name:  id,
			Type:  input.TypeText,
			Value: value,
			Attributes: templ.Attributes{
				"data-bind":     bind,
				"data-on:input": fmt.Sprintf("@post('%s/validate')", url),
			},
		})
	</div>
}
