package forms

import (
	"fmt"

	"seek/pkg/templui/components/input"
	"seek/pkg/templui/components/label"
)

type TextInputWithLabelProps struct {
	ID        string
	LabelText string
	Value     string
	Bind      string
	URL       string
}

templ TextInputWithLabel(p TextInputWithLabelProps) {
	<div class="flex flex-col">
		@label.Label(label.Props{
			ID:    fmt.Sprintf("%s-label", p.ID),
			For:   fmt.Sprintf("%s-input", p.ID),
			Class: "mb-3 text-neutral-content/90",
		}) {
			{ p.LabelText }
		}
		@input.Input(input.Props{
			ID:    fmt.Sprintf("%s-input", p.ID),
			Name:  p.ID,
			Type:  input.TypeText,
			Value: p.Value,
			Attributes: templ.Attributes{
				"data-bind":                     p.Bind,
				"data-on:input__debounce.250ms": fmt.Sprintf("@post('%s/validate')", p.URL),
			},
		})
	</div>
}
