package period_card

import "seek/internal/domain/models"
import "fmt"

templ PeriodCard(period models.Period) {

	<div 
		class="period-card"
		style={fmt.Sprintf("grid-column: 2; grid-row: %s / span %d;", period.TimeToRow(479), period.Duration)}
	>
		<h3>{ period.Title }</h3>
	</div>
	@PeriodCardStyles()
}

templ PeriodCardStyles() {
	<style>
		.period-card {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: var(--gruvbox-orange-neutral-0);
			border-style: solid;
			border-color: var(--gruvbox-orange-neutral--1);
			border-radius: var(--border-radius-0);
			font-size: var(--font-size--2);
		}
	</style>
}