package period_card

import (
	"fmt"
	"seek/internal/views/dto"
)

templ PeriodCards(views dto.PeriodView) {
	for i := range views.Columns {
		@PeriodCard(views, views.Columns[i])
	}
}

templ PeriodCard(view dto.PeriodView, column int) {
	<div 
		class="period-card"
		style={fmt.Sprintf("grid-column: %d; grid-row: %s / span %d;", column, view.Row, view.Duration)}
	>
		<h3>{ view.Title }</h3>
	</div>
	@PeriodCardStyles()
}

templ PeriodCardStyles() {
	<style>
		.period-card {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: var(--gruvbox-orange-neutral-0);
			border-style: solid;
			border-color: var(--gruvbox-orange-neutral--1);
			border-radius: var(--border-radius-0);
			font-size: var(--font-size--2);
		}
	</style>
}