package pages

import (
	"fmt"

	"seek/internal/features/periods/blocks"
	"seek/internal/features/periods/dto"
	sblocks "seek/internal/features/schedules/blocks"
	sdto "seek/internal/features/schedules/dto"
	"seek/internal/features/users/models"
	"seek/internal/ui/core/coreblocks"
	"seek/internal/ui/core/corelayouts"
	"seek/pkg/sse"
)

templ Create(user models.User, view dto.PeriodFormView, psvs []dto.PeriodScheduleView) {
	@corelayouts.LayoutBase("SEEK: create period", user) {
		<main data-init={ sse.LongRunningGetSSE(fmt.Sprintf("%s/stream", view.URL)) }>
			@coreblocks.HeaderMain("create period", view.URL)
			<section class="w-full flex flex-col md:flex-row gap-4 h-full">
				@blocks.FormCreate(view)
				@sblocks.ScheduleComponent(
					[]sdto.ScheduleView{
						sdto.ScheduleView{
							Periods: psvs,
							Color:   "blue",
						},
					},
				)
			</section>
		</main>
	}
}
