package pages

import (
	"fmt"

	"seek/internal/features/periods/blocks"
	"seek/internal/features/periods/dto"
	"seek/internal/features/users/models"
	"seek/internal/views"
	"seek/internal/views/layouts"
)

templ Edit(user models.User, view dto.PeriodFormView) {
	@layouts.Base("SEEK: edit period", user) {
		<main data-init={ views.LongRunningGetSSE(fmt.Sprintf("/periods/%s/edit/stream", view.ID)) }>
			<section>
				@blocks.EditPeriodForm(view)
			</section>
		</main>
	}
}
