package pages

import (
	"fmt"

	"seek/internal/features/_shared/sharedmodels"
	"seek/internal/features/periods/blocks"
	"seek/internal/features/periods/dto"
	scheduleBlocks "seek/internal/features/schedules/blocks"
	scheduleDTO "seek/internal/features/schedules/dto"
	"seek/internal/ui/core/coreblocks"
	"seek/internal/ui/core/corelayouts"
	"seek/pkg/sse"
)

type PeriodFormPageProps struct {
	FormProps blocks.PeriodFormProps
	OldForm   dto.PeriodFormView
	Schedules []scheduleDTO.PersonWithScheduleView
}

templ PeriodForm(p PeriodFormPageProps) {
	{{ url := sharedmodels.GetURLFromContext(ctx) }}
	@corelayouts.LayoutBase(fmt.Sprintf("SEEK: %s period", p.FormProps.FormType.Word())) {
		<main data-init={ sse.LongRunningGetSSE(fmt.Sprintf("%s/stream", url)) }>
			@coreblocks.HeaderMain(fmt.Sprintf("%s period", p.FormProps.FormType.Word()))
			<section class="w-full flex flex-col md:flex-row gap-4 h-full">
				@blocks.PeriodForm(p.FormProps, p.Schedules)
				@scheduleBlocks.ScheduleComponent(p.Schedules)
			</section>
		</main>
	}
}
