package pages

import (
	"seek/internal/features/_shared/shareddto"
	"seek/internal/features/periods/blocks"
	"seek/internal/features/users/models"
	sse "seek/internal/views"
	"seek/internal/views/components/button"
	"seek/internal/views/layouts"
	"seek/pkg/templui/components/icon"
)

templ List(user models.User, view int, tview shareddto.TableView) {
	@layouts.Base("SEEK: periods", user) {
		<main data-signals:view={ view } data-init={ sse.LongRunningGetSSE("/periods/stream") }>
			<section>
				<h2>PERIODS</h2>
				<p>review and enter period data here</p>
				<p>many features to come</p>
				<div>
					@button.Button(button.Props{
						Attributes: templ.Attributes{
							"data-on:click": "$view=0; @get('/periods/list')",
						},
					}) {
						@icon.Table(icon.Props{
							Size: "16",
						})
						<span>list</span>
					}
					@button.Button(button.Props{
						Attributes: templ.Attributes{
							"data-on:click": "$view=1; @get('/periods/list')",
						},
					}) {
						@icon.LayoutGrid(icon.Props{
							Size: "16",
						})
						<span>grid</span>
					}
				</div>
				if view == 0 {
					@blocks.List(tview)
				}
			</section>
		</main>
	}
}
