package pages

import (
	"seek/internal/features/periods/blocks"
	"seek/internal/views"
	"seek/internal/views/components/icon"
	"seek/internal/views/layouts"
	"seek/internal/views/dto"
	"seek/internal/domain/models"
)



templ List(user models.User, view int, periods []dto.PeriodView) {
	@layouts.Base("SEEK: periods", user) {
		<main data-signals:view={ view } data-init={ views.LongRunningGetSSE("/periods/stream") }>
			<section>
				<h2>PERIODS</h2>
				<p>review and enter period data here</p>
				<p>many features to come</p>
				<div>
					<button data-on:click="$view=0; @get('/periods')">
						@icon.Icon("solar:list-bold-duotone")
						<span>list</span>
					</button>
					<button data-on:click="$view=1; @get('/periods')">
						@icon.Icon("solar:widget-bold-duotone")
						<span>cards</span>
					</button>
				</div>
				if view == 0 {
					@blocks.List(periods)
				} else {
					@blocks.CardGrid(periods)
				}
			</section>
		</main>
	}
}