package pages

import (
	"fmt"
	
	"seek/internal/features/periods/blocks"
	"seek/internal/views"
	"seek/internal/views/layouts"
	"seek/internal/views/dto"
	"seek/internal/domain/models"
)

templ View(user models.User, period dto.PeriodView) {
	@layouts.Base("SEEK: period", user) {
		<main id="main" data-init={ views.LongRunningGetSSE(fmt.Sprintf("/periods/%s/view/stream", period.ID)) }>
			<section>
				@blocks.Card(period)
			</section>
		</main>
	}
}