package blocks

import "seek/internal/features/teachers/models"

templ Cards(teachers []models.Teacher) {
	<div class="card-grid">
		for _, teacher := range teachers {
			<div class="card">
				<p>{ teacher.DisplayName() } { teacher.LastName }</p>
			</div>
		}
	</div>
}
