package blocks

import (
	"seek/internal/features/teachers/events"
	"seek/internal/features/teachers/models"
	"seek/internal/ui/core/coreblocks/forms"

	"github.com/starfederation/datastar-go/datastar"
)

templ EditForm(teacher models.TeacherSignals, validation map[string]events.Validation) {
	<form
		id="teacher-edit-form"
		class="seek-form"
		data-on:submit={ datastar.PostSSE("/teachers/%s/edit", teacher.ID) }
	>
		<hgroup>
			<h2>edit teacher</h2>
			<p>edit the data of an existing teacher.</p>
		</hgroup>
		<section></section>
		<footer>
			@forms.CancelButton()
			@forms.SaveButton()
		</footer>
	</form>
}
