package blocks

import (
	"fmt"

	"seek/internal/features/teachers/models"
	"seek/pkg/templui/components/icon"
)

templ List(teachers []models.Teacher) {
	<table>
		<thead>
			<th>link</th>
			<th>first</th>
			<th>chosen</th>
			<th>last</th>
		</thead>
		<tbody>
			for i := range teachers {
				<tr>
					<td>
						<a href={ fmt.Sprintf("/teachers/%s", teachers[i].ID) }>
							<button>
								@icon.Link(icon.Props{
									Size: "16",
								})
							</button>
						</a>
					</td>
					<td>{ teachers[i].FirstName }</td>
					<td>
						if teachers[i].ChosenName != nil {
							{ *teachers[i].ChosenName }
						}
					</td>
					<td>{ teachers[i].LastName }</td>
				</tr>
			}
		</tbody>
	</table>
}
