package pages

import (
	"seek/internal/features/_shared/shareddto"
	"seek/internal/features/users/models"
	"seek/internal/ui/core/coreblocks/tables"
	"seek/internal/ui/core/corelayouts"
)

templ CSV(user models.User, view shareddto.DiffTableView) {
	@corelayouts.LayoutBase("SEEK: IEP services", user) {
		<main>
			<section>
				<h2>IEP services from a CSV file</h2>
				@tables.DiffTable(view)
			</section>
		</main>
	}
}
