package pages

import (
	"seek/internal/features/_shared/shareddto"
	"seek/internal/ui/core/coreblocks/tables"
	"seek/internal/ui/core/corelayouts"
)

templ CSV(view shareddto.DiffTableView) {
	@corelayouts.LayoutBase("SEEK: IEP services") {
		<main>
			<section>
				<h2>IEP services from a CSV file</h2>
				@tables.DiffTable(view)
			</section>
		</main>
	}
}
