package blocks

import (
	"seek/internal/features/users/models"
	"seek/internal/views/components/button"
	"seek/internal/views/components/popover"
	"seek/pkg/templui/components/icon"
)

templ UserHeaderMenu(user models.User) {
	@popover.Trigger(popover.TriggerProps{
		ID:  "user-header-menu",
		For: "user-header-menu-content",
	}) {
		<div><img src="/static/images/om-fox.svg"/></div>
		<span>{ user.Username }</span>
	}
	@popover.Content(popover.ContentProps{
		Anchor: "user-header-menu",
		ID:     "user-header-menu-content",
	}) {
		<ul>
			<li>
				@button.Button(button.Props{
					Href:    "/profile",
					Variant: button.VariantGhost,
				}) {
					profile
				}
			</li>
			<li>schedule</li>
			<li>settings</li>
			<li>
				@button.Button(button.Props{
					Attributes: templ.Attributes{
						"data-on:click": "@post('/logout')",
					},
				}) {
					@icon.LogOut(icon.Props{
						Size: "16",
					})
					<span>logout</span>
				}
			</li>
		</ul>
	}
	@UserHeaderMenuStyles()
}

templ UserHeaderMenuStyles() {
	<style>
		button#user-header-menu {
			color: var(--secondary-5-on);
			background-color: var(--secondary-5);
			display: flex;
			align-items: center;
			justify-content: center;
			gap: var(--size--2);
			border-radius: var(--bd-pill);
			padding: .4rem .5rem;

			div {
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: white;
				border-radius: var(--bd-circle);
				width: 100%;
				padding: 2px;
				
				img {
					width: 24px;
					aspect-ratio: var(--ar-square);
				}
			}
			span {
				font-size: var(--font-size--2);
			}
		}

		div#user-header-menu-content {
			color: var(--neutral-4-on);
			background-color: var(--neutral-4);
			border-color: var(--neutral-4-dim);

			ul {
				display: flex;
				flex-direction: column;
				gap: var(--size--2);
				font-size: var(--font-size--2);

				li {
					display: flex;
					gap: var(--size--2);
					align-items: center;
				}
			}
		}
	</style>
}
