package popover

import (
	"fmt"
)

const (
	baseTriggerClasses = "group cursor-pointer relative"

	baseContentClasses = 
	"bg-popover rounded-lg border shadow-lg " + 
	"p-2 max-w-sm h-0 opacity-0 hidden" + 
	"starting:open:opacity-0 starting:open:h-0 starting:open:p-0 " + 
	"open:opacity-100 open:h-fit open:block " +
	"text-popover-foreground text-sm overflow-hidden " + 
	"pointer-events-auto absolute z-[9999] " +
	"transition-discrete transition-all duration-200 "
)

type TriggerProps struct {
	ID  				string
	Class       string
	Attributes  templ.Attributes
	For 				string
}

type ContentProps struct {
	ID 					string
	Class       string
	Attributes  templ.Attributes
	Anchor			string
}

templ TriggerStyle() {
	<style>
		.popover-trigger {
			cursor: pointer;
			position: relative;
			anchor-name: var(--anchor-name);
		}
	</style>
}

templ ContentStyle() {
	<style>
		.popover-content {
			width: auto;
			color: var(--clr-n4o);
			background-color: var(--clr-n4);
			border-color: var(--clr-n4d);
			border-style: solid;
			border-radius: var(--bd-rd0);
			border-width: var(--border-width-0);
			padding: var(--size-0);
			transition: all 300ms allow-discrete;
			position-anchor: var(--anchor-name);
			position-area: bottom center;
			opacity: 0;
			margin-top: var(--size--2);
			&:popover-open {
				opacity: 1;
				transform: translateY(0);

				@starting-style {
					opacity: 0;
					transform: translateY(-1em);
				}
			}
		}
	</style>
}

templ Trigger(props ...TriggerProps) {
	{{ var p TriggerProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<button 
		if p.ID != "" {
			id={ p.ID }
		}
		popovertarget={ p.For }
		type="button"
		class="popover-trigger"
		style={ fmt.Sprintf("--anchor-name: --%s;", p.ID) }
		{ p.Attributes... }
	>
		{ children... }
	</button>
	@TriggerStyle()
}

templ Content(props ...ContentProps) {
	{{ var p ContentProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<div 
		id={ p.ID }
		popover
		class={ p.Class, "popover-content" }
		style={ fmt.Sprintf("--anchor-name: --%s;", p.Anchor) }
		{ p.Attributes... }
	>
		{ children... }
	</div>
	@ContentStyle()
}