package blocks

import (
	"fmt"

	"seek/internal/features/iep_services/dto"
	"seek/internal/views/components/card"
	"seek/internal/views/components/button"
)

templ Card(view dto.IEPServiceView) {
	@card.Card(card.Props{
		ID: fmt.Sprintf("period-%s-card", view.IEPServiceID),
		Class: "iep-service-card",
	}) {
		@card.Header() {
			@card.Title() {
				{ view.ServiceType }
			}
			@card.Description() {
				{ view.IndirectMinutes }
			}
		}
		@card.Content() {
			<p>content</p>
		}
		@card.Footer() {
			@button.Button(button.Props{
				Href: fmt.Sprintf("/serviceminutes/%s/edit", view.IEPServiceID),
			}) {
				edit
			}
			<button 
				data-on:click={ fmt.Sprintf("@delete('/serviceminutes/%s/delete')", view.IEPServiceID) }
			>delete</button>
		}
	}
	@card.CardStyles()
}