package blocks

import (
	"seek/internal/features/iep_services/dto"
	"seek/internal/views/blocks/forms"

	"github.com/starfederation/datastar-go/datastar"
)

templ CreateForm(view dto.IEPServiceFormView) {
	<form id="form-create-iep-service" data-on:submit={ datastar.PostSSE("/iepservices/create") }>
		<hgroup>
			<h2>CREATE IEP SERVICE</h2>
			<p>create a new iep service for a student.</p>
		</hgroup>
		<section>
			@forms.TextInputWithLabel(
				"iep-service-type", 
				"type", 
				"/iepservices/validate", 
				"iepservice.service_type", 
				view.IEPService.ServiceType,
			)
			<div>
				<p>minutes</p>
				<div style="display:flex; gap:var(--size-1);">
					@forms.NumberInputWithLabel(
						"iep-service-indirect-minutes", 
						"indirect", 
						"/iepservices/validate", 
						"iepservice.indirect_minutes", 
						view.IEPService.IndirectMinutes,
					)
					@forms.NumberInputWithLabel(
						"iep-service-direct-minutes", 
						"direct", 
						"/iepservices/validate", 
						"iepservice.direct_minutes", 
						view.IEPService.DirectMinutes,
					)
				</div>
			</div>
			@forms.NumberInputWithLabel(
				"iep-service-frequency-count", 
				"count", 
				"/iepservices/validate", 
				"iepservice.frequency_count", 
				view.IEPService.FrequencyCount,
			)
			@forms.TextInputWithLabel(
				"iep-service-location", 
				"location", 
				"/iepservices/validate", 
				"iepservice.location", 
				view.IEPService.Location,
			)
			@forms.TextInputWithLabel(
				"iep-service-provider", 
				"provider", 
				"/iepservices/validate", 
				"iepservice.provider", 
				view.IEPService.Provider,
			)
		</section>
		<footer>
			@forms.CancelButton()
			@forms.SaveButton()
		</footer>
	</form>
}
				