package blocks

import (
	"seek/internal/features/iep_services/dto"
	sb "seek/internal/features/students/blocks"
	"seek/internal/views/blocks/forms"
	"seek/pkg/templui/components/selectbox"

	"github.com/starfederation/datastar-go/datastar"
	"seek/pkg/templui/components/datepicker"
	"seek/pkg/templui/components/label"
)

templ CreateServiceForm(view dto.IEPServiceFormView) {
	<form
		id="form-create-iep-service"
		class="seek-form"
		data-on:submit={ datastar.PostSSE(view.URL) }
	>
		<hgroup>
			<h2>create IEP service</h2>
			<p>create a new iep service for a student.</p>
		</hgroup>
		<section>
			@sb.StudentSelect(view.Students)
		</section>
		<section>
			@forms.TextInputWithLabel(
				"iep-service-type",
				"type",
				view.URL+"/validate",
				"iepservice.service_type",
				view.IEPService.ServiceType.String(),
			)
			<div>
				<p>minutes</p>
				<div style="display:flex; gap:var(--size-1);">
					@forms.NumberInputWithLabel(
						"iep-service-indirect-minutes",
						"indirect",
						view.URL+"/validate",
						"iepservice.indirect_minutes",
						view.IEPService.IndirectMinutes,
					)
					@forms.NumberInputWithLabel(
						"iep-service-direct-minutes",
						"direct",
						view.URL+"/validate",
						"iepservice.direct_minutes",
						view.IEPService.DirectMinutes,
					)
				</div>
			</div>
			<div>
				<p>frequency</p>
				<div style="display:flex; align-items: center; justify-content: space-between; gap:var(--size-1);">
					@forms.NumberInputWithLabel(
						"iep-service-frequency-count",
						"count",
						view.URL+"/validate",
						"iepservice.frequency_count",
						view.IEPService.FrequencyCount,
					)
					<span>x</span>
					@FrequencyTypeSelect(view.IEPService.FrequencyType)
				</div>
			</div>
			@ServiceLocationSelect(view.IEPService.Location)
			@forms.TextInputWithLabel(
				"iep-service-provider",
				"provider",
				view.URL+"/validate",
				"iepservice.provider",
				view.IEPService.Provider,
			)
		</section>
		<section>
			<div class="flex gap-3">
				<div>
					@label.Label(label.Props{
						For:   "start-date-input",
						Class: "mb-3",
					}) {
						start date
					}
					@datepicker.DatePicker(datepicker.Props{
						ID:       "start-date-input",
						Class:    "input",
						DataBind: "iepservice.start_date",
						Value:    view.IEPService.StartDate,
						Attributes: templ.Attributes{
							"data-text": "$iepservice.start_date",
						},
					})
				</div>
				<div>
					@label.Label(label.Props{
						For:   "start-date-input",
						Class: "mb-3",
					}) {
						end date
					}
					@datepicker.DatePicker(datepicker.Props{
						ID:       "end-date-input",
						Class:    "input",
						DataBind: "iepservice.end_date",
						Value:    view.IEPService.EndDate,
						Attributes: templ.Attributes{
							"data-text": "$iepservice.end_date",
						},
					})
				</div>
			</div>
		</section>
		<footer>
			@forms.CancelButton()
			@forms.SaveButton()
		</footer>
	</form>
	@selectbox.Script()
	@datepicker.Script()
}
