package blocks

import (
	"seek/internal/features/iep_services/dto"
	"seek/internal/features/students/blocks"
	"seek/internal/views/blocks/forms"

	"github.com/starfederation/datastar-go/datastar"
)

templ EditServiceForm(view dto.IEPServiceFormView) {
	<form
		id="edit-iep-service-form"
		class="seek-form"
		data-on:submit={ datastar.PostSSE(view.URL) }
	>
		<hgroup>
			<h2>edit IEP service</h2>
			<p>edit an iep service for a student.</p>
		</hgroup>
		<section>
			@blocks.StudentSelect(view.Students)
		</section>
		<section>
			@forms.TextInputWithLabel(
				"iep-service-type",
				"type",
				view.URL+"/validate",
				"iepservice.service_type",
				view.IEPService.ServiceType,
			)
			<div>
				<p>minutes</p>
				<div style="display:flex; gap:var(--size-1);">
					@forms.NumberInputWithLabel(
						"iep-service-indirect-minutes",
						"indirect",
						view.URL+"/validate",
						"iepservice.indirect_minutes",
						view.IEPService.IndirectMinutes,
					)
					@forms.NumberInputWithLabel(
						"iep-service-direct-minutes",
						"direct",
						view.URL+"/validate",
						"iepservice.direct_minutes",
						view.IEPService.DirectMinutes,
					)
				</div>
			</div>
			<div>
				<p>frequency</p>
				<div style="display:flex; align-items: center; justify-content: space-between; gap:var(--size-1);">
					@forms.NumberInputWithLabel(
						"iep-service-frequency-count",
						"count",
						view.URL+"/validate",
						"iepservice.frequency_count",
						view.IEPService.FrequencyCount,
					)
					<span>x</span>
					@FrequencyTypeSelect(view.IEPService.FrequencyType)
				</div>
			</div>
			@ServiceLocationSelect(view.IEPService.Location)
			@forms.TextInputWithLabel(
				"iep-service-provider",
				"provider",
				view.URL+"/validate",
				"iepservice.provider",
				view.IEPService.Provider,
			)
		</section>
		<footer>
			@forms.CancelButton()
			@forms.SaveButton()
		</footer>
	</form>
}
