// templui component sidebar - version: v0.99.0 installed by templui v0.99.0
package sidebar

import ()

type contextKey string

const sidebarIDKey contextKey = "sidebar-id"

type Props struct {
	ID               string
	Class            string
	Attributes       templ.Attributes
	Collapsed        bool        // default: false (sidebar open)
	KeyboardShortcut string      // default: "b"
}

type TriggerProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
	Target     string // target sidebar ID to toggle
}

type HeaderProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type ContentProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type FooterProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type InsetProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type GroupProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type GroupLabelProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type MenuProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type MenuItemProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type MenuButtonSize string

const (
	MenuButtonSizeDefault MenuButtonSize = "default" // default
	MenuButtonSizeSm      MenuButtonSize = "sm"
	MenuButtonSizeLg      MenuButtonSize = "lg"
)

type MenuButtonProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
	Href       string
	IsActive   bool
	Size       MenuButtonSize // default: "default"
	Tooltip    string         // tooltip text to show when sidebar is collapsed
}

type MenuBadgeProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type MenuSubProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type MenuSubItemProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type MenuSubButtonProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
	Href       string
	IsActive   bool
}

type SeparatorProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type LayoutProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

templ Sidebar(props ...Props) {
	<aside id="sidebar" style="width: var(--sidebar-w);">
	 { children... }
	</aside>
}

templ SidebarCollapsed() {
	<aside id="sidebar" style="width: var(--sidebarc-w);">
		{ children... }
	</aside>
}

templ SidebarStyles() {
	<style>
		aside {
			width: 200px;
			height: auto;
			background-color: blueviolet;
			border-radius: var(--bd-rd1);
			margin: var(--size--1);
		}
	</style>
}

templ Header(props ...HeaderProps) {
	{{ var p HeaderProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<div
		if p.ID != "" {
			id={ p.ID }
		}
		data-tui-sidebar="header"
		{ p.Attributes... }
	>
		{ children... }
	</div>
}

templ Footer(props ...FooterProps) {
	{{ var p FooterProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<div
		if p.ID != "" {
			id={ p.ID }
		}
		data-tui-sidebar="footer"
		{ p.Attributes... }
	>
		{ children... }
	</div>
}

templ Content(props ...ContentProps) {
	{{ var p ContentProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<div
		if p.ID != "" {
			id={ p.ID }
		}
		data-tui-sidebar="content"
		{ p.Attributes... }
	>
		{ children... }
	</div>
}

templ Menu(props ...MenuProps) {
	{{ var p MenuProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<ul
		if p.ID != "" {
			id={ p.ID }
		}
		data-tui-sidebar="menu"
		{ p.Attributes... }
	>
		{ children... }
	</ul>
}

templ MenuItem(props ...MenuItemProps) {
	{{ var p MenuItemProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<li
		if p.ID != "" {
			id={ p.ID }
		}
		data-tui-sidebar="menu-item"
		{ p.Attributes... }
	>
		{ children... }
	</li>
}

templ MenuButton(props ...MenuButtonProps) {
	{{ var p MenuButtonProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	if p.Size == "" {
		{{ p.Size = MenuButtonSizeDefault }}
	}
	@menuButtonContent(p, "") {
		{ children... }
	}
}

templ menuButtonContent(p MenuButtonProps, buttonID string) {
	if p.Href != "" {
		<a
			if buttonID != "" {
				id={ buttonID }
			}
			href={ templ.SafeURL(p.Href) }
			data-tui-sidebar="menu-button"
			data-tui-sidebar-size={ string(p.Size) }
			if p.IsActive {
				data-tui-sidebar-active="true"
			}
			{ p.Attributes... }
		>
			{ children... }
		</a>
	} else {
		<button
			if buttonID != "" {
				id={ buttonID }
			}
			type="button"
			data-tui-sidebar="menu-button"
			data-tui-sidebar-size={ string(p.Size) }
			if p.IsActive {
				data-tui-sidebar-active="true"
			}
			{ p.Attributes... }
		>
			{ children... }
		</button>
	}
}

templ MenuSub(props ...MenuSubProps) {
	{{ var p MenuSubProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<ul
		if p.ID != "" {
			id={ p.ID }
		}
		data-tui-sidebar="menu-sub"
		{ p.Attributes... }
	>
		{ children... }
	</ul>
}

templ MenuSubItem(props ...MenuSubItemProps) {
	{{ var p MenuSubItemProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<li
		if p.ID != "" {
			id={ p.ID }
		}
		data-tui-sidebar="menu-sub-item"
		{ p.Attributes... }
	>
		{ children... }
	</li>
}

templ MenuSubButton(props ...MenuSubButtonProps) {
	{{ var p MenuSubButtonProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	if p.Href != "" {
		<a
			if p.ID != "" {
				id={ p.ID }
			}
			href={ templ.SafeURL(p.Href) }
			data-tui-sidebar="menu-sub-button"
			if p.IsActive {
				data-tui-sidebar-active="true"
			}
			{ p.Attributes... }
		>
			{ children... }
		</a>
	} else {
		<button
			if p.ID != "" {
				id={ p.ID }
			}
			type="button"
			data-tui-sidebar="menu-sub-button"
			if p.IsActive {
				data-tui-sidebar-active="true"
			}
			{ p.Attributes... }
		>
			{ children... }
		</button>
	}
}

templ Group(props ...GroupProps) {
	{{ var p GroupProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<div
		if p.ID != "" {
			id={ p.ID }
		}
		data-tui-sidebar="group"
		{ p.Attributes... }
	>
		{ children... }
	</div>
}

templ GroupLabel(props ...GroupLabelProps) {
	{{ var p GroupLabelProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<div
		if p.ID != "" {
			id={ p.ID }
		}
		data-tui-sidebar="group-label"
		{ p.Attributes... }
	>
		{ children... }
	</div>
}

templ MenuBadge(props ...MenuBadgeProps) {
	{{ var p MenuBadgeProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<span
		if p.ID != "" {
			id={ p.ID }
		}
		data-tui-sidebar="menu-badge"
		{ p.Attributes... }
	>
		{ children... }
	</span>
}

templ Separator(props ...SeparatorProps) {
	{{ var p SeparatorProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<hr
		if p.ID != "" {
			id={ p.ID }
		}
		data-tui-sidebar="separator"
		{ p.Attributes... }
	/>
}
