package pages

import (
	"seek/internal/features/teachers/blocks"
	"seek/internal/features/teachers/events"
	"seek/internal/features/teachers/models"
	um "seek/internal/features/users/models"
	"seek/internal/ui/core/corelayouts"
	"seek/pkg/sse"
)

templ Edit(user um.User, teacher models.TeacherSignals, validation map[string]events.Validation) {
	@corelayouts.LayoutBase("SEEK: edit student", user) {
		<main data-init={ sse.LongRunningGetSSE("/teachers/edit/stream") }>
			<section>
				@blocks.EditForm(teacher, validation)
			</section>
		</main>
	}
}
