package pages

import (
	"fmt"

	"seek/internal/features/teachers/models"
	um "seek/internal/features/users/models"
	"seek/internal/ui/core/corelayouts"
	"seek/pkg/sse"
)

templ View(user um.User, teacher *models.Teacher) {
	@corelayouts.LayoutBase("SEEK: teachers", user) {
		<main data-init={ sse.LongRunningGetSSE("/teachers/stream") }>
			<section>
				<h2>{ teacher.FirstLast() }</h2>
				<footer>
					<a href={ fmt.Sprintf("/teachers/%s/edit", teacher.ID) }>
						<button>edit</button>
					</a>
					<button data-on:click={ fmt.Sprintf("@delete('/teachers/%s')", teacher.ID) }>delete</button>
				</footer>
			</section>
		</main>
	}
}
