package pages

import (
	"fmt"

	"seek/internal/domain/models"
	"seek/internal/views"
	"seek/internal/views/layouts"
)

templ View(teacher *models.Teacher) {
	@layouts.Base("SEEK: teachers") {
		<main data-init={ views.LongRunningGetSSE("/teachers/stream") }>
			<section>
				<h2>{ teacher.FirstLast() }</h2>
				<footer>
					<a href={ fmt.Sprintf("/teachers/%s/edit", teacher.ID) }>
						<button>edit</button>
					</a>
					<button data-on:click={ fmt.Sprintf("@delete('/teachers/%s')", teacher.ID) }>delete</button>
				</footer>
			</section>
		</main>
	}
}