package pages

import (
	"seek/internal/domain/models"
	"seek/internal/features/iep_services/blocks"
	"seek/internal/features/iep_services/dto"
	"seek/internal/views"
	"seek/internal/views/layouts"
)

templ Create(user models.User, view dto.IEPServiceFormView) {
	@layouts.Base("SEEK: create service", user) {
		<main data-init={ views.LongRunningGetSSE("/iepservices/create/stream") }>
			<section>
				@blocks.CreateServiceForm(view)
			</section>
		</main>
	}
}
