package pages

import (
	"seek/internal/features/_shared/shareddto"
	"seek/internal/features/iep_services/blocks"
	"seek/internal/features/users/models"
	"seek/internal/ui/core/corelayouts"
	sse "seek/pkg/sse"
)

templ List(user models.User, view shareddto.TableView) {
	@corelayouts.LayoutBase("SEEK: IEP services", user) {
		<main data-signals:view={ view } data-init={ sse.LongRunningGetSSE("/iepservices/list/stream") }>
			<section>
				<h2>IEP SERVICES</h2>
				<p>review and enter IEP service data here.</p>
				<p>many features to come.</p>
				@blocks.List(view)
			</section>
		</main>
	}
}
