package pages

import (
	"seek/internal/domain/models"
	"seek/internal/features/iep_services/blocks"
	"seek/internal/features/iep_services/dto"
	sse "seek/internal/views"
	"seek/internal/views/components/icon"
	"seek/internal/views/layouts"
	"seek/internal/views/components/button"
)



templ List(user models.User, view int, views []dto.IEPServiceView) {
	@layouts.Base("SEEK: IEP services", user) {
		<main data-signals:view={ view } data-init={ sse.LongRunningGetSSE("/iepservices/list/stream") }>
			<section>
				<h2>IEP SERVICES</h2>
				<p>review and enter IEP service data here.</p>
				<p>many features to come.</p>
				<div>
					@button.Button(button.Props{
						Attributes: templ.Attributes{
							"data-on:click": "$view=0; @get('/iepservices/list')",
						},
					}) {
						@icon.Table(icon.Props{
							Size: "16",
						})
						<span>list</span>
					}
					@button.Button(button.Props{
						Attributes: templ.Attributes{
							"data-on:click": "$view=1; @get('/iepservices/list')",
						},
					}) {
						@icon.LayoutGrid(icon.Props{
							Size: "16",
						})
						<span>grid</span>
					}
				</div>
				if view == 0 {
					@blocks.List(views)
				} else {
					@blocks.CardGrid(views)
				}
			</section>
		</main>
	}
}