package pages

import (
	"fmt"

	"seek/internal/features/iep_services/blocks"
	"seek/internal/features/iep_services/dto"
	"seek/internal/features/users/models"
	"seek/internal/ui/core/corelayouts"
	"seek/pkg/sse"
)

templ View(user models.User, view dto.IEPServiceView) {
	@corelayouts.LayoutBase("SEEK: IEP service", user) {
		<main id="main" data-init={ sse.LongRunningGetSSE(fmt.Sprintf("/periods/%s/stream", view.IEPServiceID)) }>
			<section>
				@blocks.Card(view)
			</section>
		</main>
	}
}
