package table

type Props struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type HeaderProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type BodyProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type FooterProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type RowProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
	Selected   bool
}

type HeadProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type CellProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

type CaptionProps struct {
	ID         string
	Class      string
	Attributes templ.Attributes
}

templ Table(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<div data-slot="table-container">
		<table
			if p.ID != "" {
				id={ p.ID }
			}
			if p.Class != "" {
				class={ p.Class }
			}
			{ p.Attributes... }
		>
			{ children... }
		</table>
	</div>
	<style>
		div[data-slot="table-container"] {
			position: relative;
			width: 100%;
			overflow-x: auto;
			border-radius: var(--border-radius-0);
			border-width: var(--border-width-0);
			border-style: solid;
			border-color: var(--clr-n4d);

			table {
				width: 100%;
				font-size: var(--font-size--1);
				line-height: var(--line-height--1);
				caption-side: bottom;

				thead tr {
					border-bottom-style: var(--border-style);
					border-bottom-width: 1px;

					th {
						height: 2.5rem;
						padding-left: 0.5rem;
						padding-right: 0.5rem;
						text-align: left;
						vertical-align: middle;
						font-weight: var(--font-weight-medium);
						color: color-mix(in oklch, var(--clr-n4o) 50%, transparent);

						&:has([role="checkbox"]) {
							padding-right: 0;
						}

						& > [role="checkbox"] {
							transform: translateY(2px);
						}
						
						&:not(:last-of-type) {
							border-right-style: dashed;
							border-right-width: 1px;
							border-right-color: color-mix(in oklch, var(--clr-n4d) 50%, transparent);
						}

						div {
							display: flex;
							align-items: center;
							gap: 0.4rem;
						}
					}
				}

				tbody tr:last-child {
					border-style: var(--border-style);
					border-width: 0;
				}

				tfoot {
					border-top-style: var(--border-style);
					border-top-width: 1px;
					background-color: color-mix(in oklab, var(--muted) 50%, transparent);;
					font-weight: var(--font-weight-medium);

					& > tr:last-child {
						border-bottom-style: var(--border-style);
						border-bottom-width: 0;
					}
				}

				tr {
					border-bottom-style: var(--border-style);
					border-bottom-width: 1px;
					border-bottom-color: var(--neutral-4-dim);
					transition-property: 
						color, 
						background-color, 
						border-color, 
						outline-color, 
						text-decoration-color, 
						fill, 
						stroke, 
						--tw-gradient-from, 
						--tw-gradient-via, 
						--tw-gradient-to;
					transition-duration: var(--tw-ease, var(--default-transition-timing-function));
					transition-timing-function: var(--tw-duration, var(--default-transition-duration));

					&:hover {
						background-color: color-mix(in oklch, var(--clr-n4) 50%, transparent);
					}

					&[data-state=selected] {
						background-color: var(--muted);
					}

					&:has(aria-expanded) {
						background-color: var(--muted);
					}

					td {
						padding: 0.5rem;
						vertical-align: middle;

						&:has([role="checkbox"]) {
							padding-right: 0;
						}

						& > [role="checkbox"] {
							transform: translateY(2px);
						}

						&:has(.badge) {
							text-align: center;
						}
						
						&:not(:last-of-type) {
							border-right-style: dashed;
							border-right-width: 1px;
							border-right-color: color-mix(in oklch, var(--clr-n4d) 50%, transparent);
						}

						&:last-of-type {
							text-align: center;
						}
					}
				}
			}
		}
	</style>
}

templ Header(props ...HeaderProps) {
	{{ var p HeaderProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<thead
		if p.ID != "" {
			id={ p.ID }
		}
		if p.Class != "" {
			class={ p.Class }
		}
		{ p.Attributes... }
	>
		{ children... }
	</thead>
}

templ Body(props ...BodyProps) {
	{{ var p BodyProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<tbody
		if p.ID != "" {
			id={ p.ID }
		}
		if p.Class != "" {
			class={ p.Class }
		}
		{ p.Attributes... }
	>
		{ children... }
	</tbody>
}

templ Footer(props ...FooterProps) {
	{{ var p FooterProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<tfoot
		if p.ID != "" {
			id={ p.ID }
		}
		if p.Class != "" {
			class={ p.Class }
		}
		{ p.Attributes... }
	>
		{ children... }
	</tfoot>
}

templ Row(props ...RowProps) {
	{{ var p RowProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<tr
		if p.ID != "" {
			id={ p.ID }
		}
		if p.Class != "" {
			class={ p.Class }
		}
		if p.Selected {
			data-tui-table-state-selected
		}
		{ p.Attributes... }
	>
		{ children... }
	</tr>
}

templ Head(props ...HeadProps) {
	{{ var p HeadProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<th
		if p.ID != "" {
			id={ p.ID }
		}
		if p.Class != "" {
			class={ p.Class }
		}
		{ p.Attributes... }
	>
		{ children... }
	</th>
}

templ Cell(props ...CellProps) {
	{{ var p CellProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<td
		if p.ID != "" {
			id={ p.ID }
		}
		if p.Class != "" {
			class={ p.Class }
		}
		{ p.Attributes... }
	>
		{ children... }
	</td>
}

templ Caption(props ...CaptionProps) {
	{{ var p CaptionProps }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<caption
		if p.ID != "" {
			id={ p.ID }
		}
		if p.Class != "" {
			class={ p.Class }
		}
		{ p.Attributes... }
	>
		{ children... }
	</caption>
	<style>
		caption {
			margin-top: 1rem;
			font-size: var(--font-size--1);
			line-height: var(--line-height--1);
			color: var(--muted-foreground);
		}
	</style>
}