package blocks

import (
	"fmt"

	"seek/internal/features/students/dto"
	"seek/pkg/templui/components/badge"
	"seek/pkg/templui/components/button"
	"seek/pkg/templui/components/card"
	"seek/pkg/templui/components/icon"
)

templ Card(view dto.StudentView) {
	@card.Card(card.Props{
		ID:    fmt.Sprintf("student-%s-card", view.Username),
		Class: "student-card bg-linear-1 max-w-128 h-min",
		Attributes: templ.Attributes{
			"style": "background-color: var(--neutral-4);",
		},
	}) {
		@card.Header() {
			@card.Title() {
				{ view.GivenName } { view.FamilyName }
			}
		}
		@card.Content(card.ContentProps{
			Class: "text-sm w-1/2 flex flex-col gap-2",
		}) {
			<p class="flex justify-between">
				<span class="text-neutral-content/80">grade</span>
				@badge.Badge() {
					{ view.Grade.Ordinal() }
				}
			</p>
			<p class="flex justify-between"><span class="text-neutral-content/80">homeroom</span>{ view.Homeroom }</p>
			<p class="flex justify-between"><span class="text-neutral-content/80">case manager</span>{ view.CaseManager }</p>
		}
		@card.Footer() {
			@button.Button(button.Props{
				Href: fmt.Sprintf("/students/%s/edit", view.Username),
			}) {
				@icon.Pencil(icon.Props{
					Size: "16",
				})
				<span>edit</span>
			}
		}
	}
}
