package blocks

import (
	"seek/internal/features/students/dto"
	"seek/pkg/templui/components/avatar"
	"seek/pkg/templui/components/badge"
)

templ MiniCard(view dto.StudentView) {
	<div class="flex gap-2">
		@avatar.Avatar() {
			@avatar.Image()
			@avatar.Fallback() {
				{ view.Initials() }
			}
		}
		<div class="flex flex-col gap-1">
			<span>{ view.FullName() }</span>
			@badge.Badge() {
				{ view.Grade.Ordinal() }
			}
		</div>
	</div>
}
