package blocks

import (
	homeroomDTO "seek/internal/features/homerooms/dto"
	"seek/internal/features/students/dto"
)

templ CardGrid(students []dto.StudentView) {
	<div class="student-card-grid">
		for _, student := range students {
			@Card(student, homeroomDTO.HomeroomView{}, 0)
		}
	</div>
}
