package blocks

import "seek/internal/features/students/dto"

templ CardGrid(students []dto.StudentView) {
	<div class="student-card-grid">
		for _, student := range students {
			@Card(student)
		}
	</div>
}
