package blocks

import (
	"fmt"

	"seek/internal/features/_shared/sharedmodels"
	"seek/internal/features/students/dto"
	"seek/pkg/templui/components/button"
	"seek/pkg/templui/components/icon"
	"seek/pkg/templui/components/separator"
)

templ StudentFilters(target, url string, filters dto.StudentFilter) {
	<neo-popover>
		@button.Button(button.Props{
			Attributes: templ.Attributes{
				"data-neo-popover-trigger": "",
			},
		}) {
			@icon.ListFilter()
			<span>filter</span>
		}
		<div
			class="p-3"
			data-neo-popover-content
		>
			@StudentGradesFilter(target, url, filters.Grade)
			@separator.Separator(separator.Props{
				Class: "mt-4 mb-2",
			})
			@StudentPlanTypesFilter(target, url, filters.PlanType)
		</div>
	</neo-popover>
	<div class="flex gap-2 items-center">
		@icon.Search()
		<input
			id="students-list-search"
			class="input"
			{ fmt.Sprintf("data-bind:%s.filter.search", target) }
			data-on:input__debounce.250ms={ fmt.Sprintf("@post('%s')", url) }
			type="search"
		/>
	</div>
}

templ StudentGradesFilter(target, url string, gradesFilter map[string]bool) {
	{{ filter, _ := templ.JSONString(gradesFilter) }}
	<div
		class="flex flex-col gap-3"
		{ fmt.Sprintf("data-signals:%s.filter.grade=%s", target, filter) }
	>
		<h4>grades</h4>
		<div class="button-group grid grid-cols-9 w-fit">
			for _, grade := range sharedmodels.GradeList {
				@button.Button(button.Props{
					Variant: button.VariantOutline,
					Attributes: templ.Attributes{
						"data-class:bg-primary": fmt.Sprintf("$%s.filter.grade.%d", target, grade),
						"data-on:click":         fmt.Sprintf("$%[1]s.filter.grade.%[2]d = !$%[1]s.filter.grade.%[2]d; @post('%[3]s')", target, grade, url),
					},
				}) {
					{ grade.Ordinal() }
				}
			}
		</div>
	</div>
}

templ StudentPlanTypesFilter(target, url string, planTypesFilter map[string]bool) {
	{{ filter, _ := templ.JSONString(planTypesFilter) }}
	<div
		class="flex flex-col gap-3"
		{ fmt.Sprintf("data-signals:%s.filter.plan_type=%s", target, filter) }
	>
		<h4>plan types</h4>
		<div class="button-group grid grid-cols-4 w-fit">
			for _, plan := range sharedmodels.PlanTypeList {
				@button.Button(button.Props{
					Variant: button.VariantOutline,
					Attributes: templ.Attributes{
						"data-class:bg-primary": fmt.Sprintf("$%s.filter.plan_type.%d", target, plan),
						"data-on:click":         fmt.Sprintf("$%[1]s.filter.plan_type.%[2]d = !$%[1]s.filter.plan_type.%[2]d; @post('%[3]s')", target, plan, url),
					},
				}) {
					{ plan.Description() }
				}
			}
		</div>
	</div>
}
