package blocks

import (
	"fmt"

	"seek/internal/features/_shared/sharedmodels"
	"seek/internal/features/students/dto"
	"seek/pkg/templui/components/button"
	"seek/pkg/templui/components/icon"
	"seek/pkg/templui/components/separator"
)

templ StudentFilters(filters dto.StudentTableFilter) {
	<div class="flex flex-col gap-4">
		@button.Button(button.Props{
			Attributes: templ.Attributes{
				"data-on:click": "$show_filter = !$show_filter",
			},
		}) {
			@icon.ListFilter()
			<span>filter</span>
		}
		<div
			style="display: none;"
			class="rounded-md border border-muted bg-linear-3-4 p-4 flex flex-col gap-3"
			data-signals:show_filter="false"
			data-show="$show_filter"
		>
			@StudentGradesFilter(filters.Grade)
			@separator.Separator(separator.Props{
				Class: "mt-4 mb-2",
			})
			@StudentPlanTypesFilter(filters.PlanType)
		</div>
	</div>
}

templ StudentGradesFilter(gradesFilter map[string]bool) {
	<div class="flex flex-col gap-3" data-signals:table.filter.grade={ templ.JSONString(gradesFilter) }>
		<h4>grades</h4>
		<div class="button-group grid grid-cols-9 w-fit">
			for _, grade := range sharedmodels.GradeList {
				@button.Button(button.Props{
					Variant: button.VariantOutline,
					Attributes: templ.Attributes{
						"data-class:bg-primary": fmt.Sprintf("$table.filter.grade.%d", grade),
						"data-on:click":         fmt.Sprintf("$table.filter.grade.%[1]d = !$table.filter.grade.%[1]d; @post('/students')", grade),
					},
				}) {
					{ grade.Ordinal() }
				}
			}
		</div>
	</div>
}

templ StudentPlanTypesFilter(planTypesFilter map[string]bool) {
	<div class="flex flex-col gap-3" data-signals:table.filter.plan_type={ templ.JSONString(planTypesFilter) }>
		<h4>plan types</h4>
		<div class="button-group grid grid-cols-4 w-fit">
			for _, plan := range sharedmodels.PlanTypeList {
				@button.Button(button.Props{
					Variant: button.VariantOutline,
					Attributes: templ.Attributes{
						"data-class:bg-primary": fmt.Sprintf("$table.filter.plan_type.%d", plan),
						"data-on:click":         fmt.Sprintf("$table.filter.plan_type.%[1]d = !$table.filter.plan_type.%[1]d; @post('/students')", plan),
					},
				}) {
					{ plan.Description() }
				}
			}
		</div>
	</div>
}
