package blocks

import (
	"fmt"
	
	"seek/internal/domain/models"
	"seek/internal/views/components/input"
	"seek/internal/views/components/label"
	"seek/internal/views/components/selectbox"
	"seek/internal/views/dto"

	"github.com/starfederation/datastar-go/datastar"
	"seek/internal/views/blocks/forms"
)

templ CreateForm(v dto.StudentFormView) {
	<form 
		id="student-create-form" 
		class="seek-form" 
		data-on:submit={ datastar.PostSSE("/students/create") }
	>
		<hgroup>
			<h2>CREATE A STUDENT</h2>
			<p>create a student.</p>
		</hgroup>
		<section>
			@label.Label(label.Props{
				ID: "first-name-label",
				For: "first-name",
				Label: "first name",
				ValidationState: v.Validation["first_name"].State,
				ValidationMessage: v.Validation["first_name"].Message,
			}) {
				@input.Input(input.Props{
					ID: "first-name",
					Name: "first-name",
					DataBind: "student.first_name",
					DataOn: fmt.Sprintf("/students/create/validate"),
					HasError: v.Validation["first_name"].State == "error",
					IsValid: v.Validation["first_name"].State == "valid",
					Value: v.Student.FirstName,
				})
			}
			@label.Label(label.Props{
				ID: "chosen-name-label",
				For: "chosen-name",
				Label: "chosen name",
				ValidationState: v.Validation["chosen_name"].State,
				ValidationMessage: v.Validation["chosen_name"].Message,
			}) {
				@input.Input(input.Props{
					ID: "chosen-name",
					Name: "chosen-name",
					DataBind: "student.chosen_name",
					DataOn: fmt.Sprintf("/students/create/validate"),
					HasError: v.Validation["chosen_name"].State == "error",
					IsValid: v.Validation["chosen_name"].State == "valid",
					Value: v.Student.ChosenName,
				})
			}
			@label.Label(label.Props{
				ID: "last-name-label",
				For: "last-name",
				Label: "last name",
				ValidationState: v.Validation["last_name"].State,
				ValidationMessage: v.Validation["last_name"].Message,
			}) {
				@input.Input(input.Props{
					ID: "last-name",
					Name: "last-name",
					DataBind: "student.last_name",
					DataOn: fmt.Sprintf("/students/create/validate"),
					HasError: v.Validation["last_name"].State == "error",
					IsValid: v.Validation["last_name"].State == "valid",
					Value: v.Student.LastName,
				})
			}
		</section>
		<section>
			@label.Label(label.Props{
				ID: "grade-label",
				For: "grade-select",
				Label: "grade",
				ValidationState: v.Validation["grade"].State,
				ValidationMessage: v.Validation["grade"].Message,
			}) {
				@selectbox.Select(selectbox.Props{
					ID: "grade-select",
					Placeholder: "select a grade",
					DataBind: "student.grade",
					DataOnChange: fmt.Sprintf("/students/create/validate"),
				}) {
					for index, grade := range models.GradeList {
						<option 
						id={ fmt.Sprintf( "option-%d", index ) }
						if grade.Str() == v.Student.Grade {
							selected
						}
						value={ index }
						>
							{ grade.Ordinal() }
						</option>
					}
				}
			}
		</section>
		<section>
			@label.Label(label.Props{
				ID: "homeroom-label",
				For: "homeroom",
				Label: "homeroom",
				ValidationState: v.Validation["homeroom"].State,
				ValidationMessage: v.Validation["homeroom"].Message,
			}) {
				@input.Input(input.Props{
					ID: "homeroom",
					Name: "homeroom",
					DataBind: "student.homeroom",
					DataOn: fmt.Sprintf("/students/create/validate"),
					HasError: v.Validation["homeroom"].State == "error",
					IsValid: v.Validation["homeroom"].State == "valid",
					Value: v.Student.Homeroom,
				})
			}
			@label.Label(label.Props{
				ID: "case-manager-label",
				For: "case-manager",
				Label: "case manager",
				ValidationState: v.Validation["case_manager"].State,
				ValidationMessage: v.Validation["case_manager"].Message,
			}) {
				@input.Input(input.Props{
					ID: "case-manager",
					Name: "case-manager",
					DataBind: "student.case_manager",
					DataOn: fmt.Sprintf("/students/create/validate"),
					HasError: v.Validation["case_manager"].State == "error",
					IsValid: v.Validation["case_manager"].State == "valid",
					Value: v.Student.CaseManager,
				})
			}
		</section>
		<footer>
			@forms.CancelButton()
			@forms.SaveButton()
		</footer>
	</form>
}
				