package blocks

import (
	"seek/internal/features/_shared/sharedmodels"
	"seek/internal/features/students/dto"
	"seek/internal/ui/core/coreblocks/forms"
	"seek/pkg/templui/components/selectbox"

	"github.com/starfederation/datastar-go/datastar"
)

templ StudentEditForm(view dto.StudentFormView) {
	{{ url := sharedmodels.GetURLFromContext(ctx) }}
	@selectbox.Script()
	<form
		id="student-edit-form"
		class="seek-form w-128"
		data-on:submit={ datastar.PostSSE("%s", url) }
	>
		@FormSections(view)
		<footer>
			@forms.CancelButton()
			@forms.SaveButton()
		</footer>
	</form>
}
