package blocks

import (
	"seek/internal/features/_shared/sharedmodels"
	"seek/internal/features/students/dto"
	"seek/internal/ui/core/coreblocks/forms"
	"seek/pkg/templui/components/selectbox"

	"fmt"
	"github.com/starfederation/datastar-go/datastar"
)

templ StudentForm(view dto.StudentFormView) {
	{{ url := sharedmodels.GetURLFromContext(ctx) }}
	@selectbox.Script()
	<form
		id={ fmt.Sprintf("student-%s-form", view.FormType) }
		class="w-full max-w-264 gap-10 flex flex-col"
		data-on:submit={ datastar.PostSSE("%s", url) }
	>
		<div class="w-full gap-8 flex flex-wrap">
			@FormSections(view)
		</div>
		<footer class="w-full flex gap-8">
			@forms.CancelButton("/students")
			@forms.SaveButton()
		</footer>
	</form>
}
