package blocks

import (
	"fmt"

	"seek/internal/features/students/dto"
	"seek/internal/views/components/icon"
	"seek/internal/views/components/badge"
)

templ StudentList(students []dto.StudentListView) {
	<table>
		<thead>
			<th>link</th>
			<th>first</th>
			<th>chosen</th>
			<th>last</th>
			<th>grade</th>
			<th>homeroom</th>
			<th>case manager</th>
		</thead>
		<tbody>
			for i := range students {
				<tr>
					<td>
						<a href={ fmt.Sprintf("/students/%s", students[i].ID) }>
							<button>
								@icon.Icon("mdi:link")
							</button>
						</a>
					</td>
					<td>{ students[i].FirstName }</td>
					<td>{ students[i].ChosenName }</td>
					<td>{ students[i].LastName }</td>
					<td>
						@badge.Badge() {
							{ students[i].Grade }
						}
						</td>
					<td>{ students[i].Homeroom }</td>
					<td>{ students[i].CaseManager }</td>
				</tr>
			}
		</tbody>
	</table>
}