package blocks

import (
	"fmt"
	"seek/internal/features/students/dto"
	"seek/pkg/templui/components/label"
	"seek/pkg/templui/components/selectbox"
)

templ StudentMultiselect(url, object string, views []dto.StudentSelectBoxView) {
	@selectbox.SelectBox(selectbox.Props{
		ID: "student-multiselect-container",
	}) {
		@label.Label(label.Props{
			For:   "student-multiselect",
			Class: "text-muted-foreground mb-3",
		}) {
			student(s)
		}
		@selectbox.Trigger(selectbox.TriggerProps{
			ID:           "student-multiselect",
			ShowPills:    true,
			DataBind:     fmt.Sprintf("%s.student_ids", object),
			DataOnChange: fmt.Sprintf("@post('%s/validate')", url),
		}) {
			@selectbox.Value(selectbox.ValueProps{
				Placeholder: "no students selected",
			})
		}
		@selectbox.Content() {
			for i := range views {
				@selectbox.Item(selectbox.ItemProps{
					Value:    views[i].Student.ID,
					Selected: views[i].Selected,
				}) {
					{ views[i].Student.NameInitial() }
				}
			}
		}
	}
	@selectbox.Script()
}
