package blocks

import (
	"seek/internal/features/students/models"
	"seek/pkg/templui/components/label"
	"seek/pkg/templui/components/selectbox"
)

type StudentMultiselectView struct {
	StudentID   string
	DisplayName string
	Selected    bool
}

func NewStudentMultiselectView(all []models.Student, selected []string) []StudentMultiselectView {
	view := make([]StudentMultiselectView, len(all))
	selectedMap := make(map[string]bool, len(selected))
	for i := range selected {
		selectedMap[selected[i]] = true
	}
	for i := range all {
		view[i] = StudentMultiselectView{
			StudentID:   all[i].ID,
			DisplayName: all[i].FullName(),
			Selected:    selectedMap[all[i].ID],
		}
	}
	return view
}

templ StudentMultiselect(views []StudentMultiselectView) {
	@selectbox.SelectBox(selectbox.Props{
		ID: "student-multiselect-container",
	}) {
		@label.Label(label.Props{
			For:   "student-multiselect",
			Class: "text-neutral-content/80 mb-3",
		}) {
			student(s)
		}
		@selectbox.Trigger(selectbox.TriggerProps{
			ID:        "student-multiselect",
			ShowPills: true,
			Attributes: templ.Attributes{
				"data-bind:period.student_ids": "",
			},
		}) {
			@selectbox.Value(selectbox.ValueProps{
				Placeholder: "no students selected",
			})
		}
		@selectbox.Content() {
			for i := range views {
				@selectbox.Item(selectbox.ItemProps{
					Value:    views[i].StudentID,
					Selected: views[i].Selected,
				}) {
					{ views[i].DisplayName }
				}
			}
		}
	}
	@selectbox.Script()
}
