package blocks

import (
	"seek/internal/features/services/blocks"
	"seek/internal/features/services/dto"
)

templ Services(services []dto.ServiceView) {
	for _, service := range services {
		@blocks.Card(service)
	}
}
