package blocks

import (
	"fmt"

	"seek/internal/features/_shared/sharedmodels"
	"seek/internal/features/homerooms/dto"
	"seek/internal/ui/core/coreblocks"
	"seek/pkg/templui/components/badge"
	"seek/pkg/templui/components/button"
	"seek/pkg/templui/components/card"
	"seek/pkg/templui/components/icon"
	"seek/pkg/templui/components/separator"
	"seek/pkg/templui/components/tooltip"
)

templ Card(view dto.HomeroomView) {
	@card.Card(card.Props{
		ID:    fmt.Sprintf("homeroom-%s-card", view.ID),
		Class: "homeroom-card max-w-128 bg-neutral border-muted",
	}) {
		@card.Header() {
			@card.Title() {
				<span>name: { view.Title }</span>
			}
			@card.Description(card.DescriptionProps{
				Class: "flex gap-1 text-neutral-content/90",
			}) {
				<span>grades: </span>
				for _, grade := range sharedmodels.GradeList {
					if view.GradesBitmask.IsGradeSet(grade) {
						@badge.Badge() {
							{ grade.Ordinal() }
						}
					}
				}
			}
		}
		@card.Content(card.ContentProps{
			Class: "flex flex-col gap-4 text-sm w-full",
		}) {
			<div class="flex flex-col gap-2">
				<p>
					<span class="text-neutral-content/70">teachers ({ len(view.Educators) }):</span>
				</p>
				<div class="homeroom-card-educators flex gap-3 flex-wrap justify-center">
					for _, educator := range view.Educators {
						@tooltip.Tooltip() {
							@tooltip.Trigger() {
								<div class="flex gap-3 bg-linear-2 border border-muted px-3 h-16 rounded-md justify-center">
									@coreblocks.PersonAvatar("educator", educator.Person)
									<div class="flex flex-col gap-1 items-center justify-center">
										{ educator.NameInitial() }
										for _, role := range educator.Roles {
											@badge.Badge() {
												{ role.ShortString() }
											}
										}
									</div>
								</div>
							}
							@tooltip.Content(tooltip.ContentProps{
								HoverDelay:    300,
								HoverOutDelay: 150,
							}) {
								<div class="flex gap-2">
									@button.Button(button.Props{
										Variant: button.VariantGhost,
										Size:    button.SizeIcon,
										Href:    fmt.Sprintf("/educators/%s/info", educator.Username),
									}) {
										@icon.Info()
									}
									@button.Button(button.Props{
										Variant: button.VariantGhost,
										Size:    button.SizeIcon,
										Href:    fmt.Sprintf("/educators/%s/schedule", educator.Username),
									}) {
										@icon.CalendarRange()
									}
								</div>
							}
						}
					}
				</div>
			</div>
			@separator.Separator(separator.Props{
				Class: "bg-neutral-content/80",
			})
			<div class="flex flex-col gap-2">
				<p>
					<span class="text-neutral-content/70">students ({ len(view.Students) }):</span>
				</p>
				<div class="homeroom-card-students flex gap-3 flex-wrap">
					for _, student := range view.Students {
						<div class="flex gap-3 px-3 justify-center bg-linear-2 border border-muted rounded-md">
							@coreblocks.PersonAvatar("student", student.Person)
							<div class="h-16 flex flex-col gap-1 items-center justify-center">
								{ student.NameInitial() }
								@badge.Badge() {
									{ student.Grade.Ordinal() }
								}
							</div>
						</div>
					}
				</div>
			</div>
		}
		@card.Footer(card.FooterProps{
			Class: "flex justify-end",
		}) {
			@button.Button(button.Props{
				Href: fmt.Sprintf("/homerooms/%s/edit", view.ID),
			}) {
				@icon.Pencil(icon.Props{
					Size: "16",
				})
				<span>edit</span>
			}
		}
	}
}
