package blocks

import (
	"fmt"
	"strings"

	"seek/internal/features/_shared/sharedmodels"
	educatorBlocks "seek/internal/features/educators/blocks"
	educatorDTO "seek/internal/features/educators/dto"
	"seek/internal/features/homerooms/dto"
	studentBlocks "seek/internal/features/students/blocks"
	studentDTO "seek/internal/features/students/dto"
	"seek/internal/ui/core/coreblocks/forms"
	"seek/pkg/templui/components/avatar"
	"seek/pkg/templui/components/badge"
	"seek/pkg/templui/components/button"
	"seek/pkg/templui/components/icon"
)

type FormProps struct {
	FormType           sharedmodels.FormType
	Homeroom           dto.HomeroomView
	EducatorSelectView educatorDTO.SelectView
	SelectedEducators  []educatorDTO.EducatorView
	StudentSelectView  studentDTO.SelectView
	SelectedStudents   []studentDTO.StudentView
}

templ Form(p FormProps) {
	{{ url := sharedmodels.GetURLFromContext(ctx) }}
	<section class="w-full h-full">
		<form
			id={ fmt.Sprintf("homeroom-%s-form", p.FormType.Word()) }
			class="flex flex-col gap-8 mb-8"
			data-on:submit={ fmt.Sprintf("@post('%s')", url) }
			data-signals:form_type={ p.FormType.String() }
		>
			<div
				class="w-full gap-6 grid grid-cols-1 md:grid-cols-2"
				data-signals:homeroom={ templ.JSONString(p.Homeroom) }
			>
				@FormCore(p)
				@FormEducators(p.EducatorSelectView, p.SelectedEducators)
				@FormStudents(p.StudentSelectView, p.SelectedStudents)
			</div>
			<footer class="flex justify-end gap-6">
				if p.FormType == sharedmodels.FormTypeEdit {
					@forms.DeleteButton("homeroom", p.Homeroom.ID)
				}
				@forms.CancelButton("/homerooms")
				@forms.SaveButton()
			</footer>
		</form>
	</section>
}

templ FormCore(p FormProps) {
	{{ url := sharedmodels.GetURLFromContext(ctx) }}
	@forms.Fieldset("core info") {
		@forms.TextInputWithLabel(forms.TextInputWithLabelProps{
			ID:        "homeroom-title-input",
			LabelText: "title",
			Bind:      "homeroom.title",
			URL:       url,
		})
		@forms.SelectMultiGrades("homeroom", p.Homeroom.GradesBitmask)
	}
}

templ FormEducators(educators educatorDTO.SelectView, selected []educatorDTO.EducatorView) {
	{{ url := sharedmodels.GetURLFromContext(ctx) }}
	@forms.Fieldset("educator(s)") {
		<input id="educator-ids" class="hidden" data-bind:homeroom.educator_ids/>
		@educatorBlocks.SelectMulti("homeroom", educators)
		<ul class="grid grid-cols-[repeat(auto-fill,minmax(128px,1fr))] gap-3">
			for _, educator := range selected {
				<li
					data-on:click={ fmt.Sprintf("@query('%s/educators/%s')", url, educator.ID) }
					class="text-sm flex justify-center gap-2 h-24 items-center hover:bg-primary/80 active:bg-primary/90 border border-muted bg-linear-3-4 rounded-md relative group"
				>
					@avatar.Avatar() {
						@avatar.Image(avatar.ImageProps{
							Src:   fmt.Sprintf("/static/images/people/%s_%s.webp", strings.ToLower(educator.FamilyName), strings.ToLower(educator.GivenName)),
							Class: "object-cover",
						})
						@avatar.Fallback(avatar.FallbackProps{
							Class: "bg-secondary",
						}) {
							{ educator.Initials() }
						}
					}
					<div class="flex flex-col gap-1 items-start">
						<span>{ educator.NameInitial() }</span>
					</div>
					@button.Button(button.Props{
						Variant: button.VariantGhost,
						Class:   "absolute top-1 right-1 opacity-0 group-hover:opacity-100",
						Attributes: templ.Attributes{
							"data-on:click": fmt.Sprintf("@query('%s/educators/%s')", url, educator.ID),
						},
					}) {
						@icon.X()
					}
				</li>
			}
		</ul>
	}
}

templ FormStudents(students studentDTO.SelectView, selected []studentDTO.StudentView) {
	{{ url := sharedmodels.GetURLFromContext(ctx) }}
	@forms.Fieldset("student(s)") {
		<input id="student-ids" class="hidden" data-bind:homeroom.student_ids/>
		@studentBlocks.SelectMulti("homeroom", students)
		<ul class="grid grid-cols-[repeat(auto-fill,minmax(128px,1fr))] gap-3">
			for _, student := range selected {
				<li
					data-on:click={ fmt.Sprintf("@query('%s/students/%s')", url, student.ID) }
					class="text-sm flex justify-center gap-2 h-24 items-center hover:bg-primary/80 active:bg-primary/90 border border-muted bg-linear-3-4 rounded-md relative group"
				>
					@avatar.Avatar() {
						@avatar.Image(avatar.ImageProps{
							Src:   fmt.Sprintf("/static/images/people/%s_%s.webp", strings.ToLower(student.FamilyName), strings.ToLower(student.GivenName)),
							Class: "object-cover",
						})
						@avatar.Fallback(avatar.FallbackProps{
							Class: "bg-secondary",
						}) {
							{ student.Initials() }
						}
					}
					<div class="flex flex-col gap-1 items-start">
						<span>{ student.NameInitial() }</span>
						@badge.Badge(badge.Props{
							Class: "bg-primary",
						}) {
							{ student.Grade.Ordinal() }
						}
					</div>
					@button.Button(button.Props{
						Variant: button.VariantGhost,
						Class:   "absolute top-1 right-1 opacity-0 group-hover:opacity-100",
						Attributes: templ.Attributes{
							"data-on:click": fmt.Sprintf("@query('%s/students/%s')", url, student.ID),
						},
					}) {
						@icon.X()
					}
				</li>
			}
		</ul>
	}
}
