package corepages

import (
	"seek/internal/ui/core/corelayouts"
	"seek/pkg/sse"
	"seek/pkg/templui/components/card"
	"seek/pkg/templui/components/icon"
	"seek/pkg/templui/components/separator"
)

type HubCardProps struct {
	icon        string
	title       string
	description string
	links       []linkProps
}

type linkProps struct {
	href     string
	text     string
	linkType string
}

templ Hub() {
	@corelayouts.LayoutBase("SEEK: hub") {
		<main class="flex flex-col gap-2 row-2" data-init={ sse.LongRunningGetSSE("/stream") }>
			<section class="grid gap-16 w-full max-w-400" style="grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));">
				@HubCard(HubCardProps{
					icon:        "calendar-range",
					title:       "schedules",
					description: "other documents that include schedule data",
					links: []linkProps{
						linkProps{
							text:     "K/1 Gretchen / Annie",
							href:     "https://docs.google.com/document/d/1Ew20WVhcthcfSS15-fYVZRbbFjsHepnZDHxLNkqj7rU",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "1/2 Lexi / Masia",
							href:     "https://docs.google.com/document/d/10H7ejSEwAbrzXR6ETF7xC8ZxFnS63GIBlSGscaicyh4",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "3/4 Spencer / Megan",
							href:     "https://docs.google.com/document/d/19d6jwRh2dMfDdVZSYAlARfSX8oe6RYr16_8feZ7J8SU",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "3/4 Scott / Ula",
							href:     "https://docs.google.com/document/d/1GplfO5xv7_G_60prXfih9nZp2ft0bgJRcAco0JSBDEE",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "3/4 Sallie / Chris",
							href:     "https://docs.google.com/document/d/19smb47AyEVnO4gq0EkD4eiocdtXVas94upBfjOI7jls",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "5/6 Casie / Lori",
							href:     "https://docs.google.com/document/d/1yR-uETMovO9762BRqvQfzIt4F7zG6NdAQm27yznQq24",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "5/6 Sophie / Helen",
							href:     "https://docs.google.com/document/d/1JWzxM9lxd-xiu8CFlRI_--vc9EynVYqqK5MNW6eu_vU",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "5/6 Jordyn / Ellen",
							href:     "https://docs.google.com/spreadsheets/u/0/d/1BkIN4LYEGBpq_F9grK8cNayXvVjvLQHjxbf4JEkj0F8",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "7/8 Gerber / Ava",
							href:     "https://docs.google.com/spreadsheets/d/1p2Hu_3D2GWsFMnCed-9fKASagf_PMwYGe45e4vyvfnY",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "7/8 Jenn / Theresa",
							href:     "https://docs.google.com/spreadsheets/d/1RIWvIMcGSn_qNdHFyxPzeOv_CgHmgi1s6AaLJU1DqxI",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "resource room",
							href:     "https://docs.google.com/spreadsheets/d/1If9Er_Mi78ahE9kGn7lM0bGJxcXZ_Y3XISIyBudAKrs",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "the cove",
							href:     "https://docs.google.com/spreadsheets/d/195zeMyMzZ-ip5wa3B-Zfu6_QbRt0DOEct4MSBxTUBSQ",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "Crystal general daily schedule",
							href:     "https://docs.google.com/document/d/1d5dUSv6BZYdm1U8IunIed3kz9Qv-y2q2b95dSv5czYA",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "social work",
							href:     "https://docs.google.com/document/d/1wfrKxv2NT5x5UFeAxY1x2yPeSwte2IGIiDQJu4ymQhg",
							linkType: "file-type-corner",
						},
					},
				})
				@HubCard(HubCardProps{
					icon:        "school",
					title:       "general",
					description: "links to commonly used resources",
					links: []linkProps{
						linkProps{
							text:     "procedures manual",
							href:     "https://docs.google.com/document/d/1P8pOVz5AlJAnMj9ZTo9MBXpvtSXYVcg8KEqP1EHCBDE",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "reserve shared spaces",
							href:     "https://docs.google.com/spreadsheets/d/1B8ZWpCNEWhXfld1nFAsvguc5uVWkloNKkCvS7iRzmLk",
							linkType: "file-spreadsheet",
						},
						linkProps{
							text:     "assessment calendar",
							href:     "https://docs.google.com/spreadsheets/d/1jKirAxquNph05tyMYW5BFQKNSKcIRPURi92z38GcyIA",
							linkType: "file-spreadsheet",
						},
						linkProps{
							text:     "field trip permission form",
							href:     "https://docs.google.com/forms/d/1xHUDrXFiP5BqtaCmZpgKNht8Eyigy1rxP9FQrXzz_YI",
							linkType: "file-input",
						},
					},
				})
				@HubCard(HubCardProps{
					icon:        "hand-helping",
					title:       "sprights",
					description: "resources specific to special education",
					links: []linkProps{
						linkProps{
							text:     "friday meeting agenda",
							href:     "https://docs.google.com/document/d/1kit887u-36NRFIFu8xuM3-e7Rqpb3brKCgW3a_HEu_Q",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "placement decision flowchart",
							href:     "https://docs.google.com/document/d/1gUvcgQr07-AH41XtzOroFbmZnxLwKHQvnn9UXXUIqaM",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "dashboard (2025-26)",
							href:     "https://docs.google.com/spreadsheets/d/1dF8OIyaSjSJ4LjCoRiVw3tqCBUOSdE9dodDir26bayA",
							linkType: "file-spreadsheet",
						},
						linkProps{
							text:     "purchase requests",
							href:     "https://docs.google.com/forms/d/e/1FAIpQLSeR-y2QYHjT5vxxkCJa2e2dTWhlzzUQqYsTaanoW5VhOSpiZA/viewform",
							linkType: "file-input",
						},
						linkProps{
							text:     "services at a glance",
							href:     "https://docs.google.com/spreadsheets/d/1e9cq_x-7b59FNiizvsfSeCerRqClFqNvY9spg7XdbJM",
							linkType: "file-spreadsheet",
						},
					},
				})
				@HubCard(HubCardProps{
					icon:        "calendar-clock",
					title:       "due process",
					description: "case manager resources for due process information",
					links: []linkProps{
						linkProps{
							text:     "sped forms",
							href:     "https://16.spedforms.org/1000/",
							linkType: "link",
						},
						linkProps{
							text:     "timelines",
							href:     "https://drive.google.com/file/d/1yVur100FHtOwlBunMqrDQJvTpDELTJCu",
							linkType: "file-text",
						},
						linkProps{
							text:     "planner",
							href:     "https://docs.google.com/spreadsheets/d/1M_V4WgK4nfbly-4TR3f2A_61KHUPhAnyACPj7w1Muwk/",
							linkType: "file-spreadsheet",
						},
						linkProps{
							text:     "service log",
							href:     "https://docs.google.com/spreadsheets/d/1OVrqUmr309dgq9MfVbCO_loJ3ix6qGo1IQ-sH7cdXrA/",
							linkType: "file-spreadsheet",
						},
						linkProps{
							text:     "end of year checklist",
							href:     "https://docs.google.com/document/d/1bnYQpDp1oTRzugooYGLUvKNP-d0hFcdJe1hAmupWZ-Q",
							linkType: "file-type-corner",
						},
					},
				})
				@HubCard(HubCardProps{
					icon:        "file-text",
					title:       "IEPs",
					description: "links for IEP specific resources",
					links: []linkProps{
						linkProps{
							text:     "writing and meeting checklist",
							href:     "https://docs.google.com/document/d/1dcPJrJ6H7FYVy3BIAEw7raZ86QKJ-8mNWOAt9YKVHy8",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "meeting agenda template",
							href:     "https://docs.google.com/document/d/14RVfW35gT2CE_D2oF3iSfNvXfSEzMCWIhswwCKUR0F0",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "special rights one pager",
							href:     "https://docs.google.com/document/d/11DULOWt62-_mVZ1kIyOCkM5YhwArT8oEPPl-3gJ7v-I",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "procedural safeguards",
							href:     "https://docs.google.com/document/d/1tOkcgvV3g8uFykzyjBvfef96w8mMHo12UtvGr7fkGcM",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "federal setting calculator",
							href:     "https://docs.google.com/spreadsheets/d/1EBMkYRqSwaBVHAg705hOFQIikb82SaPr",
							linkType: "file-spreadsheet",
						},
						linkProps{
							text:     "goal and objective guidelines",
							href:     "https://drive.google.com/file/d/1ldFMdH4zhIv6l-T_yTyf3k-9R8ewa6zp",
							linkType: "file-text",
						},
						linkProps{
							text:     "PLAAFP guide and template",
							href:     "https://docs.google.com/document/d/1gw5qA2-IPx7GVcTl6bYHH7M7p2zlhG8PxXWTy7_f4bs",
							linkType: "file-text",
						},
						linkProps{
							text:     "educational domains",
							href:     "https://docs.google.com/document/d/1AcLsDms-iqZ1ROin6LtYSs1YNRpKNTxgRkRZDgLSg4k",
							linkType: "file-text",
						},
						linkProps{
							text:     "LRE statement template",
							href:     "https://docs.google.com/document/d/18EqdewHBuOwI3mda_uTezKPQ8hg1fhkMcnPKqhvxa3A",
							linkType: "file-text",
						},
						linkProps{
							text:     "accommodations & modifications template",
							href:     "https://docs.google.com/document/d/1c8qrMBYJ1EiZcV-fek0Ezr4QdvO2ZOY1_mmeeWICQcc",
							linkType: "file-text",
						},
					},
				})
				@HubCard(HubCardProps{
					icon:        "chart-line",
					title:       "progress reporting",
					description: "progress reporting stuff",
					links: []linkProps{
						linkProps{
							text:     "guidelines",
							href:     "https://docs.google.com/document/d/1U3q0l6m02RSTCfpydxpIlyzBUMhkVgduURdY1Rh5qgI",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "sample statements",
							href:     "https://docs.google.com/document/d/142lGDmEDkyXZTIDSchmPGgNuhbbWO84lt_5h5bkF1Ug",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "checklist",
							href:     "https://docs.google.com/spreadsheets/d/1BvFksKXzryXqnVah-pSvUcNLe15A_L9eQqWh6xk2mws",
							linkType: "file-spreadsheet",
						},
						linkProps{
							text:     "note cards",
							href:     "https://docs.google.com/presentation/d/1woOswh_WLoT_eU9O_zXaT1WYFz8GBGip",
							linkType: "presentation",
						},
						linkProps{
							text:     "goal data tracking sheets",
							href:     "https://docs.google.com/presentation/d/16n5NhJKG053lBwDW9NEP_i8ZdxbJ85D912zQlzwQC4o",
							linkType: "presentation",
						},
					},
				})
				@HubCard(HubCardProps{
					icon:        "book-open-text",
					title:       "read aloud",
					description: "resources for reading materials",
					links: []linkProps{
						linkProps{
							text:     "social justice",
							href:     "https://www.socialjusticebooks.org/booklists/",
							linkType: "link",
						},
						linkProps{
							text:     "SEL",
							href:     "https://drive.google.com/file/d/1Zw58wjQTiXEcmBSKJ-dbz82zHJT8fTs2/view",
							linkType: "file-text",
						},
					},
				})
				@HubCard(HubCardProps{
					icon:        "link",
					title:       "other resources",
					description: "other useful resources",
					links: []linkProps{
						linkProps{
							text:     "SEL framework",
							href:     "https://docs.google.com/spreadsheets/d/1oXaCt6desKygHQPh_OY-luihJ4pO2tTlOnvcZdGwGdo",
							linkType: "file-spreadsheet",
						},
						linkProps{
							text:     "behavior reflection sheets",
							href:     "https://drive.google.com/file/d/1INumao5KYCWT34Csyjc0nyWMwAQU4YKE",
							linkType: "file-text",
						},
						linkProps{
							text:     "check-in / check-out sheets",
							href:     "https://docs.google.com/presentation/d/1loyR07cbRM33M7Ei2AqbUwM8k9MKyqde",
							linkType: "presentation",
						},
						linkProps{
							text:     "social stories",
							href:     "https://drive.google.com/drive/folders/1WprNiUYHd8b0bKb2Gy1ed-VRSaewECLX",
							linkType: "folder-open",
						},
					},
				})
			</section>
		</main>
	}
}

templ HubCard(props HubCardProps) {
	@card.Card(card.Props{
		Class: "flex flex-col border-muted bg-linear-23 accent-blue",
	}) {
		@card.Header() {
			@card.Title() {
				@icon.Icon(props.icon)(icon.Props{Size: "20"})
				{ props.title }
			}
			@card.Description() {
				{ props.description }
			}
			@separator.Separator(separator.Props{
				Class: "mt-1",
			})
		}
		@card.Content(card.ContentProps{
			Class: "text-sm py-5",
		}) {
			<ul class="flex flex-col gap-1">
				for _, link := range props.links {
					<a href={ link.href } target="_blank">
						<li class="flex justify-between items-center hover:bg-primary/20 py-1 px-2 rounded-md">
							<span>{ link.text }</span>
							if link.linkType != "" {
								@icon.Icon(link.linkType)(icon.Props{Class: "size-4"})
							}
						</li>
					</a>
				}
			</ul>
		}
	}
}
