package corepages

import (
	"seek/internal/ui/core/corelayouts"
	"seek/pkg/sse"
	"seek/pkg/templui/components/card"
	"seek/pkg/templui/components/icon"
	"seek/pkg/templui/components/separator"
)

type HubCardProps struct {
	icon        string
	title       string
	description string
	links       []linkProps
}

type linkProps struct {
	href     string
	text     string
	linkType string
}

templ Hub() {
	@corelayouts.LayoutBase("SEEK: hub") {
		<main class="flex flex-col gap-2 row-2" data-init={ sse.LongRunningGetSSE("/stream") }>
			<section class="grid gap-16 w-full max-w-400" style="grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));">
				@HubCard(HubCardProps{
					icon:        "school",
					title:       "general",
					description: "links to commonly used resources",
					links: []linkProps{
						linkProps{
							text:     "procedures manual",
							href:     "https://docs.google.com/document/d/1P8pOVz5AlJAnMj9ZTo9MBXpvtSXYVcg8KEqP1EHCBDE",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "reserve shared spaces",
							href:     "https://docs.google.com/spreadsheets/d/1B8ZWpCNEWhXfld1nFAsvguc5uVWkloNKkCvS7iRzmLk",
							linkType: "file-spreadsheet",
						},
						linkProps{
							text:     "assessment calendar",
							href:     "https://docs.google.com/spreadsheets/d/1jKirAxquNph05tyMYW5BFQKNSKcIRPURi92z38GcyIA",
							linkType: "file-spreadsheet",
						},
						linkProps{
							text:     "field trip permission form",
							href:     "https://docs.google.com/forms/d/1xHUDrXFiP5BqtaCmZpgKNht8Eyigy1rxP9FQrXzz_YI",
							linkType: "file-input",
						},
					},
				})
				@HubCard(HubCardProps{
					icon:        "hand-helping",
					title:       "sprights",
					description: "resources specific to special education",
					links: []linkProps{
						linkProps{
							text:     "friday meeting agenda",
							href:     "https://docs.google.com/document/d/1BiqEpjzugP0_tA49-XdzAdrlWYsOvVv9IhM2MufsR1k",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "purchase requests",
							href:     "https://docs.google.com/forms/d/e/1FAIpQLSeR-y2QYHjT5vxxkCJa2e2dTWhlzzUQqYsTaanoW5VhOSpiZA",
							linkType: "file-input",
						},
						linkProps{
							text:     "services at a glance",
							href:     "https://docs.google.com/spreadsheets/d/1e9cq_x-7b59FNiizvsfSeCerRqClFqNvY9spg7XdbJM",
							linkType: "file-spreadsheet",
						},
						linkProps{
							text:     "placement decision flowchart",
							href:     "https://docs.google.com/document/d/1gUvcgQr07-AH41XtzOroFbmZnxLwKHQvnn9UXXUIqaM",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "dashboard (2025-26)",
							href:     "https://docs.google.com/spreadsheets/d/1dF8OIyaSjSJ4LjCoRiVw3tqCBUOSdE9dodDir26bayA",
							linkType: "file-spreadsheet",
						},
					},
				})
				@HubCard(HubCardProps{
					icon:        "calendar-clock",
					title:       "due process",
					description: "case manager resources for due process information",
					links: []linkProps{
						linkProps{
							text:     "sped forms",
							href:     "https://16.spedforms.org/1000/",
							linkType: "link",
						},
						linkProps{
							text:     "timelines",
							href:     "https://drive.google.com/file/d/1yVur100FHtOwlBunMqrDQJvTpDELTJCu",
							linkType: "file-text",
						},
						linkProps{
							text:     "planner",
							href:     "https://docs.google.com/spreadsheets/d/1M_V4WgK4nfbly-4TR3f2A_61KHUPhAnyACPj7w1Muwk/",
							linkType: "file-spreadsheet",
						},
						linkProps{
							text:     "service log",
							href:     "https://docs.google.com/spreadsheets/d/1OVrqUmr309dgq9MfVbCO_loJ3ix6qGo1IQ-sH7cdXrA/",
							linkType: "file-spreadsheet",
						},
						linkProps{
							text:     "end of year checklist",
							href:     "https://docs.google.com/document/d/1bnYQpDp1oTRzugooYGLUvKNP-d0hFcdJe1hAmupWZ-Q",
							linkType: "file-type-corner",
						},
					},
				})
				@HubCard(HubCardProps{
					icon:        "file-text",
					title:       "IEPs",
					description: "links for IEP specific resources",
					links: []linkProps{
						linkProps{
							text:     "writing and meeting checklist",
							href:     "https://docs.google.com/document/d/1dcPJrJ6H7FYVy3BIAEw7raZ86QKJ-8mNWOAt9YKVHy8",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "meeting agenda template",
							href:     "https://docs.google.com/document/d/14RVfW35gT2CE_D2oF3iSfNvXfSEzMCWIhswwCKUR0F0",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "special rights one pager",
							href:     "https://docs.google.com/document/d/11DULOWt62-_mVZ1kIyOCkM5YhwArT8oEPPl-3gJ7v-I",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "procedural safeguards",
							href:     "https://docs.google.com/document/d/1tOkcgvV3g8uFykzyjBvfef96w8mMHo12UtvGr7fkGcM",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "federal setting calculator",
							href:     "https://docs.google.com/spreadsheets/d/1EBMkYRqSwaBVHAg705hOFQIikb82SaPr",
							linkType: "file-spreadsheet",
						},
						linkProps{
							text:     "goal and objective guidelines",
							href:     "https://drive.google.com/file/d/1ldFMdH4zhIv6l-T_yTyf3k-9R8ewa6zp",
							linkType: "file-text",
						},
					},
				})
				@HubCard(HubCardProps{
					icon:        "chart-line",
					title:       "progress reporting",
					description: "progress reporting stuff",
					links: []linkProps{
						linkProps{
							text:     "guidelines",
							href:     "https://docs.google.com/document/d/1U3q0l6m02RSTCfpydxpIlyzBUMhkVgduURdY1Rh5qgI",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "sample statements",
							href:     "https://docs.google.com/document/d/142lGDmEDkyXZTIDSchmPGgNuhbbWO84lt_5h5bkF1Ug",
							linkType: "file-type-corner",
						},
						linkProps{
							text:     "checklist",
							href:     "https://docs.google.com/spreadsheets/d/1BvFksKXzryXqnVah-pSvUcNLe15A_L9eQqWh6xk2mws",
							linkType: "file-spreadsheet",
						},
						linkProps{
							text:     "note cards",
							href:     "https://docs.google.com/presentation/d/1woOswh_WLoT_eU9O_zXaT1WYFz8GBGip",
							linkType: "presentation",
						},
						linkProps{
							text:     "goal data tracking sheets",
							href:     "https://docs.google.com/presentation/d/16n5NhJKG053lBwDW9NEP_i8ZdxbJ85D912zQlzwQC4o",
							linkType: "presentation",
						},
					},
				})
				@HubCard(HubCardProps{
					icon:        "book-open-text",
					title:       "read aloud",
					description: "resources for reading materials",
					links: []linkProps{
						linkProps{
							text:     "social justice",
							href:     "https://www.socialjusticebooks.org/booklists/",
							linkType: "link",
						},
						linkProps{
							text:     "SEL",
							href:     "https://drive.google.com/file/d/1Zw58wjQTiXEcmBSKJ-dbz82zHJT8fTs2/view",
							linkType: "file-text",
						},
					},
				})
				@HubCard(HubCardProps{
					icon:        "link",
					title:       "other resources",
					description: "other useful resources",
					links: []linkProps{
						linkProps{
							text:     "SEL framework",
							href:     "https://docs.google.com/spreadsheets/d/1oXaCt6desKygHQPh_OY-luihJ4pO2tTlOnvcZdGwGdo",
							linkType: "file-spreadsheet",
						},
						linkProps{
							text:     "behavior reflection sheets",
							href:     "https://drive.google.com/file/d/1INumao5KYCWT34Csyjc0nyWMwAQU4YKE",
							linkType: "file-text",
						},
						linkProps{
							text:     "check-in / check-out sheets",
							href:     "https://docs.google.com/presentation/d/1loyR07cbRM33M7Ei2AqbUwM8k9MKyqde",
							linkType: "presentation",
						},
						linkProps{
							text:     "social stories",
							href:     "https://drive.google.com/drive/folders/1WprNiUYHd8b0bKb2Gy1ed-VRSaewECLX",
							linkType: "folder-open",
						},
					},
				})
			</section>
		</main>
	}
}

templ HubCard(props HubCardProps) {
	@card.Card(card.Props{
		Class: "flex flex-col border-muted bg-linear-23 accent-blue",
	}) {
		@card.Header() {
			@card.Title() {
				@icon.Icon(props.icon)(icon.Props{Size: "20"})
				{ props.title }
			}
			@card.Description() {
				{ props.description }
			}
			@separator.Separator(separator.Props{
				Class: "mt-1",
			})
		}
		@card.Content(card.ContentProps{
			Class: "text-sm py-5",
		}) {
			<ul class="flex flex-col gap-1">
				for _, link := range props.links {
					<a href={ link.href } target="_blank">
						<li class="flex justify-between items-center hover:bg-primary/20 py-1 px-2 rounded-md">
							<span>{ link.text }</span>
							if link.linkType != "" {
								@icon.Icon(link.linkType)(icon.Props{Class: "size-4"})
							}
						</li>
					</a>
				}
			</ul>
		}
	}
}
