package corepages

import (
	"seek/internal/features/users/models"
	"seek/internal/ui/core/corelayouts"
	"seek/pkg/templui/components/button"
	"seek/pkg/templui/components/card"
	"seek/pkg/templui/components/icon"
	"seek/pkg/templui/components/separator"
)

templ Index() {
	{{ user := models.GetUserFromContext(ctx) }}
	@corelayouts.LayoutBase("SEEK") {
		<div class="flex flex-col w-full h-full row-2">
			<main>
				if user.Email == "" {
					@HeroCard()
				} else {
					@FeatureCards()
				}
			</main>
		</div>
	}
}

templ HeroCard() {
	<section class="w-full flex justify-center">
		@card.Card(card.Props{
			Class: "border-muted bg-linear-23 accent-blue flex flex-col md:flex-row w-fit",
		}) {
			<div class="overflow-hidden w-128">
				<img
					src="/static/images/cc.jpg"
					alt="charlie in the throws of apophenia"
					class="h-full w-full object-cover"
				/>
			</div>
			<div class="w-128">
				@card.Header() {
					@card.Title() {
						SEEK
					}
					@card.Description() {
						aka shared educational environment knowledge
					}
					@separator.Separator(separator.Props{
						Class: "mt-1",
					})
				}
				@card.Content(card.ContentProps{
					Class: "text-sm flex flex-col gap-2",
				}) {
					<p>stop using eight different spreadsheets that are somehow all both updated and out of date to manage your schedule.</p>
					<p>give yourself more time to focus on the important stuff: naps--er... teaching.</p>
				}
			</div>
		}
	</section>
}

templ FeatureCards() {
	<section class="grid gap-[var(--size-6)] w-full" style="grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));">
		@IndexCard(IndexCardProps{
			icon:        "calendar-range",
			title:       "periods",
			description: "kind of like a calendar event",
			features: []string{
				"synced with schedules",
				"notifications on change",
				"student filter by service type",
				"attendance",
			},
			url: "/periods",
		})
		@IndexCard(IndexCardProps{
			icon:        "apple",
			title:       "educators",
			description: "they do the work of learning the students",
			features: []string{
				"profiles",
				"schedules",
				"caseloads",
				"idk",
			},
			url: "/educators",
		})
		@IndexCard(IndexCardProps{
			icon:        "graduation-cap",
			title:       "students",
			description: "can't live with 'em, can't live without their funding",
			features: []string{
				"basic info",
				"schedules",
				"assessment data",
				"goals & objectives",
			},
			url: "/students",
		})
		@IndexCard(IndexCardProps{
			icon:        "blocks",
			title:       "services",
			description: "minutes as indicated by an IEP",
			features: []string{
				"synced with SPEDforms",
				"schedule auditing",
				"links with goals",
				"idk",
			},
			url: "/iepservices",
		})
	</section>
}

type IndexCardProps struct {
	icon        string
	title       string
	description string
	features    []string
	url         string
}

templ IndexCard(props IndexCardProps) {
	@card.Card(card.Props{
		Class: "flex flex-col border-muted bg-linear-23 accent-blue",
	}) {
		@card.Header() {
			@card.Title() {
				@icon.Icon(props.icon)(icon.Props{Size: "20"})
				{ props.title }
			}
			@card.Description() {
				{ props.description }
			}
			@separator.Separator(separator.Props{
				Class: "mt-1",
			})
		}
		@card.Content(card.ContentProps{
			Class: "text-sm py-5",
		}) {
			<p>features</p>
			<ul style="list-style-type: circle; padding-left: var(--size--1); margin-left: var(--size--1);">
				for _, feature := range props.features {
					<li>{ feature }</li>
				}
			</ul>
		}
		@card.Footer(card.FooterProps{
			Class: "justify-end gap-4 mt-auto",
		}) {
			@button.Button(button.Props{
				Href: props.url,
			}) {
				@icon.List(icon.Props{
					Size: "16",
				})
				<span>list</span>
			}
			@button.Button(button.Props{
				Href: props.url + "/create",
			}) {
				@icon.Plus(icon.Props{
					Size: "16",
				})
				<span>create</span>
			}
		}
	}
}
