package components

import (
)

templ MainHeader() {
	<!doctype html>
	<header>
		<hgroup>
		<h1>SEEK</h1>
		<h3>shared educational environment knowledge</h3>
		</hgroup>
		@Nav()
		{ children... }
	</header>
	@MainHeaderStyles()
}

templ MainHeaderStyles() {
	<style>
		body > header {
			color: var(--primary-6-on);
			background-color: var(--primary-6);
			width: 100%;
			height: 6rem;
			align-items: center;
			display: flex;
			flex-direction: row;
			padding-left: var(--size-4);

			h3 {
				font-weight: var(--font-weight-thin);
				font-size: var(--font-size--2);
				color: var(--primary-5-on);
				letter-spacing: (--font-letter-spacing--2);
			}
		}
	</style>
}