package components

templ Nav() {
	<nav>
		<ul>
			<li><a href="/">home</a></li>
			<li><a href="/schedules">schedules</a></li>
			<li><a href="/periods">periods</a></li>
			<li><a href="/students">students</a></li>
			<li><a href="/teachers">teachers</a></li>
		</ul>
	</nav>
}