package components

templ Nav() {
	<nav>
		<ul>
			<li><a href="/">home</a></li>
			<li><a href="/students">students</a></li>
			<li><a href="/schedule">schedules</a></li>
			<li><a href="/goals">goals</a></li>
		</ul>
	</nav>
}