package pages

import (
	pm "seek/internal/features/periods/models"
	"seek/internal/features/schedules/blocks"
	"seek/internal/features/schedules/events"
	"seek/internal/features/schedules/models"
	tm "seek/internal/features/teachers/models"
	um "seek/internal/features/users/models"
	"seek/internal/views/layouts"
)

templ Create(
	user um.User,
	schedule models.Schedule,
	teachers []tm.Teacher,
	periods []pm.Period,
	validation map[string]events.Validation,
	selectedTeacher *tm.Teacher,
) {
	@layouts.Base("SEEK: create period", user) {
		<main>
			<section>
				@blocks.CreateForm(schedule, teachers, periods, validation, selectedTeacher)
			</section>
		</main>
	}
}
