package pages

import (
	"fmt"

	"seek/internal/features/schedules/blocks"
	"seek/internal/views"
	"seek/internal/views/layouts"
)



templ Edit(esvm blocks.EditScheduleViewModel, scvm blocks.ScheduleComponentViewModel) {
	@layouts.Base("SEEK: edit schedule") {
		<main data-init={ views.LongRunningGetSSE(fmt.Sprintf("/schedules/%s/edit/stream", esvm.Schedule.ID)) }>
			<section style="display: flex;">
				@blocks.EditForm(esvm)
				@blocks.ScheduleComponent(scvm)
			</section>
		</main>
	}
}