package pages

import (
	"fmt"

	"seek/internal/features/schedules/blocks"
	"seek/internal/features/users/models"
	"seek/internal/views"
	"seek/internal/views/dto"
	"seek/internal/views/layouts"
)

templ Edit(user models.User, esvm blocks.EditScheduleViewModel, scv dto.ScheduleView) {
	@layouts.Base("SEEK: edit schedule", user) {
		<main data-init={ views.LongRunningGetSSE(fmt.Sprintf("/schedules/%s/edit/stream", esvm.Schedule.ID)) }>
			<section style="display: flex;">
				@blocks.EditForm(esvm)
				@blocks.ScheduleComponent(scv)
			</section>
		</main>
	}
}
