package pages

import (
	"seek/internal/features/schedules/blocks"
	"seek/internal/features/schedules/models"
	um "seek/internal/features/users/models"
	"seek/internal/views/layouts"
)

templ List(user um.User, schedules []models.Schedule) {
	@layouts.Base("SEEK: schedules", user) {
		<main>
			<section>
				<h2>SCHEDULE</h2>
				<p>review and enter schedule data here</p>
				<p>many features to come</p>
				@blocks.List(schedules)
			</section>
		</main>
	}
}
