package pages

import (
	"seek/internal/views/layouts"
	"seek/internal/domain/models"
)

templ NotFound(user models.User) {
	@layouts.Base("SEEK: schedule not found", user) {
		<main id="main">
			<section>
				<h3>not found</h3>
				<p>that schedule doesn't seem to exist. are you sure you're in the right place?</p>
			</section>
		</main>
	}
}