package pages

import (
	"fmt"
	
	pblocks "seek/internal/features/periods/blocks"
	"seek/internal/features/schedules/blocks"
	"seek/internal/views"
	"seek/internal/views/dto"
	"seek/internal/views/layouts"
)

templ View(v dto.ScheduleView) {
	@layouts.Base("SEEK: schedule") {
		<main data-init={ views.LongRunningGetSSE(fmt.Sprintf("/schedules/%s/edit/stream", v.ID)) }>
			<hgroup style="display: flex; gap: var(--size-1); justify-content: center; align-items: center;">
				<h3>
					{ v.Title }
				</h3>
				<p>{ v.Teacher.FirstName }</p>
				<a href={ fmt.Sprintf("/schedules/%s/edit", v.ID) }>
					<button>edit</button>
				</a>
			</hgroup>
			@blocks.ScheduleComponent(v)
		</main>
	}
}

templ ViewWithPeriod(v dto.ScheduleView, p dto.PeriodView) {
	@layouts.Base("SEEK: schedule") {
		<main data-init={ views.LongRunningGetSSE("/schedules/stream") }>
			@pblocks.Card(p)
			@blocks.ScheduleComponent(v)
		</main>
	}
}