package blocks

import (
	educatorDTO "seek/internal/features/educators/dto"
	"seek/pkg/templui/components/label"
	"seek/pkg/templui/components/selectbox"
)

templ ServiceProviderSelectBox(providers []educatorDTO.EducatorSelectBoxView) {
	@selectbox.SelectBox(selectbox.Props{
		ID: "provider-multiselect-container",
	}) {
		@label.Label(label.Props{
			For:   "provider-multiselect",
			Class: "text-neutral-content/80 mb-3",
		}) {
			provider
		}
		@selectbox.Trigger(selectbox.TriggerProps{
			ID: "provider-multiselect",
			Attributes: templ.Attributes{
				"data-bind:service.provider_id": "",
			},
		}) {
			@selectbox.Value(selectbox.ValueProps{
				Placeholder: "no provider selected",
			})
		}
		@selectbox.Content() {
			for i := range providers {
				@selectbox.Item(selectbox.ItemProps{
					Value:    providers[i].Educator.ID,
					Selected: providers[i].IsSelected,
				}) {
					{ providers[i].Educator.NameInitial() }
				}
			}
		}
	}
}
