package pages

import "seek/internal/ui/core/corelayouts"

templ NotFound() {
	@corelayouts.LayoutBase("SEEK: IEP service not found") {
		<main id="main">
			<section>
				<h3>not found</h3>
				<p>that service doesn't seem to exist. are you sure you're in the right place?</p>
			</section>
		</main>
	}
}
