package pages

import (
	"seek/internal/features/educators/blocks"
	"seek/internal/features/educators/dto"
	"seek/internal/features/users/models"
	"seek/internal/views"
	"seek/internal/views/layouts"
)

templ Create(user models.User, url string, view dto.EducatorView) {
	@layouts.Base("SEEK: create educator", user) {
		<main data-init={ views.LongRunningGetSSE("/educators/create/stream") }>
			<section>
				@blocks.EducatorCreateForm(url, view)
			</section>
		</main>
	}
}
