package pages

import (
	"fmt"

	"seek/internal/features/educators/blocks"
	"seek/internal/features/educators/dto"
	"seek/internal/ui/core/coreblocks"
	"seek/internal/ui/core/corelayouts"
	"seek/pkg/sse"
)

templ Edit(view dto.EducatorView) {
	@corelayouts.LayoutBase("SEEK: edit educator") {
		<main data-init={ sse.LongRunningGetSSE(fmt.Sprintf("/educators/%s/edit/stream", view.ID)) }>
			@coreblocks.HeaderMain("edit educator")
			<section class="w-full flex items-center justify-center">
				@blocks.EducatorEditForm(view)
			</section>
		</main>
	}
}
