package pages

import (
	"fmt"

	"seek/internal/features/educators/blocks"
	"seek/internal/features/educators/dto"
	"seek/internal/features/users/models"
	"seek/internal/views"
	"seek/internal/views/layouts"
)

templ Edit(user models.User, url string, view dto.EducatorView) {
	@layouts.Base("SEEK: edit educator", user) {
		<main data-init={ views.LongRunningGetSSE(fmt.Sprintf("/educators/%s/edit/stream", view.ID)) }>
			<section>
				@blocks.EducatorEditForm(url, view)
			</section>
		</main>
	}
}
