package pages

import (
	"fmt"

	"seek/internal/features/educators/blocks"
	"seek/internal/features/educators/dto"
	"seek/internal/features/users/models"
	"seek/internal/ui/core/coreblocks"
	"seek/internal/ui/core/corelayouts"
	"seek/pkg/sse"
)

templ Edit(user models.User, view dto.EducatorView) {
	@corelayouts.LayoutBase("SEEK: edit educator", user) {
		<main data-init={ sse.LongRunningGetSSE(fmt.Sprintf("/educators/%s/edit/stream", view.ID)) }>
			@coreblocks.HeaderMain("edit educator", view.URL)
			<section class="w-full flex items-center justify-center">
				@blocks.EducatorEditForm(view)
			</section>
		</main>
	}
}
