package pages

import (
	"seek/internal/domain/models"
	"seek/internal/features/_shared/dto"
	"seek/internal/views"
	"seek/internal/views/blocks/data_table"
	"seek/internal/views/layouts"
)

templ List(user models.User, view dto.TableView) {
	@layouts.Base("SEEK: educators", user) {
		<main data-init={ views.LongRunningGetSSE("/educators/list/stream") }>
			<section style="display: flex; flex-direction: column; gap: 1rem;">
				<header style="display: flex; flex-direction: column; gap: 0.25rem;">
					<h2>educators</h2>
					<p style="color: color-mix(in oklch, var(--neutral-4-on) 70%, transparent)">review and enter educator data here.</p>
				</header>
				@datatable.DataTable(view)
			</section>
		</main>
	}
}
