package pages

import (
	"fmt"

	"seek/internal/features/_shared/shareddto"
	"seek/internal/ui/core/coreblocks"
	"seek/internal/ui/core/coreblocks/tables"
	"seek/internal/ui/core/corelayouts"
	"seek/pkg/sse"
)

templ List(view shareddto.TableView) {
	@corelayouts.LayoutBase("SEEK: educators") {
		<main data-init={ sse.LongRunningGetSSE(fmt.Sprintf("%s/stream", view.URL)) }>
			@coreblocks.HeaderMain("list of educators", view.URL)
			@tables.DataTable(view)
		</main>
	}
}
