package pages

import (
	"fmt"

	"seek/internal/features/educators/blocks"
	"seek/internal/features/educators/dto"
	pdto "seek/internal/features/periods/dto"
	sblocks "seek/internal/features/schedules/blocks"
	"seek/internal/features/users/models"
	"seek/internal/ui/core/coreblocks"
	"seek/internal/ui/core/corelayouts"
	"seek/pkg/sse"
	"seek/pkg/templui/components/button"
	"seek/pkg/templui/components/icon"
	"seek/pkg/templui/components/tabs"
)

templ View(user models.User, view dto.EducatorView, periods []pdto.PeriodScheduleView, active string) {
	@corelayouts.LayoutBase("SEEK: educator", user) {
		<main id="main" class="flex flex-col gap-4" data-init={ sse.LongRunningGetSSE(fmt.Sprintf("%s/stream", view.URL)) }>
			@coreblocks.HeaderMain(view.FullName(), view.URL)
			@tabs.Tabs(tabs.Props{
				ID:    "educator-tabs",
				Class: "w-full md:px-3 flex flex-col gap-3",
			}) {
				@tabs.List(tabs.ListProps{
					ID:    "educator-tabs-list",
					Class: "tabs-list flex w-full max-w-128 gap-1",
				}) {
					@button.Button(button.Props{
						Class: "basis-1 flex-grow py-1 h-auto",
						Href:  fmt.Sprintf("/educators/%s/info", view.Username),
						Attributes: templ.Attributes{
							"data-tab-active": active == "info",
						},
					}) {
						@icon.Info(icon.Props{
							Class: "size-4",
						})
						<span class="hidden md:flex">info</span>
					}
					@button.Button(button.Props{
						Class: "basis-1 flex-grow py-1 h-auto",
						Href:  fmt.Sprintf("/educators/%s/schedule", view.Username),
						Attributes: templ.Attributes{
							"data-tab-active": active == "schedule",
						},
					}) {
						@icon.CalendarRange(icon.Props{
							Class: "size-4",
						})
						<span class="hidden md:flex">schedule</span>
					}
				}
				switch active {
					case "info":
						@tabs.Content(tabs.ContentProps{Value: "info", IsActive: true}) {
							<section class="w-full">
								@blocks.Card(view)
							</section>
						}
					case "schedule":
						@tabs.Content(tabs.ContentProps{Value: "schedule", IsActive: true}) {
							<section class="w-full">
								@sblocks.ScheduleComponent(periods)
							</section>
						}
				}
			}
		</main>
	}
}
