package label

type Props struct {
	ID                string
	Class             string
	Attributes        templ.Attributes
	Name              string
	For               string
	Form              string
	Type              string
	Placeholder       string
	Label             string
	ValidationMessage string
	ValidationState   string
	Disabled          bool
	HasError          bool
}

templ Label(props ...Props) {
	{{ var p Props }}
	if len(props) > 0 {
		{{ p = props[0] }}
	}
	<label
		id={ p.ID }
		if p.For != "" {
			for={ p.For }
		}
		if p.Type != "" {
			type={ p.Type }
		}
		class={ p.ValidationState, "seek-label" }
	>
		<p>
			<span class="label-span">{ p.Label }</span>
			<span class="validation-span">{ p.ValidationMessage }</span>
		</p>
		{ children... }
	</label>
	@LabelStyle()
}

templ LabelStyle() {
	<style>
		label.seek-label {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: var(--size-0);
			flex-grow: 1;

			p {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-size: var(--fnt-sm);
				color: color-mix(in oklch, var(--neutral-4-on) 70%, transparent);

				.validation-span {
					color: color-mix(in oklch, currentColor 80%, black 10%)
				}
			}

			&.error {
				color: var(--error-6);
				span {
					color: var(--error-7);
				}
			}

			&.valid {
				color: green;
				span {
					color: var(green);
				}
			}
		}
	</style>
}
