@layer base, components, stellar, theme, variants;

@view-transition {
  navigation: auto;
}

@font-face {
  font-family: 'lexend';
  src: url('/static/fonts/lexend-regular-latin.woff2');
}

@font-face {
  font-family: 'tt2020';
  src: url('/static/fonts/tt2020-style-e-regular.woff2');
}

@layer stellar {
  :root {
    interpolate-size: allow-keywords;
    --sidebar-w: 200px;
    --sidebarc-w: 45px;
    --bg-transparent: transparent;
    --ar-square: var(--aspect-ratio-square);
    /* borders */
    --border-style: solid;
    --bd-rd0: var(--border-radius-0);
    --bd-rd1: var(--border-radius-1);
    --bd-rd2: var(--border-radius-2);
    --border-circle: 100%;
    --bd-circle: 100%;
    --bd-pill: 9999px;
    /* fonts */
    --fnt-lex: 'lexend', 'sans-serif';
    --fnt-typ: 'tt2020', 'serif';
    --ff-type: 'tt2020', 'serif';
    --fnt-xsm: var(--font-size--2);
    --fnt-sm: var(--font-size--1);
    --fnt-md: var(--font-size-0);
    --fnt-lg: var(--font-size-1);
    --fnt-xl: var(--font-size-2);
    --fnt-2xl: var(--font-size-3);
    --fnt-3xl: var(--font-size-5);
    /* colors */
    --clr-p4: var(--primary-4);
    --clr-p4o: var(--primary-4-on);
    --clr-p4d: var(--primary-4-dim);
    --clr-p5: var(--primary-5);
    --clr-p5o: var(--primary-5-on);
    --clr-p5d: var(--primary-5-dim);
    --clr-p6: var(--primary-6);
    --clr-p6o: var(--primary-6-on);
    --clr-p6d: var(--primary-6-dim);
    --clr-n1: var(--neutral-1);
    --clr-n1o: var(--neutral-1-on);
    --clr-n1d: var(--neutral-1-dim);
    --clr-n2: var(--neutral-2);
    --clr-n2o: var(--neutral-2-on);
    --clr-n2d: var(--neutral-2-dim);
    --clr-n3: var(--neutral-3);
    --clr-n3o: var(--neutral-3-on);
    --clr-n3d: var(--neutral-3-dim);
    --clr-n4: var(--neutral-4);
    --clr-n4o: var(--neutral-4-on);
    --clr-n4d: var(--neutral-4-dim);
    --clr-n5: var(--neutral-5);
    --clr-n5o: var(--neutral-5-on);
    --clr-n5d: var(--neutral-5-dim);
  }
}

@layer base {
  *,
  :after,
  :before,
  ::backdrop {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  ol,
  ul,
  menu {
    list-style: none;
  }

  button,
  input,
  select,
  optgroup,
  textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    border-radius: 0;
  }

  text-area {
    resize: vertical;
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer theme {
  :root {
    --background:
      linear-gradient(
        145deg,
        color-mix(in oklab, var(--primary-7) 16%, transparent),
        transparent 32%
      ),
      linear-gradient(
        225deg,
        color-mix(in oklab, var(--secondary-6) 16%, transparent),
        transparent 32%
      ),
      linear-gradient(
        180deg,
        color-mix(in oklab, var(--neutral-2) 64%, var(--neutral-1)),
        var(--neutral-1) 50%
      ),
      var(--neutral-1);
  }
}

@layer utilities {
  :root {
    html {
      min-width: var(--viewport-min);
      height: 100dvh;
    }
  }
}

body {
  height: 100dvh;
  margin: 0;
  overflow-x: hidden;
  color: var(--clr-n3o);
  font-family: var(--fnt-lex);
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: var(--background);

  > header {
    color: var(--clr-n2o);
    background-color: var(--clr-n2);
    width: 100%;
    height: 6rem;
    align-items: center;
    display: flex;
    gap: var(--size-2);
    flex-direction: row;
    padding-left: var(--size-4);
  }

  main {
    width: 100%;
    overflow-y: auto;
    padding: var(--size-2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* sidebar */
aside {
  width: var(--sidebar-w);
  height: auto;
  display: flex;
  flex-direction: column;
  gap: var(--size--1);
  background-color: var(--clr-n4);
  border-color: var(--clr-n4d);
  border-style: solid;
  border-width: var(--border-width-0);
  border-radius: var(--bd-rd1);
  margin-top: var(--size--2);
  margin-left: var(--size--2);
  margin-bottom: var(--size--2);
  padding: 0.6rem;
  transition: all var(--anim-duration-fast) var(--anim-ease-standard);

  header {
    background-color: aqua;
  }

  div {
    margin-bottom: auto;

    details {
      margin-bottom: 0.6rem;

      summary {
        display: flex;
        gap: 0.4rem;
        align-items: center;
        border-radius: var(--bd-rd0);
        padding: 0.2rem 0.4rem;

        &:hover {
          background-color: var(--clr-n5);
          cursor: pointer;
        }

        &::after {
          content: '▸';
          margin-left: auto;
          transition: all var(--anim-duration-fast) var(--anim-ease-standard);
        }
      }

      &:open {
        summary::after {
          transform: rotate(90deg);
        }
        &::details-content {
          height: auto;
        }
      }

      &::details-content {
        transition: all var(--anim-duration-fast) var(--anim-ease-standard);
        transition-behavior: allow-discrete;
        overflow: hidden;
        height: 0;
      }
      ul {
        display: flex;
        flex-direction: column;
        margin-left: 0.9rem;
        border-left-color: var(--clr-n2d);
        border-left-style: solid;
        border-left-width: 1px;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        gap: 0.4rem;

        li {
          margin-left: 0.6rem;
          width: 80%;
          border-radius: var(--bd-rd0);
          font-size: var(--fnt-sm);

          &:hover {
            background-color: var(--clr-n5);
          }

          a {
            width: 100%;
            height: 100%;
            padding: 0.2rem 0.5rem;
          }
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;

      li {
        display: flex;
        gap: 0.4rem;
        align-items: center;

        span {
          font-size: var(--fnt-med);
        }
      }
    }
  }

  footer {
    background-color: red;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

/* button component */

@layer components {
  :root {
    button[data-slot='button'],
    a[data-slot='button'] {
      --_color: var(--neutral-6-on);
      --_bg-color: var(--neutral-6);
      --_border-color: transparent;
      cursor: pointer;
      flex-shrink: 0;
      display: inline-flex;
      height: 2.5rem;
      gap: 0.375rem;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      align-items: center;
      justify-content: center;
      color: var(--_color);
      background-color: var(--_bg-color);
      border-color: var(--_border-color);
      border-radius: var(--border-radius-0);
      border-style: solid;
      border-width: var(--border-width-0);
      background-clip: padding-box;
      font-size: var(--font-size--1);
      line-height: var(--font-line-height--1);
      font-weight: var(--font-weight-medium);
      white-space: nowrap;
      outline: none;
      user-select: none;
      transition-property: all;
      transition-timing-function: var(--anim-ease-standard);
      transition-duration: var(--anim-duration-fast);

      &:hover {
        background-color: color-mix(
          in oklch,
          var(--_bg-color) 80%,
          transparent
        );
      }

      &:active {
        background-color: color-mix(
          in oklch,
          var(--_bg-color) 60%,
          transparent
        );
      }

      &:disabled {
        pointer-events: none;
        opacity: 0.5;
      }

      svg {
        pointer-events: none;
        flex-shrink: 0;
      }

      &[data-color='success'] {
        --_bg-color: var(--gruvbox-green-neutral-3);
      }

      &[data-color='info'] {
        --_bg-color: var(--gruvbox-blue-neutral-1);
      }

      &[data-color='warning'] {
        --_bg-color: var(--gruvbox-yellow-neutral-1);
      }

      &[data-color='error'] {
        --_bg-color: var(--gruvbox-red-neutral-1);
      }
    }
  }
}

@layer variants {
  :root {
    button[data-slot='button'],
    a[data-slot='button'] {
      &[data-variant='outline'] {
        border-color: var(--neutral-8);
      }

      &[data-variant='ghost']:not(:hover) {
        background-color: transparent;

        &:hover {
          background-color: color-mix(
            in oklch,
            var(--clr-n5d) 80%,
            transparent
          );
        }
      }

      &[data-variant='link'] {
        text-underline-offset: 4px;
        --_bg-color: transparent;

        &:hover {
          text-decoration: underline;
        }
      }

      &[data-size='icon'] {
        width: 2rem;
        height: 2rem;

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}

form.seek-form {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
  width: 30rem;
  background-color: var(--neutral-3);
  color: var(--neutral-3-on);
  border-color: var(--neutral-3-dim);
  border-style: solid;
  border-width: var(--border-width-0);
  border-radius: var(--border-radius-2);
  padding: var(--size-2);

  hgroup p {
    color: color-mix(in oklch, currentColor 90%, black 10%);
    font-size: var(--font-size--1);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
  }

  footer {
    display: flex;
    justify-content: space-between;
    gap: var(--size-1);

    button {
      flex-grow: 1;
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--fnt-typ);
}

h1 {
  font-size: var(--font-size-4);
  line-height: var(--font-line-height-4);
}

h2 {
  font-size: var(--font-size-3);
  line-height: var(--font-line-height-3);
}

h3 {
  font-size: var(--font-size-2);
  line-height: var(--font-line-height-2);
}

h4 {
  font-size: var(--font-size-1);
  line-height: var(--font-line-height-1);
}

table {
  background-color: transparent;
  color: var(--clr-n3o);
}
