:root {
	--bg-transparent: transparent;
}

html {
	min-width: var(--viewport-min);
}

* {
	box-sizing: border-box;
}

body {
	min-height: 100dvh;
	margin: 0;
	overflow-x: hidden;
	background: var(--neutral-1);
	color: var(--neutral-1-on);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: grid;
	grid-template-rows: auto 1fr auto;
	
	> header {
		color: var(--secondary-2-on);
		background-color: var(--secondary-2);
		width: 100%;
		height: 6rem;
		align-items: center;
		display: flex;
		flex-direction: row;
		padding-left: var(--size-4);

		nav {
			ul {
				display: flex;
				flex-direction: row;
				gap: var(--size-4);

				li a {
					padding: var(--size-0) var(--size-2);
					border-radius: var(--border-radius-2);
					&:hover {
						background-color: var(--secondary-5);
					}
				}
			}
		}
	}

	main {
		height: 100%;
		padding: var(--size-2)
	}
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
	background-color: var(--secondary-5);
	color: var(--secondary-5-on);
	padding: var(--size--2) var(--size-1);
	align-items: center;
	justify-content: center;
	display: inline-flex;
	gap: var(--size--1);
	border-radius: var(--border-radius-1);
	box-shadow: none;
	border: 0;
	font-family: inherit;
	font-size: var(--font-size--1);

	&:hover {
		background-color: var(--secondary-6);
		color: var(--secondary-6-on);
	}

	&:active {
		background-color: var(--secondary-7);
		color: var(--secondary-7-on);
	}

	&.error {
		background-color: var(--error-5);
		color: var(--error-5-on);

		&:hover {
			background-color: var(--error-7);
			color: var(--error-7-on);
		}
	}
}

form {
	display: flex;
	flex-direction: column;
	gap: var(--size-3);
	width: 30rem;
	background-color: var(--primary-4);
	color: var(--primary-4-on);
	border-color: var(--primary-4-dim);
	border-style: solid;
	border-width: var(--border-width-0);
	border-radius: var(--border-radius-2);
	padding: var(--size-2);

	hgroup p {
		color: color-mix(in oklch, currentColor 90%, black 10%);
		font-size: var(--font-size--1);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: var(--size-2);
	}

	footer {
		display: flex;
		justify-content: space-between;
		gap: var(--size-1);

		button {
			flex-grow: 1;
		}
	}
}

h1, h2, h3, h4, ul, p {
	margin: 0;
}

h1 {
	font-size: var(--font-size-4);
	color: var(--primary-4-on);
}

table {
	background-color: var(--primary-4);
	color: var(--primary-4-on);
	border-radius: var(--border-radius-2);
	border-spacing: 0;
	padding: var(--size-1) var(--size-3);
	font-size: var(--font-size--1);
	margin-top: var(--size-1);

	tbody tr td, thead th {
		padding: var(--size--1);
	}

	tbody tr:nth-child(odd) {
		background-color: var(--primary-5);
		color: var(--primary-5-on);
	}

	tbody tr {
		&:hover {
			background-color: var(--primary-6);
			color: var(--primary-6-on);
		}
	}
}

ul {
	list-style-type: none;
	padding: 0;
}