html {
	min-width: var(--viewport-min);
}

* {
	box-sizing: border-box;
}

body {
	min-height: 100dvh;
	margin: 0;
	overflow-x: hidden;
	background: var(--neutral-1);
	color: var(--neutral-1-on);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
	background-color: var(--secondary-3);
	color: var(--secondary-3-on);
	width: 100%;
	height: 100px;
	align-items: center;
	display: flex;
	flex-direction: row;
	padding-left: var(--size-4);

	nav {
		ul {
			display: flex;
			flex-direction: row;
			gap: var(--size-4);

			li a {
				padding: var(--size-2);
				border-radius: var(--border-radius-2);
				&:hover {
					background-color: var(--secondary-5);
				}
			}
		}
	}
}

main {
	padding: var(--size-2)
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
	background-color: var(--secondary-4);
	color: var(--secondary-4-on);
	padding: var(--size--2) var(--size-1);
	align-items: center;
	justify-content: center;
	display: inline-flex;
	gap: var(--size--1);
	border-radius: var(--border-radius-2);
	box-shadow: none;
	border: 0;
	font-family: inherit;
	font-size: var(--font-size--1);

	&:hover {
		background-color: var(--secondary-5);
		color: var(--secondary-5-on);
	}

	&:active {
		background-color: var(--secondary-6);
		color: var(--secondary-6-on);
	}

	&.error {
		background-color: var(--error-5);
		color: var(--error-5-on);

		&:hover {
			background-color: var(--error-7);
			color: var(--error-7-on);
		}
	}
}

h1 {
	font-size: var(--font-size-4);
	color: var(--primary-4-on);
}

table {
	background-color: var(--primary-4);
	color: var(--primary-4-on);
	border-radius: var(--border-radius-2);
	border-spacing: 0;
	padding: var(--size-2) var(--size-5);
	font-size: var(--font-size--1);

	tbody tr td, thead th {
		padding: var(--size--1);
	}

	tbody tr:nth-child(odd) {
		background-color: var(--primary-5);
		color: var(--primary-5-on);
	}

	tbody tr {
		&:hover {
			background-color: var(--primary-6);
			color: var(--primary-6-on);
		}
	}
}

ul {
	list-style-type: none;
}

div.card {
	background-color: var(--primary-4);
	color: var(--primary-4-on);
	border-radius: var(--border-radius-2);
	padding: 0 var(--size-1);
	font-size: var(--font-size--1);
	flex-grow: 1;

	&:hover {
		background-color: var(--primary-6);
		color: var(--primary-6-on);
	}
}