package pages

import (
	"fmt"
	
	"seek/internal/features/periods/blocks"
	"seek/internal/views"
	"seek/internal/views/layouts"
	"seek/internal/domain/models"
)

templ Edit(user models.User, view blocks.PeriodEditFormView) {
	@layouts.Base("SEEK: edit period", user) {
		<main data-init={ views.LongRunningGetSSE(fmt.Sprintf("/periods/%s/edit/stream", view.Period.ID)) }>
			<section>
				@blocks.EditPeriodForm(view)
			</section>
		</main>
	}
}