package blocks

import (
	"fmt"

	"seek/internal/features/iepservices/dto"
	"seek/pkg/templui/components/card"
)

templ Card(view dto.IEPServiceView) {
	@card.Card(card.Props{
		ID:    fmt.Sprintf("period-%s-card", view.ID),
		Class: "iep-service-card w-full",
		Attributes: templ.Attributes{
			"style": "background-color: var(--neutral-4);",
		},
	}) {
		@card.Header() {
			@card.Title(card.TitleProps{
				Class: "text-sm",
			}) {
				{ view.ServiceType }
			}
		}
		@card.Content(card.ContentProps{
			Class: "flex justify-around gap-4 text-sm",
		}) {
			<div>
				<p class="text-md font-medium">location</p>
				<p class="text-sm">{ view.Location }</p>
			</div>
			<div>
				<p class="text-md font-medium">minutes</p>
				<p class="text-sm">indirect: { view.IndirectMinutes }</p>
				<p class="text-sm">direct: { view.DirectMinutes }</p>
			</div>
			<div>
				<p class="text-md font-medium">frequency</p>
				<p class="text-sm">{ view.FrequencyCount } x per { view.FrequencyType }</p>
			</div>
			<div>
				<p class="text-md font-medium">provider</p>
				<p class="text-sm">{ view.Provider }</p>
			</div>
			<div>
				<p class="text-md font-medium">dates</p>
				<p class="text-sm">{ view.StartDate.String() } - { view.EndDate.String() }</p>
			</div>
		}
	}
}
