package blocks

import (
	"fmt"

	"seek/internal/features/iepservices/dto"
	"seek/pkg/templui/components/card"
)

templ Card(view dto.IEPServiceView) {
	@card.Card(card.Props{
		ID:    fmt.Sprintf("period-%s-card", view.ID),
		Class: "iep-service-card w-min",
	}) {
		@card.Header() {
			@card.Title() {
				{ view.ServiceType }
			}
		}
		@card.Content(card.ContentProps{
			Class: "flex justify-around gap-4",
		}) {
			<div>
				<h4>location</h4>
				<p class="text-sm">{ view.Location }</p>
			</div>
			<div>
				<h4>minutes</h4>
				<p class="text-sm">indirect: { view.IndirectMinutes }</p>
				<p class="text-sm">direct: { view.DirectMinutes }</p>
			</div>
			<div>
				<h4>frequency</h4>
				<p class="text-sm">{ view.FrequencyCount } x per { view.FrequencyType }</p>
			</div>
			<div>
				<h4>provider</h4>
				<p class="text-sm">{ view.Provider }</p>
			</div>
			<div>
				<h4>dates</h4>
				<p class="text-sm">{ view.StartDate.String() } - { view.EndDate.String() }</p>
			</div>
		}
	}
}
