package blocks

import (
	"seek/internal/features/_shared/sharedmodels"
	"seek/internal/features/iepservices/dto"
	"seek/internal/ui/core/coreblocks/forms"
	"seek/pkg/templui/components/datepicker"
	"seek/pkg/templui/components/label"
	"seek/pkg/templui/components/selectbox"
)

templ FormSections(view dto.IEPServiceFormView) {
	{{ url := sharedmodels.GetURLFromContext(ctx) }}
	<input class="hidden" data-bind="iepservice.id" value={ view.IEPService.ID }/>
	<input class="hidden" data-bind="iepservice.service_name" value={ view.IEPService.ServiceName }/>
	<fieldset>
		<legend>student</legend>
		@IEPServiceStudentSelectBox(view.Students)
	</fieldset>
	<fieldset>
		<legend>type</legend>
		@forms.SelectboxServiceType(url, "iepservice", view.IEPService.ServiceType)
		<div class="flex flex-col gap-2">
			<p class="text-sm text-neutral-content/80">minutes</p>
			<div class="flex justify-between">
				<div class="flex flex-col">
					@forms.NumberInputWithLabel(
						"iep-service-indirect-minutes",
						"indirect",
						url+"/validate",
						"iepservice.indirect_minutes",
						view.IEPService.IndirectMinutes,
					)
				</div>
				<div class="flex flex-col">
					@forms.NumberInputWithLabel(
						"iep-service-direct-minutes",
						"direct",
						url+"/validate",
						"iepservice.direct_minutes",
						view.IEPService.DirectMinutes,
					)
				</div>
			</div>
		</div>
		<div class="flex flex-col gap-2">
			<p class="text-sm text-neutral-content/80">frequency</p>
			<div class="flex items-center gap-2">
				<div class="flex flex-col">
					@forms.NumberInputWithLabel(
						"iep-service-frequency-count",
						"count",
						url+"/validate",
						"iepservice.frequency_count",
						view.IEPService.FrequencyCount,
					)
				</div>
				<span>x</span>
				@FrequencyTypeSelect(view.IEPService.FrequencyType)
			</div>
		</div>
		@ServiceLocationSelect(view.IEPService.LocationID)
		@forms.TextInputWithLabel(
			"iep-service-provider",
			"provider",
			url+"/validate",
			"iepservice.provider",
			view.IEPService.Provider,
		)
	</fieldset>
	<fieldset>
		<legend>dates</legend>
		<div class="flex gap-3">
			<div class="flex-grow">
				@label.Label(label.Props{
					For:   "start-date-input",
					Class: "mb-3 text-neutral-content/90",
				}) {
					start
				}
				@datepicker.DatePicker(datepicker.Props{
					ID:       "start-date-input",
					Class:    "input",
					DataBind: "iepservice.start_date",
					Value:    view.IEPService.StartDate.Time(),
					Attributes: templ.Attributes{
						"data-text": "$iepservice.start_date",
					},
				})
			</div>
			<div class="flex-grow">
				@label.Label(label.Props{
					For:   "start-date-input",
					Class: "mb-3",
				}) {
					end
				}
				@datepicker.DatePicker(datepicker.Props{
					ID:       "end-date-input",
					Class:    "input",
					DataBind: "iepservice.end_date",
					Value:    view.IEPService.EndDate.Time(),
					Attributes: templ.Attributes{
						"data-text": "$iepservice.end_date",
					},
				})
			</div>
		</div>
	</fieldset>
	@selectbox.Script()
	@datepicker.Script()
}
