package blocks

import (
	"seek/internal/features/iepservices/dto"
	"seek/internal/ui/core/coreblocks/forms"

	"github.com/starfederation/datastar-go/datastar"
	"seek/internal/features/_shared/sharedmodels"
)

templ CreateServiceForm(view dto.IEPServiceFormView) {
	{{ url := sharedmodels.GetURLFromContext(ctx) }}
	<form
		id="form-create-iep-service"
		class="seek-form"
		data-on:submit={ datastar.PostSSE("%s", url) }
	>
		@FormSections(view)
		<footer>
			@forms.CancelButton()
			@forms.SaveButton()
		</footer>
	</form>
}
