package blocks

import (
	"seek/pkg/templui/components/label"
	"seek/pkg/templui/components/selectbox"
)

templ FrequencyTypeSelect(selected string) {
	@selectbox.SelectBox(selectbox.Props{
		ID:    "frequency-type-multiselect-container",
		Class: "flex flex-col gap-2",
	}) {
		@label.Label(label.Props{
			For:   "frequency-type-multiselect",
			Class: "text-xs text-neutral-content/90",
		}) {
			type
		}
		@selectbox.Trigger(selectbox.TriggerProps{
			ID:    "frequency-type-multiselect",
			Class: "min-w-32",
			Attributes: templ.Attributes{
				"data-bind:iepservice.frequency_type": "",
			},
		}) {
			@selectbox.Value(selectbox.ValueProps{
				Placeholder: "-",
			})
		}
		@selectbox.Content(selectbox.ContentProps{
			NoSearch: true,
		}) {
			@selectbox.Item(selectbox.ItemProps{
				Value:    "day",
				Selected: selected == "day",
			}) {
				day
			}
			@selectbox.Item(selectbox.ItemProps{
				Value:    "week",
				Selected: selected == "week",
			}) {
				week
			}
			@selectbox.Item(selectbox.ItemProps{
				Value:    "month",
				Selected: selected == "month",
			}) {
				month
			}
			@selectbox.Item(selectbox.ItemProps{
				Value:    "year",
				Selected: selected == "year",
			}) {
				year
			}
		}
	}
}
