package datatable

import "seek/internal/views/components/table"

templ DataTable() {
	@table.Table() {
		@table.Header() {
			@table.Head() {
				test
			}
		}
		@table.Body() {
			@table.Cell() {
				test
			}
		}
	}
}