package datatable

import (
	"fmt"

	"seek/internal/features/students/dto"
	"seek/internal/views/components/badge"
	"seek/internal/views/components/icon"
	"seek/internal/views/components/table"
	"seek/internal/views/components/button"
)

templ DataTable(view dto.TableView) {
	<section data-slot="data-table">
		@Header()
		@Table(view)
	</section>
	<style>
		section[data-slot="data-table"] {
			width: 100%;
			max-width: 72rem;
			margin-left: auto;
			margin-right: auto;

			& >:not(:last-child) {
				margin-block-end: 1rem;
			}
		}
	</style>
}

templ Header() {
	<div data-slot="data-table-header">
		<div>
			<h2>students</h2>
			<p>view and edit student data.</p>
		</div>
	</div>
	<style>
		div[data-slot="data-table-header"] {
			display: flex;
			gap: var(--size--2);
			align-items: center;
			justify-content: space-between;

			div {
				p {
					color: var(--neutral-3-dim);
				}
			}
		}
	</style>
}

templ Table(view dto.TableView) {
	@table.Table() {
		@table.Header() {
			@table.Row() {
				for i := range view.Columns {
					@table.Head() {
						<div 
							{ "data-signals:table." + view.Columns[i].JSON + "=false" }
						>
							<span>
								{ view.Columns[i].Display }
							</span>
							@SortButton(view.Columns[i].JSON)						
						</div>
					}
				}
				@table.Head(table.HeadProps{
					Attributes: templ.Attributes{
						"style": "text-align: center;",
					},
				}) {
					actions 
				}
			}
		}
		@table.Body() {
			for i := range view.Rows {
				@Row(view.Columns, view.Rows[i])
			}
		}
	}
}

templ Row(columns []dto.ColumnMeta, row dto.RowView) {
	@table.Row() {
		for i := range row.Cells {
			{{ col := columns[i] }}
			@table.Cell() {
				if col.Renderer == "badge" {
					@badge.Badge() {
						{ row.Cells[i] }
					}
				} else {
					{ row.Cells[i] }
				}
			}
		}
		@table.Cell() {
			@button.Button(button.Props{
				Size: button.SizeIcon,
				Variant: button.VariantGhost,
				Href: fmt.Sprintf("/students/%s", row.ID),
			}) {
				@icon.Icon("lucide:eye")
			}
			@button.Button(button.Props{
				Size: button.SizeIcon,
				Variant: button.VariantGhost,
				Href: fmt.Sprintf("/students/%s/edit", row.ID),
			}) {
				@icon.Icon("lucide:ellipsis-vertical")
			}
		}
	}
}

templ SortButton(column string) {
	@button.Button(button.Props{
		Size: button.SizeIcon,
		Variant: button.VariantGhost,
		Attributes: templ.Attributes{
			"data-on:click": "$table." + column + "=!$table." + column + "; @post('/sort')",
			"style": "margin-left: auto;",
		},
	}) {
		@icon.Icon("lucide:arrow-up-down")
	}
}