package blocks

import (
	"fmt"

	"seek/internal/features/periods/dto"
	"seek/internal/views/components/button"
	"seek/internal/views/components/card"
	"seek/pkg/templui/components/icon"
)

templ Card(view dto.PeriodView) {
	@card.Card(card.Props{
		ID:    fmt.Sprintf("period-%s-card", view.ID),
		Class: "period-card",
	}) {
		@card.Header() {
			@card.Title() {
				{ view.Title }
			}
			@card.Description() {
				{ view.StartTime }
			}
		}
		@card.Content() {
			<p>teacher: ...</p>
			<p>location: ...</p>
			<p>days: { view.Days }</p>
			<p>
				students:
				for i := range view.Students {
					{ view.Students[i].GivenName + ", " }
				}
			</p>
		}
		@card.Footer() {
			@button.Button(button.Props{
				Href: fmt.Sprintf("/periods/%s/edit", view.ID),
			}) {
				@icon.Pencil(icon.Props{
					Size: "16",
				})
				<span>edit</span>
			}
			@button.Button() {
				@icon.Trash(icon.Props{
					Size: "16",
				})
				<span>delete</span>
			}
		}
	}
	@card.CardStyles()
}
