package blocks

import "seek/internal/features/periods/dto"

templ CardGrid(periods []dto.PeriodView) {
	<div class="period-card-grid">
		for _, period := range periods {
			@Card(period)
		}
	</div>
}
