package blocks

import (
	"fmt"

	"seek/internal/features/_shared/sharedmodels"
	"seek/internal/features/periods/dto"
	"seek/pkg/templui/components/label"
	"seek/pkg/templui/components/slider"
)

templ DurationSlider(view dto.PeriodFormView) {
	{{ url := sharedmodels.GetURLFromContext(ctx) }}
	<div class="flex flex-col">
		@label.Label(label.Props{
			For:   "period-duration-slider-trigger",
			Class: "mb-3 text-muted-foreground",
		}) {
			minutes
		}
		<neo-popover placement="bottom">
			<input
				data-neo-popover-trigger
				id="period-duration-slider-trigger"
				type="number"
				inputmode="numeric"
				pattern="[0-9]*"
				class="input text-lg text-center"
				style="width: 3rem;"
				data-bind:period.duration
				data-on:input={ fmt.Sprintf("@post('%s/validate/duration')", url) }
				value={ view.Duration }
			/>
			<div data-neo-popover-content class="flex flex-col gap-2 p-3 pt-6 h-full w-full">
				@slider.Slider(slider.Props{
					ID:          "period-duration-range-input",
					Min:         5,
					Max:         45,
					Step:        5,
					Class:       "w-full px-[0.1rem]",
					Value:       view.Duration,
					DataBind:    "period.duration",
					DataOnInput: fmt.Sprintf("@post('%s/validate/duration')", url),
				})
				<div class="period-duration-slider-marks w-full flex justify-between font-xs">
					<span>•</span><span>‧</span><span>•</span><span>‧</span><span>•</span><span>‧</span><span>•</span><span>‧</span><span>•</span>
				</div>
			</div>
		</neo-popover>
		@slider.Script()
	</div>
}

templ DurationSliderStyles() {
	<style>
		input#period-duration-slider-trigger {
			width: 3rem;
			anchor-name: --period-duration-slider-trigger;
			font-size: var(--font-size-1);
			text-align: center;
			justify-content: center;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				display: none;
			}
		}

		div#period-duration-slider-content {
			width: 20rem;
		}

		div.period-duration-slider-marks {
			display: flex;
			justify-content: space-between;
			font-size: var(--font-size--2);
			padding: 0 0.1rem;

			span {
				display: flex;
				align-items: center;
				justify-content: center;
				flex: 1;
			}
		}
	</style>
}
