package blocks

import "seek/internal/views/components/popover"

templ DurationSlider(value int) {
	<input
		id="duration-slider-trigger"
		type="number"
		class="input"
		data-bind:period.duration
		data-on:click="$foo.showPopover()"
		data-on:focus="$foo.showPopover()"
	/>
	@popover.Content(popover.ContentProps{
		ID:     "duration-slider-content",
		Anchor: "duration-slider-trigger",
		Attributes: templ.Attributes{
			"data-ref": "foo",
		},
	}) {
		<input
			type="range"
			min="5"
			max="45"
			step="5"
			id="duration-range-input"
			style="width: 100%; padding: 0; margin: 0; cursor: pointer;"
			data-bind:period.duration
		/>
		<div
			class="duration-slider-marks"
			style="display: flex; justify-content: space-between; font-size: var(--font-size--2);"
		>
			<span>•</span>
			<span>‧</span>
			<span>•</span>
			<span>‧</span>
			<span>•</span>
			<span>‧</span>
			<span>•</span>
			<span>‧</span>
			<span>•</span>
		</div>
	}
	@DurationSliderStyles()
}

templ DurationSliderStyles() {
	<style>
		input#duration-slider-trigger {
			width: 3rem;
			anchor-name: --duration-slider-trigger;
			font-size: var(--font-size-1);
			text-align: center;
			justify-content: center;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				display: none;
			}
		}

		div#duration-slider-content {
			width: 20rem;
		}

		div.duration-slider-marks {
			display: flex;
			justify-content: space-between;
			font-size: var(--font-size--2);
			padding: 0 0.1rem;

			span {
				display: flex;
				align-items: center;
				justify-content: center;
				flex: 1;
			}
		}
	</style>
}
