package blocks

import (
	"seek/internal/features/periods/dto"
	"seek/internal/ui/core/coreblocks/forms"

	"github.com/starfederation/datastar-go/datastar"
)

templ CreateForm(view dto.PeriodFormView) {
	<form id="create-period-form" class="seek-form h-min" data-on:submit={ datastar.PostSSE(view.URL) }>
		<hgroup>
			<h2>create period</h2>
			<p>create a new period.</p>
		</hgroup>
		@FormSections(view)
		<footer>
			@forms.CancelButton()
			@forms.SaveButton()
		</footer>
	</form>
}
