package blocks

import (
	"seek/internal/features/periods/dto"
	sblocks "seek/internal/features/students/blocks"
	"seek/internal/ui/core/coreblocks/forms"
)

templ FormSections(view dto.PeriodFormView) {
	<section>
		@forms.TextInputWithLabel(
			"title",
			"title",
			view.URL+"/validate",
			"period.title",
			view.Title,
		)
		@SelectboxServiceType(view)
		<div style="display: flex; gap: var(--size-1);">
			@FormTimePickers(view)
			@DurationSlider(view)
		</div>
		@forms.DayButtons(view)
		@sblocks.StudentMultiselect(view.StudentList)
	</section>
}
