package blocks

import (
	"time"

	"fmt"
	"seek/internal/features/_shared/sharedmodels"
	"seek/internal/features/periods/dto"
	"seek/pkg/templui/components/label"
	"seek/pkg/templui/components/timepicker"
)

templ FormTimePickers(view dto.PeriodFormView) {
	{{ url := sharedmodels.GetURLFromContext(ctx) }}
	{{
		// create min and max times for scool hours (8 AM to 4 PM)
		now := time.Now()
		minTime := time.Date(now.Year(), now.Month(), now.Day(), 8, 0, 0, 0, now.Location())
		maxTime := time.Date(now.Year(), now.Month(), now.Day(), 16, 0, 0, 0, now.Location())
	}}
	<div class="flex flex-col">
		@label.Label(label.Props{
			For:   "period-start-time-picker",
			Class: "mb-3 text-muted-foreground",
		}) {
			start
		}
		@timepicker.TimePicker(timepicker.Props{
			ID:          "period-start-time-picker",
			MinTime:     minTime,
			MaxTime:     maxTime,
			Step:        5,
			Placeholder: "start time",
			Class:       "input min-w-24 text-right",
			Value:       view.StartTime.Time(),
			DataBind:    "period.start_time",
			DataOnInput: fmt.Sprintf("@post('%s/validate/starttime')", url),
			DataText:    "$period.start_time",
		})
	</div>
	<div class="flex flex-col">
		@label.Label(label.Props{
			For:   "period-end-time-picker",
			Class: "mb-3 text-muted-foreground",
		}) {
			end
		}
		@timepicker.TimePicker(timepicker.Props{
			ID:          "period-end-time-picker",
			MinTime:     minTime,
			MaxTime:     maxTime,
			Step:        5,
			Placeholder: "end time",
			Class:       "input",
			Value:       view.EndTime.Time(),
			DataBind:    "period.end_time",
			DataOnInput: fmt.Sprintf("@post('%s/validate/endtime')", url),
			DataText:    "$period.end_time",
		})
	</div>
	@timepicker.Script()
}
