package blocks

import (
	"seek/internal/domain/models"
	period "seek/internal/features/periods/events"
	sblocks "seek/internal/features/students/blocks"
	"seek/internal/views/blocks/forms"
	"seek/internal/views/components/day_buttons"
	"seek/internal/views/components/input"
	"seek/internal/views/components/label"
	"seek/internal/views/dto"

	"github.com/starfederation/datastar-go/datastar"
)

type PeriodCreateFormView struct {
	Period dto.PeriodFormView
	StudentList []sblocks.StudentMultiselectView
	Validation map[string]period.Validation
}

func NewPeriodCreateFormView(p *models.Period, all []models.Student, selected []string) PeriodCreateFormView {
	if p == nil {
		return PeriodCreateFormView{}
	}
	view, err := dto.NewFormViewFromPeriod(p)
		if err != nil {
			println("form view from period error: ", err.Error())
		}
	return PeriodCreateFormView{
		Period:      view,
		StudentList: sblocks.NewStudentMultiselectView(all, selected),
		Validation:  period.Validate(p),
	}
}

templ CreateForm(view PeriodCreateFormView) {
	<form id="create-period-form" data-on:submit={ datastar.PostSSE("/periods/create") }>
		<hgroup>
			<h2>CREATE A PERIOD</h2>
			<p>create a new period.</p>
		</hgroup>
		<section>
			@label.Label(label.Props{
				ID: "title-label",
				For: "title",
				Label: "title",
				ValidationState: view.Validation["title"].State,
				ValidationMessage: view.Validation["title"].Message,
			}) {
				@input.Input(input.Props{
					ID: "title",
					Name: "title",
					DataBind: "period.title",
					DataOn: "/periods/create/validate",
					HasError: view.Validation["title"].State == "error",
					IsValid: view.Validation["title"].State == "valid",
					Value: view.Period.Title,
				})
			}
			<div style="display: flex; justify-content: space-between; gap: var(--size-1);">
				@label.Label(label.Props{
					ID: "start-time-label",
					For: "start-time",
					Label: "start time",
					ValidationState: view.Validation["start_time"].State,
					ValidationMessage: view.Validation["start_time"].Message,
				}) {
					@input.Input(input.Props{
						ID: "start-time",
						Name: "start-time",
						DataBind: "period.start_time",
						DataOn: "/periods/create/validate",
						HasError: view.Validation["start_time"].State == "error",
						IsValid: view.Validation["start_time"].State == "valid",
						Value: view.Period.StartTime,
					})
				}
				@label.Label(label.Props{
					ID: "end-time-label",
					For: "end-time",
					Label: "end time",
					ValidationState: view.Validation["end_time"].State,
					ValidationMessage: view.Validation["end_time"].Message,
				}) {
					@input.Input(input.Props{
						ID: "end-time",
						Name: "end-time",
						DataBind: "period.end_time",
						DataOn: "/periods/create/validate",
						HasError: view.Validation["end_time"].State == "error",
						IsValid: view.Validation["end_time"].State == "valid",
						Value: view.Period.EndTime,
					})
				}
			</div>
			<label for="duration">duration</label>
			<input id="duration" name="duration" data-bind:period.duration type="number" value={ view.Period.Duration } />
			@DurationSlider(30)
			@day_buttons.DayButtons(view.Period.Days)
			@sblocks.StudentMultiselect(view.StudentList)
		</section>
		<footer>
			@forms.CancelButton()
			@forms.SaveButton()
		</footer>
	</form>
}
				