package blocks

import (
	"seek/internal/features/periods/dto"
	"seek/internal/ui/core/coreblocks/forms"

	"github.com/starfederation/datastar-go/datastar"
)

templ FormEdit(view dto.PeriodFormView) {
	<form
		id="edit-period-form"
		class="seek-form w-full md:max-w-128 h-fit"
		data-on:submit={ datastar.PostSSE(view.URL) }
	>
		<hgroup>
			<h2>edit period</h2>
			<p>edit the data of an existing period.</p>
		</hgroup>
		@FormSections(view)
		<footer>
			@forms.ArchiveButton("periods", view.ID)
			@forms.CancelButton()
			@forms.SaveButton()
		</footer>
	</form>
}
