package blocks

import (
	"seek/internal/features/_shared/sharedmodels"
	"seek/internal/features/periods/dto"
	sdto "seek/internal/features/schedules/dto"
	"seek/internal/ui/core/coreblocks/forms"

	"github.com/starfederation/datastar-go/datastar"
)

templ FormEdit(view dto.PeriodFormView, schedules []sdto.PersonWithScheduleView) {
	{{ url := sharedmodels.GetURLFromContext(ctx) }}
	<form
		id="edit-period-form"
		class="seek-form w-full md:max-w-150 h-fit"
		data-on:submit={ datastar.PostSSE(url) }
	>
		@FormSections(view, schedules)
		<footer>
			@forms.ArchiveButton("periods", view.ID)
			@forms.CancelButton()
			@forms.SaveButton()
		</footer>
	</form>
}
