package blocks

import (
	"fmt"

	"seek/internal/views/components"
	"seek/internal/views/dto"
)

templ List(periods []dto.PeriodView) {
	<table>
		<thead>
			<th>link</th>
			<th>title</th>
			<th>start time</th>
			<th>duration</th>
			<th>days</th>
		</thead>
		<tbody>
			for _, period := range periods {
				<tr>
					<td>
						<a href={ fmt.Sprintf("/periods/%s", period.ID) }>
							@components.Icon("mdi:link")
						</a>
					</td>
					<td>{ period.Title }</td>
					<td>{ period.StartTime }</td>
					<td>{ period.Duration }</td>
					<td>{ period.Days }</td>
				</tr>
			}
		</tbody>
	</table>
}