package layouts

import (
	"seek/internal/resources"
	"seek/internal/views"
	"seek/internal/views/components"
	"seek/internal/domain/models"
)

templ Base(title string, user models.User) {
	<!doctype html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<title>{ title }</title>
			<script type="module" src={ resources.StaticPath("scripts/datastar.js") }></script>
    	<script type="module" src={ resources.StaticPath("scripts/datastar-inspector.js") }></script>
			<script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>
			<link rel="stylesheet" href={ resources.StaticPath("styles/stellar.css") }/>
			<link rel="stylesheet" href={ resources.StaticPath("styles/global.css") }/>
		</head>		
			<body 
				if views.IsDevelopment() {
					data-init={ views.HotReloadSSE() }
				}
			>
				@components.MainHeader(user)
				{ children... }
				@components.MainFooter()
			</body>
	</html>
}