package blocks

import (
	"seek/internal/features/users/models"
	"seek/internal/ui/core/coreblocks/forms"
	"seek/pkg/templui/components/button"
	"seek/pkg/templui/components/icon"
	"seek/pkg/templui/components/selectbox"
	"seek/pkg/templui/components/textarea"

	"github.com/starfederation/datastar-go/datastar"
)

templ EditProfileForm() {
	{{ user := models.GetUserFromContext(ctx) }}
	<form
		id="edit-profile-form"
		class="seek-form w-128"
		data-on:submit={ datastar.PostSSE("/profile/edit") }
	>
		<hgroup>
			<h2>edit your profile</h2>
			<p>make changes to your public profile information</p>
		</hgroup>
		<fieldset>
			<legend>bio</legend>
			@textarea.Textarea(textarea.Props{
				Value: user.Bio,
				Attributes: templ.Attributes{
					"data-bind:profile.bio": "",
				},
			})
			@textarea.Script()
			@selectbox.Script()
		</fieldset>
		<footer>
			@button.Button(button.Props{
				Class: "btn-warning",
				Href:  "/profile",
				Attributes: templ.Attributes{
					"style": "flex: 1;",
				},
			}) {
				@icon.X(icon.Props{
					Size: "16",
				})
				<span>cancel</span>
			}
			@forms.SaveButton()
		</footer>
	</form>
}
