package blocks

import (
	"seek/internal/features/users/models"
	"seek/internal/ui/core/coreblocks/forms"

	"github.com/starfederation/datastar-go/datastar"
	"seek/pkg/templui/components/label"
	"seek/pkg/templui/components/selectbox"
	"seek/pkg/templui/components/textarea"
)

templ EditProfileForm(user models.User) {
	<form
		id="edit-profile-form"
		class="seek-form"
		data-on:submit={ datastar.PostSSE("/profile/edit") }
	>
		<hgroup>
			<h2>edit your profile</h2>
			<p>make changes to your public profile information</p>
		</hgroup>
		<section>
			@forms.TextInputWithLabel(
				"name-label",
				"name",
				"/profile/edit/validate",
				"profile.name",
				user.Email,
			)
			@label.Label() {
				<p>
					<span class="justify-start">role</span>
					<span></span>
				</p>
				@selectbox.SelectBox() {
					@selectbox.Trigger(selectbox.TriggerProps{
						Attributes: templ.Attributes{
							"data-bind:profile.role": "",
						},
					}) {
						@selectbox.Value(selectbox.ValueProps{
							Placeholder: "select a role",
						})
					}
					@selectbox.Content(selectbox.ContentProps{
						NoSearch: true,
					}) {
						@selectbox.Item(selectbox.ItemProps{
							Value: "coteacher",
						}) {
							co-teacher
						}
						@selectbox.Item(selectbox.ItemProps{
							Value: "ea",
						}) {
							EA
						}
						@selectbox.Item(selectbox.ItemProps{
							Value: "teacher",
						}) {
							teacher
						}
						@selectbox.Item(selectbox.ItemProps{
							Value: "admin",
						}) {
							admin
						}
					}
				}
			}
			@textarea.Textarea(textarea.Props{
				Value: user.Bio,
				Attributes: templ.Attributes{
					"data-bind:profile.bio": "",
				},
			}) {
				test
			}
			@textarea.Script()
			@selectbox.Script()
		</section>
		<footer>
			@forms.CancelButton()
			@forms.SaveButton()
		</footer>
	</form>
}
