package blocks

import (
	"fmt"

	"seek/internal/domain/models"
	"seek/internal/views/components"
)

templ PeriodCards(periods []models.Period) {
	<div class="card-grid">
		for _, period := range periods {
			<div class="card">
				<a href={ fmt.Sprintf("/periods/%s", period.Id) }>
					<button>
						@components.Icon("mdi:link")
					</button>
				</a>
				<p>{ period.Title }</p>
				<p>{ period.StartTime }</p>
				<p>{ period.Duration }</p>
				<p>{ period.Days }</p>
			</div>
		}
	</div>
}