package blocks

import (
	"fmt"
	"seek/internal/domain/models"
	"seek/internal/features/period"
	"seek/internal/views/components/day_buttons"
	"seek/internal/views/components/input"
	"seek/internal/views/components/label"

	"github.com/starfederation/datastar-go/datastar"
)

templ EditPeriodForm(period, editedPeriod models.PeriodSignals, validation map[string]period.Validation) {
	<form data-on:submit={ datastar.PostSSE("/period/%s/edit", period.ID) }>
		<hgroup>
			<h2>EDIT A PERIOD</h2>
			<p>edit the data of an existing period.</p>
		</hgroup>
		<section>
			@label.Label(label.Props{
				ID: "title-label",
				For: "title",
				Label: "title",
				ValidationState: validation["title"].State,
				ValidationMessage: validation["title"].Message,
			}) {
				@input.Input(input.Props{
					ID: "title",
					Name: "title",
					DataBind: "title",
					DataOn: fmt.Sprintf("/period/%s/edit/validate", period.ID),
					HasError: validation["title"].State == "error",
					IsValid: validation["title"].State == "valid",
					Value: period.Title,
				})
			}
			<div style="display: flex; justify-content: space-between; gap: var(--size-1);">
				@label.Label(label.Props{
					ID: "start-time-label",
					For: "start-time",
					Label: "start time",
					ValidationState: validation["start_time"].State,
					ValidationMessage: validation["start_time"].Message,
				}) {
					@input.Input(input.Props{
						ID: "start-time",
						Name: "start-time",
						DataBind: "start_time",
						DataOn: fmt.Sprintf("/period/%s/edit/validate", period.ID),
						HasError: validation["start_time"].State == "error",
						IsValid: validation["start_time"].State == "valid",
						Value: period.StartTime,
					})
				}
				@label.Label(label.Props{
					ID: "end-time-label",
					For: "end-time",
					Label: "end time",
					ValidationState: validation["end_time"].State,
					ValidationMessage: validation["end_time"].Message,
				}) {
					@input.Input(input.Props{
						ID: "end-time",
						Name: "end-time",
						DataBind: "end_time",
						DataOn: fmt.Sprintf("/period/%s/edit/validate", period.ID),
						HasError: validation["end_time"].State == "error",
						IsValid: validation["end_time"].State == "valid",
						Value: "9:30",
					})
				}
			</div>
			<label for="duration">duration</label>
			<input id="duration" name="duration" data-bind:duration type="number" value={ period.Duration } />
			@day_buttons.DayButtons(period.Days)
		</section>
		<footer>
			<button 
				type="button"
				data-on:click={ datastar.PostSSE("/period/%s/delete", period.ID) }
			>
				delete
			</button>
			<button 
				type="button"
			>
				<span>cancel</span>
			</button>
			<button 
				type="submit"
			>
				<span>submit</span>
			</button>
		</footer>
	</form>
}
				