package blocks

import (
  "strconv"
	"seek/internal/domain/models"
	"seek/internal/views/components/period_card"
)

templ ScheduleStyle() {
	<style>
		#schedule-component {
			width: 100%;
			height: 100%;
			display: grid;
			grid-template-rows: auto 1fr;
			grid-template-columns: repeat(6, 1fr);
			background-color: var(--primary-4);
			color: var(--primary-4-on);
			border-style: solid;
			border-color: var(--primary-6);
			border-width: var(--border-width-0);
			border-radius: var(--border-radius-2);
			padding: var(--size-3);

			header {
				width: 100%;
				height: 100%;
				display: flex;
				padding: 0;
				grid-column: 2 / -1;

				div {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					padding: var(--size-2) var(--size-3);
				}
			}

			#schedule-times {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				font-size: var(--font-size--1);

				div {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-grow: 1;
					padding: var(--size-2) var(--size-3);
				}
			}

			#schedule-grid {
				width: 100%;
				height: 100%;
				display: grid;
				grid-template-rows: repeat(480, 1fr);
				grid-template-columns: repeat(5, 1fr);
				grid-column: 2 / -1;
			}
		}
	</style>
}

templ ScheduleComponent(periods []models.Period) {
	<div id="schedule-component">
		@DayHeaders()
		@TimeColumn()
		@GridContainer() {
			@TimeGrid(30, 480)
			@DayGrid()
			for i := range periods {
				@period_card.PeriodCard(periods[i])
			}
		}
		@ScheduleStyle()
	</div>
}

templ DayHeaders() {
  {{days := []string{
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday",
  }}}
  <header id="schedule-days">
    for _, day := range days {
      <div>
        { day }
      </div>
    }
  </header>
}

templ TimeColumn() {
  {{times := []string{
    "8:00",
    "9:00",
    "10:00",
    "11:00",
    "12:00",
    "1:00",
    "2:00",
    "3:00",
  }}}
  <div id="schedule-times">
    for _, time := range times {
      <div>
        { time }
      </div>
    }
  </div>
}

templ GridContainer() {
  <div id="schedule-grid">
    { children... }
  </div>
}

templ TimeGrid(interval int, totalRows int) {
  // using total rows + 1 so the final row has a grid
	<div class="time-grid" style="grid-row: 1 / 1;"></div>
  for index := 1; index < totalRows + 1; index++ {
    if index%interval == 0 {
      <div 
        style={"grid-row: " + strconv.Itoa(index) + " / span 1;"}
        class="time-grid"
      />
    }
  }
	<style>
		.time-grid {
			grid-column: 1 / -1;
			background-color: var(--primary-5);
			height: 1px;
		}
	</style>
}

templ DayGrid() {
  // this is ugly TODO: fix
  <div 
    style={"grid-column: 1 / span 1;"}
    class="day-grid" 
  />
  for index := 1; index < 6; index++ {
    <div 
      style={"grid-column: " + strconv.Itoa(index) + " / span 1;"}
      class="day-grid"
    />
  }
	<style>
		.day-grid {
			grid-row: 1 / -1;
			background-color: var(--primary-5);
			width: 1px;

			&~ .day-grid {
				justify-self: end;
			}
		}
	</style>
}