package blocks

import (
	"seek/internal/features/schedule"

	"github.com/starfederation/datastar-go/datastar"
	"seek/internal/views/components/input"
	"seek/internal/views/components/label"
)

templ CreateScheduleForm(validation map[string]schedule.Validation) {
	<form data-on:submit={ datastar.PostSSE("/schedule/create") }>
		<hgroup>
			<h2>CREATE A SCHEDULE</h2>
			<p>create a new schedule.</p>
		</hgroup>
		<section>
			@label.Label(label.Props{
				ID: "title-label",
				For: "title",
				Label: "title",
				ValidationState: validation["title"].State,
				ValidationMessage: validation["title"].Message,
			}) {
				@input.Input(input.Props{
					ID: "title",
					Name: "title",
					DataBind: "title",
					DataOn: "/schedule/create/validate",
					HasError: validation["title"].State == "error",
					IsValid: validation["title"].State == "valid",
				})
			}
			@label.Label(label.Props{
				ID: "teacher-id-label",
				For: "teacher-id",
				Label: "teacher id",
				ValidationState: validation["teacher_id"].State,
				ValidationMessage: validation["teacher_id"].Message,
			}) {
				@input.Input(input.Props{
					ID: "teacher-id",
					Name: "teacher-id",
					DataBind: "teacher_id",
					DataOn: "/schedule/create/validate",
					HasError: validation["teacher_id"].State == "error",
					IsValid: validation["teacher_id"].State == "valid",
				})
			}
		</section>
		<footer>
			<button 
				type="button"
			>
				<span>cancel</span>
			</button>
			<button 
				type="submit"
			>
				<span>submit</span>
			</button>
		</footer>
	</form>
}
				