package blocks

import (
	"fmt"
	
	"seek/internal/domain/models"
	"seek/internal/features/schedule"
	"seek/internal/views/components/input"
	"seek/internal/views/components/label"
	"seek/internal/views/components/select"

	"github.com/starfederation/datastar-go/datastar"
)

templ EditScheduleForm(schedule models.Schedule, teachers []models.Teacher, periods []models.Period, validation map[string]schedule.Validation, selectedTeacherId string) {
	<form data-on:submit={ datastar.PostSSE("/schedule/%s/edit", schedule.Id) }>
		<hgroup>
			<h2>EDIT A SCHEDULE</h2>
			<p>edit the data of an existing schedule.</p>
		</hgroup>
		<section>
			@label.Label(label.Props{
				ID: "title-label",
				For: "title",
				Label: "title",
				ValidationState: validation["title"].State,
				ValidationMessage: validation["title"].Message,
			}) {
				@input.Input(input.Props{
					ID: "title",
					Name: "title",
					DataBind: "title",
					DataOn: fmt.Sprintf("/schedule/%s/edit/validate", schedule.Id),
					HasError: validation["title"].State == "error",
					IsValid: validation["title"].State == "valid",
					Value: schedule.Title,
				})
			}
		</section>
		<section>
			<label for="teacher-select">
				<span>teacher</span>
				@ui_select.Select(ui_select.Props{
					ID: "teacher-select",
					Placeholder: "select a teacher",
					DataBind: "teacher_id",
					DataOnChange: fmt.Sprintf("/schedule/%s/edit/validate", schedule.Id),
				}) {
					for index, teacher := range teachers {
						<option 
						id={ fmt.Sprintf( "option-%d", index ) }
						if teacher.ID == selectedTeacherId {
							selected
						}
						value={ teacher.ID }
						>
							{ teacher.DisplayName() }
						</option>
					}
				}
			</label>
		</section>
		<section>
			<label for="periods">
				<span>periods</span>
				<select id="periods" multiple name="periods" data-bind:periods>
					for _, period := range periods {
						<option>{ period.Title }</option>
					}
				</select>
			</label>
		</section>
		<footer>
			<button 
				type="button"
				data-on:click={ datastar.PostSSE("/schedule/%s/delete", schedule.Id) }
			>
				delete
			</button>
			<button 
				type="button"
			>
				<span>cancel</span>
			</button>
			<button 
				type="submit"
			>
				<span>submit</span>
			</button>
		</footer>
	</form>
}
				