package blocks

import (
	"fmt"
	
	"seek/internal/domain/models"
	"seek/internal/features/schedule"
	"seek/internal/views/components/input"
	"seek/internal/views/components/label"
	"seek/internal/views/components/selectbox"

	"github.com/starfederation/datastar-go/datastar"
)

templ EditScheduleForm(schedule models.Schedule, teachers []models.Teacher, periods []models.Period, validation map[string]schedule.Validation, selectedTeacherId string) {
	<form data-on:submit={ datastar.PostSSE("/schedules/%s/edit", schedule.Id) }>
		<hgroup>
			<h2>EDIT A SCHEDULE</h2>
			<p>edit the data of an existing schedule.</p>
		</hgroup>
		<section>
			@label.Label(label.Props{
				ID: "title-label",
				For: "title",
				Label: "title",
				ValidationState: validation["title"].State,
				ValidationMessage: validation["title"].Message,
			}) {
				@input.Input(input.Props{
					ID: "title",
					Name: "title",
					DataBind: "title",
					DataOn: fmt.Sprintf("/schedules/%s/edit/validate", schedule.Id),
					HasError: validation["title"].State == "error",
					IsValid: validation["title"].State == "valid",
					Value: schedule.Title,
				})
			}
		</section>
		<section>
			@label.Label(label.Props{
				ID: "teacher-select-label",
				For: "teacher-select",
				Label: "teacher",
				ValidationState: validation["teacher_id"].State,
				ValidationMessage: validation["teacher_id"].Message,
			}) {
				@selectbox.Select(selectbox.Props{
					ID: "teacher-select",
					Placeholder: "select a teacher",
					DataBind: "teacher_id",
					DataOnChange: fmt.Sprintf("/schedules/%s/edit/validate", schedule.Id),
					HasError: validation["teacher_id"].State == "error",
					IsValid: validation["teacher_id"].State == "valid",
				}) {
					for index, teacher := range teachers {
						<option 
						id={ fmt.Sprintf( "option-%d", index ) }
						if teacher.ID == selectedTeacherId {
							selected
						}
						value={ teacher.ID }
						>
							{ teacher.DisplayName() }
						</option>
					}
				}
			}
		</section>
		<section>
			@label.Label(label.Props{
				ID: "periods-multiselect-label",
				For: "periods-multiselect",
				Label: "select period(s)",
				ValidationState: validation["periods"].State,
				ValidationMessage: validation["periods"].Message,
			}) {
				@selectbox.Select(selectbox.Props{
					ID: "periods-multiselect",
					DataBind: "period_ids",
					DataOnChange: fmt.Sprintf("/schedules/%s/edit/validate", schedule.Id),
					HasError: validation["periods"].State == "error",
					IsValid: validation["periods"].State == "valid",
					Multiple: true,
				}) {
					for index, period := range periods {
						<option 
						id={ fmt.Sprintf( "option-%d", index ) }
						value={ period.Id }
						>
							{ period.Title }
							{ period.StartTime }
							{ period.Duration }
						</option>
					}
				}
			}
		</section>
		<footer>
			<button 
				type="button"
				data-on:click={ datastar.PostSSE("/schedules/%s/delete", schedule.Id) }
			>
				delete
			</button>
			<button 
				type="button"
			>
				<span>cancel</span>
			</button>
			<button 
				type="submit"
			>
				<span>submit</span>
			</button>
		</footer>
	</form>
}
				