package blocks

import (
	"fmt"
	
	"seek/internal/domain/models"
	"seek/internal/features/schedule"
	"seek/internal/views/components/input"
	"seek/internal/views/components/label"
	"seek/internal/views/components/selectbox"

	"github.com/starfederation/datastar-go/datastar"
)

type EditScheduleViewModel struct {
	Schedule   models.ScheduleSignals
	SchedulePeriods []models.PeriodSignals
	Validation map[string]schedule.Validation
	Teachers   []models.TeacherSignals // list of teachers TODO remove this
	Periods    []models.PeriodSignals  // list of periods TODO remove this
}

templ EditScheduleForm(vm EditScheduleViewModel) {
	<form id="edit-schedule-form" data-on:submit={ datastar.PostSSE("/schedules/%s/edit", vm.Schedule.ID) }>
		<hgroup>
			<h2>EDIT A SCHEDULE</h2>
			<p>edit the data of an existing schedule.</p>
		</hgroup>
		<section>
			@label.Label(label.Props{
				ID: "title-label",
				For: "title",
				Label: "title",
				ValidationState: vm.Validation["title"].State,
				ValidationMessage: vm.Validation["title"].Message,
			}) {
				@input.Input(input.Props{
					ID: "title",
					Name: "title",
					DataBind: "schedule.title",
					DataOn: fmt.Sprintf("/schedules/%s/edit/validate", vm.Schedule.ID),
					HasError: vm.Validation["title"].State == "error",
					IsValid: vm.Validation["title"].State == "valid",
					Value: vm.Schedule.Title,
				})
			}
		</section>
		<section>
			@label.Label(label.Props{
				ID: "teacher-select-label",
				For: "teacher-select",
				Label: "teacher",
				ValidationState: vm.Validation["teacher_id"].State,
				ValidationMessage: vm.Validation["teacher_id"].Message,
			}) {
				@selectbox.Select(selectbox.Props{
					ID: "teacher-select",
					Placeholder: "select a teacher",
					DataBind: "schedule.teacher_id",
					DataOnChange: fmt.Sprintf("/schedules/%s/edit/validate", vm.Schedule.ID),
					HasError: vm.Validation["teacher_id"].State == "error",
					IsValid: vm.Validation["teacher_id"].State == "valid",
				}) {
					for index, teacher := range vm.Teachers {
						<option 
						id={ fmt.Sprintf( "option-%d", index ) }
						if teacher.ID == vm.Schedule.TeacherID {
							selected
						}
						value={ teacher.ID }
						>
							{ teacher.FirstName }
						</option>
					}
				}
			}
		</section>
		<section>
			@label.Label(label.Props{
				ID: "periods-multiselect-label",
				For: "periods-multiselect",
				Label: "select period(s)",
				ValidationState: vm.Validation["periods"].State,
				ValidationMessage: vm.Validation["periods"].Message,
			}) {
				@selectbox.Select(selectbox.Props{
					ID: "periods-multiselect",
					DataBind: "schedule.period_ids",
					DataOnChange: fmt.Sprintf("/schedules/%s/edit/validate", vm.Schedule.ID),
					HasError: vm.Validation["periods"].State == "error",
					IsValid: vm.Validation["periods"].State == "valid",
					Multiple: true,
				}) {
					for index, period := range vm.Periods {
						{{
							selected := false
						}}
						for _, periodID := range vm.Schedule.PeriodIDs {
							if period.ID == periodID {
								{{ selected = true }}
							}
						}
						<option 
						id={ fmt.Sprintf( "option-%d", index ) }
						value={ period.ID }
						if selected {
							selected
						}
						>
							{ period.Title }
							{ period.StartTime }
							{ period.Duration }
						</option>
					}
				}
			}
		</section>
		<section>
		</section>
		<footer>
			<button 
				type="button"
				style="background-color: var(--gruvbox-red-neutral-0);"
				data-on:click={ datastar.PostSSE("/schedules/%s/delete", vm.Schedule.ID) }
			>
				delete
			</button>
			<button 
				type="button"
			>
				<span>cancel</span>
			</button>
			<button 
				type="submit"
			>
				<span>submit</span>
			</button>
		</footer>
	</form>
}
				