package blocks

import (
	"fmt"

	"seek/internal/domain/models"
	"seek/internal/features/schedule"
	"seek/internal/views/components/input"
	"seek/internal/views/components/label"
	"seek/internal/views/components/select"

	"github.com/starfederation/datastar-go/datastar"
)

templ CreateScheduleForm(schedule models.Schedule, teachers []models.Teacher, periods []models.Period, validation map[string]schedule.Validation, selectedTeacherId string) {
	<form data-on:submit={ datastar.PostSSE("/schedule/create") }>
		<hgroup>
			<h2>CREATE A SCHEDULE</h2>
			<p>create a new schedule.</p>
		</hgroup>
		<section>
			@label.Label(label.Props{
				ID: "title-label",
				For: "title",
				Label: "title",
				ValidationState: validation["title"].State,
				ValidationMessage: validation["title"].Message,
			}) {
				@input.Input(input.Props{
					ID: "title",
					Name: "title",
					DataBind: "title",
					DataOn: "/schedule/create/validate",
					HasError: validation["title"].State == "error",
					IsValid: validation["title"].State == "valid",
				})
			}
		</section>
		<section>
			<label for="teacher-select">
				<span>teacher</span>
				@ui_select.Select(ui_select.Props{
					ID: "teacher-select",
					Placeholder: "select a teacher",
					DataBind: "teacher_id",
					DataOnChange: fmt.Sprintf("/schedule/create/validate"),
				}) {
					for index, teacher := range teachers {
						<option 
						id={ fmt.Sprintf( "option-%d", index ) }
						if teacher.Id == selectedTeacherId {
							selected
						}
						value={ teacher.Id }
						>
							{ teacher.DisplayName() }
						</option>
					}
				}
			</label>
		</section>
		<section>
			<label for="periods">
				<span>periods</span>
				<select id="periods" multiple name="periods" data-bind:periods>
					for _, period := range periods {
						<option>{ period.Title }</option>
					}
				</select>
			</label>
		</section>
		<footer>
			<button 
				type="button"
			>
				<span>cancel</span>
			</button>
			<button 
				type="submit"
			>
				<span>submit</span>
			</button>
		</footer>
	</form>
}
				