package blocks

import (
	"seek/internal/views"
)

templ StudentList(students []views.Student) {
	<table>
		<thead>
			<th>first</th>
			<th>chosen</th>
			<th>last</th>
			<th>grade</th>
			<th>homeroom</th>
			<th>case manager</th>
		</thead>
		<tbody>
			for _, student := range students {
				<tr>
					<td>{student.FirstName}</td>
					<td>{student.ChosenName}</td>
					<td>{student.LastName}</td>
					<td>{student.Grade}</td>
					<td>{student.Homeroom}</td>
					<td>{student.CaseManager}</td>
				</tr>
			}
		</tbody>
	</table>
}