package blocks

import (
	"seek/internal/views"
)

templ StudentList(students []views.Student) {
	<table>
		<thead>
			<th>first</th>
			<th>chosen</th>
			<th>last</th>
			<th>grade</th>
			<th>homeroom</th>
			<th>case manager</th>
		</thead>
		<tbody>
			for _, student := range students {
				<tr>
					<td>{student.FirstName}</td>
					<td>
						if student.ChosenName != nil {
							{*student.ChosenName}
						}
						else {
							""
						}
					</td>
					<td>{student.LastName}</td>
					<td>{student.Grade}</td>
					<td>{student.Homeroom}</td>
					<td>
							if student.CaseManager != nil {
								{*student.CaseManager}
							}
							else {
								""
							}
					</td>
				</tr>
			}
		</tbody>
	</table>
}

templ StudentCards(students []views.Student) {
	<section style="display: flex; flex-direction: row; gap: 4px; flex-wrap: wrap;">
		for _, student := range students {
			<div class="card">
				<p>
					if student.ChosenName != nil {
						{ *student.ChosenName }
					}
					else {
						{ student.FirstName }
					} { student.LastName }
				</p>
				<p>{ student.Grade }</p>
				<p>{ student.Homeroom }</p>
				if student.CaseManager != nil {
					<p>{ *student.CaseManager }</p>
				}
				else {
					""
				}
			</div>
		}
	</section>
}