package blocks

import (
	"fmt"

  "seek/internal/views/components/selectbox"
	"seek/internal/domain/models"
)

type StudentMultiselectView struct {
	StudentID string
	DisplayName string
	Selected bool
}

func NewStudentMultiselectView(all []models.Student, selected []string) []StudentMultiselectView {
	view := make([]StudentMultiselectView, len(all))
	selectedMap := make(map[string]bool, len(selected))
	for i := range selected {
		selectedMap[selected[i]] = true
	}
	for i := range all {
		view[i] = StudentMultiselectView{
			StudentID:   all[i].Id,
			DisplayName: all[i].FirstLast(),
			Selected:    selectedMap[all[i].Id],
		}
	}
	return view
}

templ StudentMultiselect(s []StudentMultiselectView) {
	@selectbox.Select(selectbox.Props{
		ID: "student-multiselect",
		Multiple: true,
		DataBind: "period.student_ids",
	}) {
		for i := range s {
			<option 
			id={ fmt.Sprintf( "option-%d", i ) }
			value={ s[i].StudentID }
			if s[i].Selected {
				selected
			}
			>
				{ s[i].DisplayName }
			</option>
		}
	}
}