package blocks

templ StudentList() {
	<table>
		<thead>
			<th>name</th>
			<th>grade</th>
			<th>homeroom</th>
			<th>case manager</th>
			<th>services</th>
			<th>goals</th>
		</thead>
		<tbody>
			<tr>
				<td>bob</td>
				<td>5th</td>
				<td>scott</td>
				<td>!uke</td>
				<td>xcv</td>
				<td>xcv</td>
			</tr>
			<tr>
				<td>alice</td>
				<td>6th</td>
				<td>scott</td>
				<td>megan</td>
				<td>xv</td>
				<td>xcv</td>
			</tr>
		</tbody>
	</table>
}