package blocks

import (
	"fmt"

	"seek/internal/domain/models"
)

templ TeacherList(teachers []models.Teacher) {
	<table>
		<thead>
			<th>first</th>
			<th>chosen</th>
			<th>last</th>
		</thead>
		<tbody>
			for _, teacher := range teachers {
				<tr>
					<td>
						<a href={ fmt.Sprintf("/teachers/%s", teacher.ID) }>{ teacher.FirstName }</a>
					</td>
					<td>
						if teacher.ChosenName != nil {
							{*teacher.ChosenName}
						}
					</td>
					<td>{teacher.LastName}</td>
				</tr>
			}
		</tbody>
	</table>
}